Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

Solving PEP-8 Issues
  pandas/core/indexes/accessors.py
  pandas/tests/series/methods/test_tz_localize.py
Due: use-pd_array-in-core

TST GH#40498 Add benchmark tests for fillna using value.
  asv_bench/benchmarks/frame_methods.py
  asv_bench/benchmarks/series_methods.py
Due: none

BUG GH#40498 Add conditional for object dtype to avoid performance decrease.
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Updated test_nlargest and docs
  doc/source/whatsnew/v1.4.0.rst
  pandas/tests/series/methods/test_nlargest.py
Due: flake8-rst

DOC PR09 Add "." on to_hdf format parameter
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

DOC PR09 Add "." on to_hdf format parameter (#43246)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

tests work now
  pandas/core/generic.py
  pandas/tests/frame/conftest.py
  pandas/tests/frame/methods/test_between_time copy.py
Due: use-pd_array-in-core, no-bool-in-core-generic

comments updated
  pandas/core/generic.py
  pandas/tests/frame/methods/test_between_time.py
Due: use-pd_array-in-core, no-bool-in-core-generic

deleted test_between_time.py backup (duplicate)
  pandas/tests/frame/methods/test_between_time copy.py
Due: none

removed unused import
  pandas/tests/frame/conftest.py
Due: none

linting improvement
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

aremoved debug print statements
  pandas/tests/frame/methods/test_between_time.py
Due: none

linting improvements
  pandas/core/generic.py
  pandas/tests/frame/methods/test_between_time.py
Due: use-pd_array-in-core, no-bool-in-core-generic

added example for default param in dataframe.get doc
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

updated docstring for between_time()
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Make arg order consistent with read_csv
  pandas/io/parsers/readers.py
Due: none

Add WhatsNew
  pandas/tests/io/test_fsspec.py
Due: none

WhatsNew
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

made whats new entry
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

made suggested changes in dataframe.get example
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

more changes
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

fixup
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Added example to Dataframe.get docs (#43233)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

converted the assert error to TypeError with proper informative message
  pandas/core/indexes/base.py
Due: use-pd_array-in-core

DOC: Update minimum pip version (#43241)
  doc/source/getting_started/install.rst
Due: flake8-rst

BUG: Pass index data correctly in groupby.transform/agg w/ engine=numba (#43172)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_numba.py
  pandas/tests/groupby/transform/test_numba.py
Due: flake8-rst, use-pd_array-in-core

Backport PR #43172: BUG: Pass index data correctly in groupby.transform/agg w/ engine=numba
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_numba.py
  pandas/tests/groupby/transform/test_numba.py
Due: flake8-rst, use-pd_array-in-core

Fix promote issue in range putmask
  pandas/core/indexes/base.py
  pandas/tests/indexes/ranges/test_setops.py
Due: use-pd_array-in-core

Improve test and add whatsnew
  doc/source/whatsnew/v1.3.3.rst
  pandas/tests/indexes/ranges/test_setops.py
Due: flake8-rst

Change issue reference
  doc/source/whatsnew/v1.3.3.rst
Due: flake8-rst

converted to f string and used if instead of try except
  pandas/core/indexes/base.py
Due: use-pd_array-in-core

checking if ndims of indices is 0 and raising appropriate error
  pandas/core/indexes/base.py
Due: use-pd_array-in-core

typing of callable for apply methods in styler (#43148)
  pandas/io/formats/style.py
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
