Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

unwanted-patterns-doesnt-use-pandas-warnings:
  name: Check that warning classes for deprecations use pandas' warning classes
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="doesnt_use_pandas_warnings"

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

validate-errors-locations:
  name: Validate errors locations
  description: Validate errors are in appropriate locations.
  entry: python scripts/validate_exception_location.py
  language: python

check-test-naming:
  name: check that test names start with 'test'
  entry: python -m scripts.check_test_naming
  language: python

sort-whatsnew-items:
  name: sort whatsnew entries alphabetically
  entry: python -m scripts.sort_whatsnew_note
  language: python

add whatsnew
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

format edits
  pandas/tests/frame/methods/test_drop.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

DOC: Rewrite BYearEnd docstring with See Also and examples GH#52431
  pandas/_libs/tslibs/offsets.pyx
Due: none

TST: add check_freq=False to remaining CI failures
  pandas/tests/indexes/datetimes/test_setops.py
  pandas/tests/indexes/test_index_new.py
  pandas/tests/indexes/test_old_base.py
  pandas/tests/indexes/timedeltas/methods/test_astype.py
  pandas/tests/indexes/timedeltas/test_setops.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: add check_freq=False to test_unique and test_normalize
  pandas/tests/base/test_unique.py
  pandas/tests/indexes/datetimes/methods/test_normalize.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: add check_freq parameter to assert_index_equal (#51920)
  pandas/_testing/asserters.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/arithmetic/test_timedelta64.py
  pandas/tests/base/test_unique.py
  pandas/tests/base/test_value_counts.py
  pandas/tests/frame/methods/test_reset_index.py
  pandas/tests/frame/methods/test_set_index.py
  pandas/tests/frame/methods/test_sort_index.py
  pandas/tests/frame/methods/test_to_csv.py
  pandas/tests/frame/methods/test_tz_convert.py
  pandas/tests/groupby/methods/test_nlargest_nsmallest.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_timegrouper.py
  pandas/tests/indexes/datetimes/methods/test_astype.py
  pandas/tests/indexes/datetimes/methods/test_factorize.py
  pandas/tests/indexes/datetimes/methods/test_insert.py
  pandas/tests/indexes/datetimes/methods/test_round.py
  pandas/tests/indexes/datetimes/methods/test_tz_convert.py
  pandas/tests/indexes/datetimes/methods/test_tz_localize.py
  pandas/tests/indexes/datetimes/test_arithmetic.py
  pandas/tests/indexes/datetimes/test_constructors.py
  pandas/tests/indexes/datetimes/test_date_range.py
  pandas/tests/indexes/datetimes/test_setops.py
  pandas/tests/indexes/datetimes/test_timezones.py
  pandas/tests/indexes/test_any_index.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/timedeltas/methods/test_astype.py
  pandas/tests/indexes/timedeltas/test_constructors.py
  pandas/tests/indexes/timedeltas/test_setops.py
  pandas/tests/indexes/timedeltas/test_timedelta_range.py
  pandas/tests/io/pytables/test_store.py
  pandas/tests/io/pytables/test_timezones.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tests/resample/test_resample_api.py
  pandas/tests/resample/test_resampler_grouper.py
  pandas/tests/reshape/concat/test_series.py
  pandas/tests/reshape/test_pivot.py
  pandas/tests/series/test_constructors.py
  pandas/tests/test_algos.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

TST: add check_freq=False to test_to_timestamp_hourly
  pandas/tests/frame/methods/test_to_timestamp.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: fix remaining check_freq CI failures
  pandas/tests/indexes/datetimelike_/test_value_counts.py
  pandas/tests/indexes/interval/test_constructors.py
  pandas/tests/indexes/interval/test_interval.py
  pandas/tests/indexes/multi/test_analytics.py
  pandas/tests/indexes/multi/test_constructors.py
  pandas/tests/indexes/multi/test_reshape.py
  pandas/tests/indexes/test_datetimelike.py
  pandas/tests/indexes/test_old_base.py
  pandas/tests/io/excel/test_writers.py
  pandas/tests/resample/test_resampler_grouper.py
  pandas/tests/window/test_groupby.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: Sync NaT.strftime docstring with Timestamp.strftime
  pandas/_libs/tslibs/nattype.pyx
Due: none

BUG: Use %N instead of %n for Timestamp.strftime nanosecond directive
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_formats.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

BUG: Add %n directive to Timestamp.strftime for nanosecond formatting
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_formats.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

ENH: Address review feedback on Timestamp.strftime %N directive
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/series/accessors/test_dt_accessor.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

CLN: improve tests and warning filter for TimedeltaIndex string slicing
  pandas/core/indexes/timedeltas.py
  pandas/tests/indexes/timedeltas/test_indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: Fix TimedeltaIndex string slice resolution (GH#33603)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/indexes/timedeltas.py
  pandas/tests/indexes/timedeltas/test_indexing.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

CLN: re-sort whatsnew entries after rebase
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

CLN: sort whatsnew entries alphabetically
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: update SeriesGroupBy.apply doctest to not use deprecated .name
  pandas/core/groupby/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DEPR: pinning group key to name attribute in groupby UDFs
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_timegrouper.py
  pandas/tests/groupby/transform/test_transform.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: read_csv dtype="category" now infers numeric categories
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/categorical.py
  pandas/io/_util.py
  pandas/io/parsers/python_parser.py
  pandas/tests/io/parser/dtypes/test_categorical.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TYP: fix pyright/mypy errors for numpy_dtype attribute access
  pandas/core/arrays/categorical.py
  pandas/io/_util.py
  pandas/tests/io/parser/dtypes/test_categorical.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

DEPR: Series/Index.values lossy behavior for DatetimeTZDtype, PeriodDtype, IntervalDtype
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
  pandas/_testing/asserters.py
  pandas/conftest.py
  pandas/core/arrays/arrow/array.py
  pandas/core/computation/align.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/period.py
  pandas/core/internals/blocks.py
  pandas/core/series.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arithmetic/test_period.py
  pandas/tests/base/test_fillna.py
  pandas/tests/base/test_unique.py
  pandas/tests/indexes/datetimes/methods/test_tz_localize.py
  pandas/tests/indexes/datetimes/test_date_range.py
  pandas/tests/indexes/datetimes/test_indexing.py
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/indexes/period/test_constructors.py
  pandas/tests/indexes/period/test_indexing.py
  pandas/tests/indexes/period/test_period.py
  pandas/tests/indexes/period/test_period_range.py
  pandas/tests/indexes/test_any_index.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/test_old_base.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_parquet.py
  pandas/tests/reductions/test_reductions.py
  pandas/tests/series/accessors/test_dt_accessor.py
  pandas/tests/series/methods/test_astype.py
  pandas/tests/series/methods/test_copy.py
  pandas/tests/series/methods/test_values.py
  pandas/tests/series/test_constructors.py
  pandas/tests/tools/test_to_numeric.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

[cln] test param names
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Fix CI: additional test and doc fixes for .values deprecation
  doc/source/whatsnew/v0.19.0.rst
  pandas/tests/test_algos.py
  pandas/tests/util/test_hashing.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Fix CI: plotting internal .values calls + test/xarray fixes
  pandas/plotting/_matplotlib/converter.py
  pandas/plotting/_matplotlib/core.py
  pandas/tests/generic/test_to_xarray.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/frame/test_frame_subplots.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Fix CI: mypy errors in arrow/array.py + doc build warning in v0.24.0.rst
  doc/source/whatsnew/v0.24.0.rst
Due: incorrect-backticks

Fix CI: add filterwarnings for TestParquetFastParquet
  pandas/tests/io/test_parquet.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

API: implement Period(|Dtype|Array|Index).unit, remove ._freqstr
  doc/source/reference/arrays.rst
  doc/source/reference/indexing.rst
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/core/arrays/period.py
  pandas/core/dtypes/dtypes.py
  pandas/core/generic.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/period.py
  pandas/core/resample.py
  pandas/io/json/_table_schema.py
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tseries/frequencies.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

add unit to period.pyi
  pandas/_libs/tslibs/period.pyi
Due: none

post-rebase change _freqstr->unit
  pandas/_libs/tslibs/period.pyx
Due: none

post-rebase _freqstr->unit
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/period.pyx
Due: none

update code_checks
  pandas/core/arrays/period.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

whatsnew
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

post-rebase mixup
  pandas/_libs/tslibs/period.pyx
Due: none

post-rebase fixup: _freqstr->unit in DatetimeIndex.to_period
  pandas/core/indexes/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

fix missing cache_readonly import in PeriodIndex
  pandas/core/indexes/period.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

sort whatsnew entries
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

post-rebase fixup: move PeriodIndex.unit ignore to conf.py
  doc/source/conf.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

post-rebase fixup: restore lstrip in _maybe_coerce_freq (GH#50355)
  pandas/tseries/frequencies.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

STY: fix ruff-format in to_datetime
  pandas/core/tools/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
