Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

Backport PR #45195: BLD: updated pydata-sphinx-theme to master in environment.yml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

push to 1.5.0
  pandas/core/frame.py
Due: use-pd_array-in-core

push to 1.5.0
  pandas/tests/io/formats/test_to_html.py
Due: none

doctests for depr closed arg
  pandas/core/indexes/datetimes.py
Due: use-pd_array-in-core

BUG: SparseArray doesn't recalc indices. (#44956, #45110)
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_arithmetics.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/extension/test_sparse.py
Due: use-pd_array-in-core

Move added text into note section
  pandas/core/indexes/multi.py
Due: use-pd_array-in-core

Backport PR #45199: CI: activate azure pipelines/github actions on 1.4.x (#45201)
  .github/workflows/code-checks.yml
  .github/workflows/datamanger.yml
  .github/workflows/docbuild-and-upload.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
  .github/workflows/sdist.yml
  azure-pipelines.yml
Due: none

DEPR: is_monotonic in favor of is_monotonic_increasing
  asv_bench/benchmarks/index_cached_properties.py
  asv_bench/benchmarks/multiindex_object.py
  pandas/core/base.py
  pandas/core/generic.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/missing.py
  pandas/core/reshape/merge.py
  pandas/tests/frame/methods/test_sort_index.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/indexes/datetimelike_/test_is_monotonic.py
  pandas/tests/indexes/datetimelike_/test_sort_values.py
  pandas/tests/indexes/datetimes/test_join.py
  pandas/tests/indexes/interval/test_interval.py
  pandas/tests/indexes/multi/test_get_level_values.py
  pandas/tests/indexes/multi/test_indexing.py
  pandas/tests/indexes/multi/test_integrity.py
  pandas/tests/indexes/multi/test_monotonic.py
  pandas/tests/indexes/multi/test_sorting.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/indexes/ranges/test_range.py
  pandas/tests/indexing/multiindex/test_sorted.py
  pandas/tests/reductions/test_reductions.py
  pandas/tests/reshape/merge/test_join.py
  pandas/tests/reshape/merge/test_merge_asof.py
  pandas/tests/reshape/test_pivot.py
  pandas/tests/series/methods/test_asof.py
  pandas/tests/series/methods/test_is_monotonic.py
  pandas/tests/test_multilevel.py
  pandas/tests/window/test_timeseries_window.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Change implied_category to base_category
  doc/source/user_guide/reshaping.rst
  pandas/core/reshape/reshape.py
  pandas/tests/reshape/test_from_dummies.py
Due: flake8-rst, use-pd_array-in-core

CI: Use broader condition to maybe catch ResourceWarning from Matplotlib
  pandas/_testing/_warnings.py
Due: none

Add proper reference to get_dummies in docstring
  pandas/core/reshape/reshape.py
Due: use-pd_array-in-core

Remove unnecessary copy of input data
  pandas/core/reshape/reshape.py
Due: use-pd_array-in-core

typo: update 06_calculate_statistics
  doc/source/getting_started/intro_tutorials/06_calculate_statistics.rst
Due: flake8-rst

Move dummy functions to separate dummy_coding.py file
  pandas/core/reshape/api.py
  pandas/core/reshape/dummy_coding.py
  pandas/core/reshape/reshape.py
Due: use-pd_array-in-core

Backport PR #45195: BLD: updated pydata-sphinx-theme to master in environment.yml (#45202)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

grammar
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

TST/REF: port coercion tests to SetitemCastingEquivalents
  pandas/tests/indexing/test_coercion.py
  pandas/tests/series/indexing/test_setitem.py
Due: none

address PR comments
  pandas/core/config_init.py
  pandas/core/frame.py
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge_conditional.py
Due: use-pd_array-in-core

pre-commit
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge_conditional.py
Due: use-pd_array-in-core

DEPR: iteritems, Series.keys
  pandas/core/arrays/sparse/accessor.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/io/pytables.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/series/test_iteration.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Sync docstrings
  pandas/core/base.py
  pandas/core/indexes/base.py
Due: use-pd_array-in-core

Backport PR #44894: DOC: `MultiIndex.get_level_values` mentions implicit type casting if level contains null.
  pandas/core/indexes/multi.py
Due: use-pd_array-in-core

older numpy compat, share more
  pandas/tests/indexing/test_coercion.py
  pandas/tests/series/indexing/test_setitem.py
Due: none

Backport PR #45138: ENH: add `cline` to `Styler.to_latex`
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/io/formats/templates/latex_longtable.tpl
  pandas/io/formats/templates/latex_table.tpl
  pandas/tests/io/formats/style/test_to_latex.py
Due: flake8-rst

CLN: suppress warnings
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/lib.pyx
  pandas/core/arrays/masked.py
  pandas/core/dtypes/cast.py
  pandas/core/indexing.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/core/reshape/reshape.py
  pandas/tests/frame/test_ufunc.py
  pandas/tests/io/test_parquet.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tests/test_downstream.py
  pandas/util/_test_decorators.py
Due: flake8-rst, use-pd_array-in-core

collections -> collections.abc
  pandas/core/reshape/merge.py
Due: use-pd_array-in-core

Backport PR #45205: DOC: fix typo in 06_calculate_statistics
  doc/source/getting_started/intro_tutorials/06_calculate_statistics.rst
Due: flake8-rst

Fix docstring section order
  pandas/core/reshape/reshape.py
Due: use-pd_array-in-core

REGR: Index(pd.array(foo), dtype=object)
  pandas/core/indexes/base.py
  pandas/tests/indexes/test_index_new.py
Due: use-pd_array-in-core

mypy fixup
  pandas/tests/indexing/test_coercion.py
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
