Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

Add html
  pandas/io/html.py
  pandas/tests/io/test_html.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Fix excel
  pandas/io/excel/_base.py
  pandas/tests/io/excel/test_readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Add whatsnew
  doc/source/whatsnew/v3.0.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DEPR: Remove Index type checking attributes (#57231)
  doc/source/reference/index.rst
  doc/source/reference/indexing.rst
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/indexes/base.py
  pandas/io/formats/format.py
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/core.py
  pandas/tests/indexes/test_old_base.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

DOC: fix PR02 errors in docstring for pandas.core.groupby.SeriesGroupBy.apply (#57288)
  ci/code_checks.sh
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  scripts/validate_unwanted_patterns.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

removed test for int8 and added issue number
  pandas/tests/reductions/test_reductions.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Moving contribution note to 3.0
  doc/source/whatsnew/v2.2.0.rst
  doc/source/whatsnew/v3.0.0.rst
Due: incorrect-backticks, sort-whatsnew-items

Fix docs
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v0.12.0.rst
Due: incorrect-backticks

CLN: Remove .bool(), __init__, __float__ from DataFrame/Series
  .pre-commit-config.yaml
  doc/source/whatsnew/v3.0.0.rst
  pandas/conftest.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/tests/generic/test_frame.py
  pandas/tests/generic/test_generic.py
  pandas/tests/generic/test_series.py
  pandas/tests/series/test_api.py
  scripts/no_bool_in_generic.py
  scripts/tests/test_no_bool_in_generic.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

fix whatsnew
  doc/source/whatsnew/v3.0.0.rst
Due: incorrect-backticks, sort-whatsnew-items

TST: adds a test to check signedness preservation after sum (#57306)
  pandas/tests/reductions/test_reductions.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

delete time_different_offset from benchmarks/inference.py as redundant
  asv_bench/benchmarks/inference.py
Due: inconsistent-namespace-usage, seed-check-asv, unwanted-patterns-nodefault-used-not-only-for-typing

DOC: fix reference to api.typing.NaTType (from previous api.types.NaTType)
  doc/source/user_guide/missing_data.rst
Due: incorrect-backticks

Remove API item
  doc/redirects.csv
  doc/source/reference/frame.rst
  doc/source/user_guide/basics.rst
Due: incorrect-backticks, title-capitalization

Remove API item
  doc/redirects.csv
  doc/source/reference/series.rst
Due: incorrect-backticks, title-capitalization

Adjust some tests
  pandas/io/html.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/xml/test_xml.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

remove keyword-only enforcement
  doc/source/user_guide/basics.rst
  doc/source/user_guide/indexing.rst
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/frame.py
  pandas/core/series.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/apply/test_str.py
  pandas/tests/frame/methods/test_asof.py
  pandas/tests/frame/methods/test_fillna.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/reductions/test_reductions.py
  pandas/tests/series/test_api.py
  pandas/tests/test_multilevel.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Ignore typing for now
  pandas/io/xml.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Fixing multi method for to_sql for non-oracle databases
  pandas/io/sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Simplifying the if statement
  pandas/io/sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

adding a doc
  doc/source/whatsnew/v2.2.1.rst
Due: incorrect-backticks, sort-whatsnew-items

correct v3.0.0
  doc/source/whatsnew/v3.0.0.rst
Due: incorrect-backticks, sort-whatsnew-items

Quotation marks
  pandas/core/tools/numeric.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Windows compat
  pandas/io/json/_json.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/xml/test_xml.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

CLN: Remove Series.view/ravel, fastpath
  doc/redirects.csv
  doc/source/reference/series.rst
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/series.py
  pandas/tests/copy_view/test_array.py
  pandas/tests/copy_view/test_constructors.py
  pandas/tests/copy_view/test_methods.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/series/methods/test_view.py
  pandas/tests/series/test_api.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Remove test
  pandas/tests/copy_view/test_constructors.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

update example for df.groupby().hist()
  pandas/core/groupby/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Add generaltypeissues
  pandas/io/json/_json.py
  pandas/io/xml.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CLN: Remove Series.view/ravel, fastpath (#57319)
  doc/redirects.csv
  doc/source/reference/series.rst
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/series.py
  pandas/tests/copy_view/test_array.py
  pandas/tests/copy_view/test_constructors.py
  pandas/tests/copy_view/test_methods.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/series/methods/test_view.py
  pandas/tests/series/test_api.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

DOC: fix PR02 errors in docstring for pandas.core.groupby.DataFrameGroupBy.hist (#57304)
  ci/code_checks.sh
  pandas/core/groupby/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Fixup
  pandas/core/internals/blocks.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

BUG: sort_index(1, ignore_index=True, ascending=False) (#57297)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_sort_index.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

DOC: fix reference to api.typing.NaTType (from api.types.NaTType) (#57309)
  doc/source/user_guide/missing_data.rst
Due: incorrect-backticks
