Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip_to_conda, flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-comprehensions>=3.1.0]
    -   id: flake8
        name: flake8 (cython)
        types: [cython]
        args: [--append-config=flake8/cython.cfg]
    -   id: flake8
        name: flake8 (cython template)
        files: \.pxi\.in$
        types:
          - file
        args: [--append-config=flake8/cython-template.cfg]
-   repo: https://github.com/PyCQA/isort
    rev: 5.6.3
    hooks:
    -   id: isort
        name: isort (python)
    -   id: isort
        name: isort (cython)
        types: [cython]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.6.0
    hooks:
      - id: rst-backticks
-   repo: local
    hooks:
    -   id: pip_to_conda
        name: Generate pip dependency from conda
        description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
        language: python
        entry: python -m scripts.generate_pip_deps_from_conda
        files: ^(environment.yml|requirements-dev.txt)$
        pass_filenames: false
        additional_dependencies: [pyyaml]
    -   id: flake8-rst
        name: flake8-rst
        description: Run flake8 on code snippets in docstrings or RST files
        language: python
        entry: flake8-rst
        types: [rst]
        args: [--filename=*.rst]
        additional_dependencies: [flake8-rst==0.7.0, flake8==3.7.9]
    -   id: incorrect-sphinx-directives
        name: Check for incorrect Sphinx directives
        language: pygrep
        entry: |
            (?x)
            # Check for cases of e.g. .. warning: instead of .. warning::
            \.\.\ (
                autosummary|contents|currentmodule|deprecated|
                function|image|important|include|ipython|literalinclude|
                math|module|note|raw|seealso|toctree|versionadded|
                versionchanged|warning
            ):[^:]
        files: \.(py|pyx|rst)$
    -   id: non-standard-imports
        name: Check for non-standard imports
        language: pygrep
        entry: |
            (?x)
            # Check for imports from pandas.core.common instead of `import pandas.core.common as com`
            from\ pandas\.core\.common\ import|
            from\ pandas\.core\ import\ common|

            # Check for imports from collections.abc instead of `from collections import abc`
            from\ collections\.abc\ import|

            from\ numpy\ import\ nan
        types: [python]
    -   id: non-standard-imports-in-tests
        name: Check for non-standard imports in test suite
        language: pygrep
        entry: |
            (?x)
            # Check for imports from pandas._testing instead of `import pandas._testing as tm`
            from\ pandas\._testing\ import|
            from\ pandas\ import\ _testing\ as\ tm|

            # No direct imports from conftest
            conftest\ import|
            import\ conftest
        types: [python]
        files: ^pandas/tests/
    -   id: incorrect-code-directives
        name: Check for incorrect code block or IPython directives
        language: pygrep
        entry: (\.\. code-block ::|\.\. ipython ::)
        files: \.(py|pyx|rst)$
-   repo: https://github.com/asottile/yesqa
    rev: v1.2.2
    hooks:
    -   id: yesqa
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: end-of-file-fixer
        exclude: ^LICENSES/|\.(html|csv|txt|svg|py)$
    -   id: trailing-whitespace
        exclude: \.(html|svg)$

REF: remove ObjectBlock._replace_single (#37710)
  pandas/core/internals/blocks.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Сhange pd.DateFrame to DateFrame
  pandas/tests/plotting/frame/test_frame_color.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST: move and reformat latex_na_rep test
  pandas/tests/io/formats/test_to_latex.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST: improve readability using dedent
  pandas/tests/io/formats/test_to_string.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Bug in loc raised for numeric label even when label is in Index (#37675)
  doc/source/whatsnew/v1.2.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexing/test_loc.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

REF: implement Categorical.encode_with_my_categories (#37650)
  pandas/core/arrays/categorical.py
  pandas/core/dtypes/concat.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

REF: implement replace_regex, remove unreachable branch in ObjectBlock.replace (#37696)
  pandas/core/array_algos/replace.py
  pandas/core/internals/blocks.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

REF: simplify NDFrame.replace, ObjectBlock.replace (#37704)
  pandas/core/generic.py
  pandas/core/internals/blocks.py
  pandas/tests/arrays/categorical/test_replace.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

BUG: unpickling modifies Block.ndim (#37657)
  doc/source/whatsnew/v1.1.5.rst
  pandas/core/internals/managers.py
  pandas/tests/io/test_pickle.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TYP: Check untyped defs (except vendored) (#37556)
  pandas/_testing.py
  pandas/core/apply.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/string_.py
  pandas/core/base.py
  pandas/core/computation/expr.py
  pandas/core/computation/ops.py
  pandas/core/computation/scope.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/groupby/base.py
  pandas/core/groupby/grouper.py
  pandas/core/indexes/category.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/extension.py
  pandas/core/indexes/multi.py
  pandas/core/resample.py
  pandas/core/reshape/merge.py
  pandas/io/excel/_base.py
  pandas/io/formats/console.py
  pandas/io/formats/excel.py
  pandas/io/formats/format.py
  pandas/io/parsers.py
  pandas/plotting/_matplotlib/core.py
  pandas/plotting/_misc.py
  setup.cfg
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

REF: dont support dt64tz in nanmean (#37658)
  pandas/core/nanops.py
  pandas/tests/test_nanops.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

CLN: Simplify groupby head/tail tests (#37702)
  pandas/tests/groupby/test_nth.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Move inconsistent namespace check to pre-commit, fixup more files (#37662)
  .pre-commit-config.yaml
  ci/code_checks.sh
  pandas/tests/dtypes/test_inference.py
  pandas/tests/extension/test_categorical.py
  pandas/tests/groupby/aggregate/test_other.py
  pandas/tests/groupby/test_counting.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/groupby/test_missing.py
  pandas/tests/groupby/test_quantile.py
  pandas/tests/groupby/test_timegrouper.py
  pandas/tests/groupby/transform/test_transform.py
  pandas/tests/indexes/datetimes/test_shift.py
  pandas/tests/indexes/period/test_formats.py
  pandas/tests/indexes/test_numeric.py
  pandas/tests/indexes/timedeltas/test_formats.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/test_compression.py
  pandas/tests/resample/test_time_grouper.py
  pandas/tests/reshape/merge/test_merge_asof.py
  pandas/tests/series/indexing/test_getitem.py
  pandas/tests/series/indexing/test_indexing.py
  pandas/tests/series/test_repr.py
  pandas/tests/window/test_expanding.py
  scripts/check_for_inconsistent_pandas_namespace.py
  scripts/tests/test_inconsistent_namespace_check.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Transfer tests of test_frame.py to test_frame_color.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/frame/test_frame_color.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST/REF: collect indexing tests by method (#37590)
  pandas/tests/indexing/test_loc.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

PEP8
  pandas/tests/plotting/frame/test_frame_color.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Сhange DateFrame to pd.DateFrame
  pandas/tests/plotting/frame/test_frame_color.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

add more ignores for previously unchecked defs
  pandas/core/array_algos/replace.py
  pandas/core/generic.py
  pandas/core/indexes/category.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/multi.py
  pandas/core/internals/blocks.py
  pandas/core/nanops.py
  pandas/core/reshape/merge.py
  pandas/io/parsers.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Сhange pd.DateFrame to DateFrame
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/frame/test_frame_color.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

lint fixup
  pandas/_testing.py
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
  pandas/core/groupby/generic.py
  setup.cfg
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

apply some suggestions
  pandas/core/nanops.py
  pandas/core/sorting.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

logicalnot -> ~
  pandas/core/base.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

parens
  pandas/core/algorithms.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

post-merge mypy fixup
  pandas/core/indexes/datetimes.py
  pandas/io/formats/excel.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Removing imports
  pandas/tests/plotting/frame/test_frame_color.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Bug fixes
  pandas/tests/plotting/frame/test_frame.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

mypy troubleshoot
  pandas/io/formats/excel.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

DOC: add docstring to _check_plot_works
  pandas/tests/plotting/common.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Add class to enable groupby ewm
  pandas/core/window/ewm.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

move to 1.1.5
  doc/source/whatsnew/v1.1.5.rst
  doc/source/whatsnew/v1.2.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

TST: revert error message
  pandas/tests/series/test_dtypes.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

REF/ERR: use take_1d + catch casting error
  pandas/core/arrays/categorical.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST: Add test for KeyError with MultiIndex
  pandas/tests/indexing/multiindex/test_loc.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Run black
  pandas/tests/indexing/multiindex/test_loc.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Fix pattern
  pandas/tests/indexing/multiindex/test_loc.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives
