Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python scripts/validate_min_versions_in_sync.py
  language: python

CI: Fix DeprecationWarning of numpy dev
  pandas/tests/series/test_constructors.py
Due: np-testing-array-equal

BUG: redirect from meeting to community was incorrect
  doc/redirects.csv
Due: none

Turn test into raises
  pandas/tests/arrays/categorical/test_analytics.py
Due: np-testing-array-equal

convert test to raises
  pandas/tests/window/test_ewm.py
Due: np-testing-array-equal

change test to raises
  pandas/tests/window/test_expanding.py
Due: np-testing-array-equal

turn test into assertion
  pandas/tests/window/test_win_type.py
Due: np-testing-array-equal

CI: Fix DeprecationWarning of numpy dev (#49070)
  pandas/tests/series/test_constructors.py
Due: np-testing-array-equal

Backport PR #49070: CI: Fix DeprecationWarning of numpy dev
  pandas/tests/series/test_constructors.py
Due: np-testing-array-equal

Update doc/redirects.csv
  doc/redirects.csv
Due: none

Backport PR #49070 on branch 1.5.x (CI: Fix DeprecationWarning of numpy dev) (#49074)
  pandas/tests/series/test_constructors.py
Due: np-testing-array-equal

BUG: redirect from meeting to community was incorrect (#49072)
  doc/redirects.csv
Due: none

Backport PR #49072: BUG: redirect from meeting to community was incorrect
  doc/redirects.csv
Due: none

CLN/TST: Remove testing ArrowExtensionArray in favor of `extensions/test_arrow.py` (#49000)
  pandas/tests/extension/arrow/__init__.py
  pandas/tests/extension/arrow/arrays.py
  pandas/tests/extension/arrow/test_bool.py
  pandas/tests/extension/arrow/test_string.py
  pandas/tests/extension/arrow/test_timestamp.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_string.py
Due: np-testing-array-equal

TST/CLN: Avoid subprocess shell=True (#49033)
  pandas/_config/localization.py
  pandas/tests/config/test_localization.py
  pandas/tests/indexes/datetimes/test_misc.py
  pandas/tests/scalar/timestamp/test_timestamp.py
  pandas/tests/series/accessors/test_dt_accessor.py
Due: np-testing-array-equal, use-io-common-urlopen

BUG: pickling subset of Arrow-backed data would serialize the entire data
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/tests/arrays/string_/test_string_arrow.py
  pandas/tests/extension/test_arrow.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Use data
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal

xfail for min version
  pandas/tests/io/test_parquet.py
Due: np-testing-array-equal

fix tests
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/indexing/multiindex/test_multiindex.py
Due: np-testing-array-equal

Update test_arrow.py
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal

put params into tests
  pandas/tests/frame/methods/test_cov_corr.py
Due: np-testing-array-equal

remove pd namespace
  pandas/tests/frame/methods/test_cov_corr.py
Due: np-testing-array-equal

PERF: sparse to_csv
  asv_bench/benchmarks/io/csv.py
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/generic.py
Due: flake8-rst, incorrect-backticks, seed-check-asv, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

Move optimization deeper in the call stack
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/generic.py
  pandas/io/formats/csvs.py
Due: flake8-rst, incorrect-backticks, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

rename variables, add gh refs
  pandas/tests/frame/methods/test_compare.py
Due: np-testing-array-equal

Remove need for self.d
  pandas/tests/tseries/offsets/common.py
  pandas/tests/tseries/offsets/conftest.py
  pandas/tests/tseries/offsets/test_business_day.py
  pandas/tests/tseries/offsets/test_business_hour.py
  pandas/tests/tseries/offsets/test_custom_business_day.py
  pandas/tests/tseries/offsets/test_custom_business_hour.py
  pandas/tests/tseries/offsets/test_custom_business_month.py
  pandas/tests/tseries/offsets/test_offsets.py
Due: np-testing-array-equal

Remove Base
  pandas/tests/tseries/offsets/common.py
  pandas/tests/tseries/offsets/test_business_day.py
  pandas/tests/tseries/offsets/test_business_hour.py
  pandas/tests/tseries/offsets/test_business_month.py
  pandas/tests/tseries/offsets/test_business_quarter.py
  pandas/tests/tseries/offsets/test_business_year.py
  pandas/tests/tseries/offsets/test_custom_business_day.py
  pandas/tests/tseries/offsets/test_custom_business_hour.py
  pandas/tests/tseries/offsets/test_custom_business_month.py
  pandas/tests/tseries/offsets/test_easter.py
  pandas/tests/tseries/offsets/test_fiscal.py
  pandas/tests/tseries/offsets/test_month.py
  pandas/tests/tseries/offsets/test_offsets.py
  pandas/tests/tseries/offsets/test_quarter.py
  pandas/tests/tseries/offsets/test_week.py
  pandas/tests/tseries/offsets/test_year.py
Due: np-testing-array-equal

Backport PR #49072 on branch 1.5.x (BUG: redirect from meeting to community was incorrect) (#49077)
  doc/redirects.csv
Due: none

rewrite stacklevel removed in main
  pandas/_libs/lib.pyx
Due: cython-casting

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
