Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python scripts/validate_min_versions_in_sync.py
  language: python

DEPR: Series(dt64_naive, dtype=dt64tz) (#49242)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/datetimes.py
  pandas/core/construction.py
  pandas/core/dtypes/cast.py
  pandas/core/internals/construction.py
  pandas/tests/series/test_constructors.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Update doc/source/whatsnew/v2.0.0.rst
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

Removed unnecessary depends arguments in setup.py
  setup.py
Due: none

DEPR: DataFrame dtype keyword match Series behavior
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/construction.py
  pandas/core/internals/construction.py
  pandas/tests/frame/test_block_internals.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/series/test_constructors.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

STYLE: fix pylint consider-iterating-dictionary warnings (#49305)
  pandas/core/groupby/generic.py
  pandas/io/clipboard/__init__.py
  pandas/io/formats/style_render.py
  pandas/tests/reshape/test_pivot.py
  pandas/tests/series/test_api.py
  pyproject.toml
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Adjust tests
  pandas/tests/io/excel/test_xlrd.py
  pandas/tests/io/test_gcs.py
Due: np-testing-array-equal

Just remove xls benchmark
  asv_bench/benchmarks/io/excel.py
Due: seed-check-asv

Install required deps
  .github/workflows/package-checks.yml
Due: none

ipython blocks
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

update docs
  doc/source/user_guide/timedeltas.rst
  doc/source/whatsnew/v0.13.0.rst
Due: flake8-rst, incorrect-backticks

Added missing algos templates
  setup.py
Due: none

DEPR: Remove get_offset, infer_freq warn param
  doc/source/whatsnew/v2.0.0.rst
  pandas/tests/tseries/frequencies/test_inference.py
  pandas/tests/tseries/offsets/test_fiscal.py
  pandas/tseries/frequencies.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-io-common-urlopen

DEPR Enforce ewm.vol deprecation (#48841)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/window/ewm.py
  pandas/tests/window/test_ewm.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

DEP: Enforce fname to path renaming (#49288)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/frame.py
Due: flake8-rst, incorrect-backticks, use-pd_array-in-core, use-io-common-urlopen

attempt 2
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge_anti.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Add example to whatsnew
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

DEPR: Remove sort_columns in plotting
  doc/source/whatsnew/v2.0.0.rst
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/core.py
  pandas/tests/plotting/frame/test_frame.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-io-common-urlopen

DEPR: Remove SparseDataFrame/Series pickle compat
  pandas/compat/pickle_compat.py
  pandas/tests/io/data/legacy_pickle/0.20.3/0.20.3_x86_64_darwin_3.5.2.pickle
  pandas/tests/io/data/legacy_pickle/0.20.3/0.20.3_x86_64_darwin_3.5.6.pickle
  pandas/tests/io/data/pickle/sparseframe-0.20.3.pickle.gz
  pandas/tests/io/data/pickle/sparseseries-0.20.3.pickle.gz
  pandas/tests/io/test_pickle.py
Due: np-testing-array-equal, use-io-common-urlopen

Closes #49223
  pandas/core/groupby/categorical.py
  pandas/core/groupby/grouper.py
Due: use-pd_array-in-core, use-io-common-urlopen

DEPR: Disallow groupby __getitem__ with tuple
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_grouping.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

DEPR: stop inferring dt64/td64 from strings in Series construtor
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/lib.pyx
  pandas/core/dtypes/cast.py
  pandas/io/parsers/base_parser.py
  pandas/tests/apply/test_series_apply.py
  pandas/tests/dtypes/test_inference.py
  pandas/tests/resample/test_time_grouper.py
  pandas/tests/series/methods/test_combine_first.py
  pandas/tests/series/methods/test_fillna.py
  pandas/tests/series/test_constructors.py
  pandas/tests/tools/test_to_timedelta.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Fix some tests
  pandas/tests/io/excel/test_readers.py
Due: np-testing-array-equal

Adds doc in v2.0.0.rst and adds test_categorical_vs_range_index_sorting
  doc/source/whatsnew/v2.0.0.rst
  pandas/tests/groupby/test_categorical.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal

deprecate inplace arg in categorical methods
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_analytics.py
  pandas/tests/arrays/categorical/test_api.py
  pandas/tests/arrays/categorical/test_indexing.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

fix extension tests
  pandas/tests/extension/base/dtype.py
Due: np-testing-array-equal, invalid-ea-testing

remove blank line before closing docstring
  pandas/core/frame.py
Due: use-pd_array-in-core, use-io-common-urlopen

fix typo in DataFrame.rolling docs
  pandas/core/window/rolling.py
Due: use-pd_array-in-core, use-io-common-urlopen

fix tests
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/series/accessors/test_cat_accessor.py
  pandas/tests/series/test_constructors.py
Due: np-testing-array-equal

STYLE: fix pylint simplifiable-if-statement warnings
  pandas/core/dtypes/dtypes.py
  pandas/io/formats/info.py
  pandas/tests/tseries/offsets/test_week.py
  pyproject.toml
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

add back test
  pandas/tests/arrays/categorical/test_indexing.py
Due: np-testing-array-equal

update pyi
  pandas/_libs/lib.pyi
Due: none

okexcept
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

Improve error message about duplicate columns in df.explode
  pandas/core/frame.py
  pandas/tests/frame/methods/test_explode.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Improve error message for non-unique columns
  pandas/tests/frame/methods/test_explode.py
Due: np-testing-array-equal

Improve error message for non-unique columns
  pandas/core/frame.py
Due: use-pd_array-in-core, use-io-common-urlopen

fixup! STYLE: fix pylint simplifiable-if-statement warnings
  pandas/core/dtypes/dtypes.py
  pandas/io/formats/info.py
  pandas/tests/tseries/offsets/test_week.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
