Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)

BUG: fix datetimeindex repr (#53634)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/indexes/datetimes.py
  pandas/tests/indexes/datetimes/test_formats.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Update contributing.rst
  doc/source/development/contributing.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

Add FAQ to the PDEPS 0012
  web/pandas/pdeps/0012-compact-and-reversible-JSON-interface.md
Due: none

DOC: Imporve json_normalize's record_prefix and mate_prefix
  pandas/io/json/_normalize.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

pass more
  pandas/core/generic.py
  pandas/io/formats/csvs.py
  pandas/io/formats/format.py
  pandas/tests/io/formats/test_to_csv.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

move condition into _iter_column_arrays
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/masked.py
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

pre-commit
  doc/source/whatsnew/v2.1.0.rst
Due: flake8-rst, incorrect-backticks

PERF: Implement groupby idxmax/idxmin in Cython
  doc/source/whatsnew/v2.1.0.rst
  pandas/_libs/groupby.pyx
  pandas/core/arrays/categorical.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/datetimelike.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_groupby_dropna.py
  pandas/tests/groupby/test_raises.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Update docs
  doc/source/user_guide/groupby.rst
Due: flake8-rst, incorrect-backticks

Add ASVs
  asv_bench/benchmarks/groupby.py
Due: inconsistent-namespace-usage, seed-check-asv

Change makePeriodIndex to D
  pandas/_testing/__init__.py
  pandas/tests/frame/methods/test_shift.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tests/resample/test_base.py
  pandas/tests/series/test_constructors.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, check-test-naming

mypy fixup
  pandas/core/groupby/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

correct def _maybe_coerce_freq , is_subperiod, is_superperiod, and _offset_to_period_map and fix tests
  pandas/tests/frame/test_constructors.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/indexes/datetimelike_/test_drop_duplicates.py
  pandas/tests/indexes/period/test_constructors.py
  pandas/tests/indexes/period/test_resolution.py
  pandas/tests/io/formats/test_format.py
  pandas/tests/io/generate_legacy_storage_files.py
  pandas/tests/io/json/test_json_table_schema.py
  pandas/tests/io/pytables/test_select.py
  pandas/tests/plotting/test_converter.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tests/resample/test_period_index.py
  pandas/tests/resample/test_resampler_grouper.py
  pandas/tests/resample/test_time_grouper.py
  pandas/tests/resample/test_timedelta.py
  pandas/tests/reshape/concat/test_datetimes.py
  pandas/tests/scalar/period/test_asfreq.py
  pandas/tests/scalar/period/test_period.py
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/scalar/timestamp/test_unary_ops.py
  pandas/tests/series/accessors/test_dt_accessor.py
  pandas/tests/series/indexing/test_datetime.py
  pandas/tests/tseries/frequencies/test_inference.py
  pandas/tests/window/test_rolling.py
  pandas/tseries/frequencies.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

More warning filters
  pandas/tests/arrays/sparse/test_unary.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

some check implmented
  pyproject.toml
Due: none

Include rules
  pyproject.toml
Due: none

Enable perflint
  doc/source/conf.py
  pandas/core/frame.py
  pandas/core/groupby/generic.py
  pandas/core/internals/managers.py
  pandas/core/methods/describe.py
  pandas/core/reshape/reshape.py
  pandas/io/excel/_odfreader.py
  pandas/io/formats/printing.py
  pandas/io/parsers/python_parser.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/test_indexing.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/series/accessors/test_cat_accessor.py
  pandas/tests/test_sorting.py
  pyproject.toml
  scripts/no_bool_in_generic.py
  scripts/validate_docstrings.py
  scripts/validate_unwanted_patterns.py
  setup.py
  web/pandas_web.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

add catch_warnings to filter the warning in test_read_datetime
  pandas/_libs/tslib.pyx
  pandas/io/json/_json.py
Due: inconsistent-namespace-usage, cython-casting, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Fixed minor typo in test
  pandas/tests/groupby/test_rank.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

change the alias A for YearEnd to YE
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/offsets.pyx
Due: cython-casting

Remove error on CI
  pandas/plotting/_misc.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

correct msg in catch_warnings to filter the warning in test_read_datetime
  pandas/io/json/_json.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

minor corrections
  pandas/tests/frame/methods/test_asfreq.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tests/resample/test_period_index.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

less data for plot_parms
  pandas/plotting/_misc.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

uncomment test
  pandas/tests/frame/test_constructors.py
  pandas/tests/series/indexing/test_indexing.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

shorten name
  pandas/core/arrays/arrow/array.py
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

correcting table
  pandas/plotting/_misc.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

#13950 - Updated documentation on pandas alignment when setting
  doc/source/user_guide/indexing.rst
Due: flake8-rst, incorrect-backticks

fix plot_params error on CI
  pandas/plotting/_misc.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: Fixing EX01 - Added examples (#54217)
  ci/code_checks.sh
  pandas/plotting/_misc.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

updated CITATION.cff
  CITATION.cff
Due: none

Examples interchange
  ci/code_checks.sh
  pandas/core/frame.py
  pandas/core/indexes/datetimes.py
  pandas/core/interchange/from_dataframe.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

datetimes updated doc
  doc/source/user_guide/missing_data.rst
Due: flake8-rst, incorrect-backticks

Suppress more specific message
  pandas/plotting/_matplotlib/timeseries.py
  pandas/tests/resample/conftest.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

datetime update (2)
  doc/source/user_guide/missing_data.rst
Due: flake8-rst, incorrect-backticks

Revert "Removed InvalidComparison and LossySetItemError from docs"
  ci/code_checks.sh
  doc/source/reference/testing.rst
  scripts/pandas_errors_documented.py
Due: flake8-rst, inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

internal errors
  pandas/errors/__init__.py
  scripts/validate_docstrings.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, pandas-errors-documented

address comments
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
Due: none
