Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

no-os-remove:
  name: Check code for instances of os.remove
  entry: os\.remove
  language: pygrep

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-bare-pytest-raises:
  name: Check for use of bare pytest raises
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="bare_pytest_raises"

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

CLN: Make minor docstring fix for `DataFrame.drop` (#53310)
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

STY: Enable Ruff specific checks (#53510)
  pandas/_config/config.py
  pandas/_libs/__init__.py
  pandas/api/types/__init__.py
  pandas/core/dtypes/dtypes.py
  pyproject.toml
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: add missing parameters to offsets class Easter (#53476)
  pandas/_libs/tslibs/offsets.pyx
Due: cython-casting

BUG: Fix metadata propagation in squeeze and describe (#53538)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/generic.py
  pandas/tests/generic/test_finalize.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DOC: Fixing EX01 - Added examples (#53468)
  ci/code_checks.sh
  pandas/core/arrays/period.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

BUG: Series.str.split(expand=True) for ArrowDtype(pa.string()) (#53532)
  doc/source/whatsnew/v2.0.3.rst
  pandas/core/strings/accessor.py
  pandas/tests/extension/test_arrow.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

BUG: read_csv with dtype=bool[pyarrow] (#53391)
  doc/source/whatsnew/v2.0.3.rst
  pandas/_libs/parsers.pyx
  pandas/io/parsers/base_parser.py
  pandas/tests/extension/test_arrow.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, np-testing-array-equal, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

BUG/PERF: DataFrame.isin lossy data conversion (#53514)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_isin.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DEPR: use_inf_as_na (#53494)
  doc/source/user_guide/missing_data.rst
  doc/source/whatsnew/v2.1.0.rst
  pandas/_config/config.py
  pandas/core/config_init.py
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/tests/arrays/categorical/test_missing.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/dtypes/test_missing.py
  pandas/tests/extension/base/missing.py
  pandas/tests/frame/methods/test_dtypes.py
  pandas/tests/frame/methods/test_sort_index.py
  pandas/tests/frame/test_repr_info.py
  pandas/tests/io/parser/common/test_inf.py
  pandas/tests/reductions/test_reductions.py
  pandas/tests/series/methods/test_count.py
  pandas/tests/series/test_missing.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, invalid-ea-testing, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

PERF: fix merging on datetimelike columns to not use object-dtype factorizer (#53231)
  asv_bench/benchmarks/join_merge.py
  doc/source/whatsnew/v2.0.3.rst
  pandas/core/reshape/merge.py
Due: flake8-rst, inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Removed unused argument from groupby cython impl (#53478)
  pandas/_libs/groupby.pyx
Due: cython-casting

TST: Add test for boxable categories GH#21658 (#53524)
  pandas/tests/indexes/multi/test_compat.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

DOC: Fixing EX01 - Added more examples (#53528)
  ci/code_checks.sh
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/timedeltas.py
  pandas/core/indexes/datetimelike.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

BUG: `groupby` with column selection not returning tuple when grouping by list of a single element (#53517)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_groupby.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

TST: Add test for series str decode GH#22613 (#53431)
  pandas/tests/strings/test_strings.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

DOC: Fixing EX01 - Added examples (#53465)
  ci/code_checks.sh
  pandas/_libs/tslibs/period.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
Due: inconsistent-namespace-usage, cython-casting, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

ENH: xz compression_args df.to_pickle(path, compression={'method':'xz','pr… (#53443)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/shared_docs.py
  pandas/io/common.py
  pandas/tests/io/test_compression.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DOC: Fixing EX01 - Added examples (#53502)
  ci/code_checks.sh
  pandas/core/arrays/categorical.py
  pandas/core/strings/accessor.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CI: Build wheel from sdist (#53087)
  .github/workflows/wheels.yml
  MANIFEST.in
  ci/fix_wheels.py
  ci/test_wheels.py
  ci/test_wheels_windows.bat
  pandas/util/_tester.py
  pyproject.toml
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

docs: Fix alignment in "merge_ordered" docstring (#53522)
  pandas/core/reshape/merge.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CLN: use cache instead of lru_cache for unbound cache (#53462)
  pandas/core/_numba/executor.py
  pandas/core/array_algos/take.py
  pandas/core/dtypes/cast.py
  pandas/core/groupby/numba_.py
  pandas/core/groupby/ops.py
  pandas/core/window/numba_.py
  pandas/io/formats/excel.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TST: Clean up finalize tests (#53543)
  pandas/tests/generic/test_finalize.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

BUG: groupby.nth after selection (#53519)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_nth.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

BUG: dtype from nankurt and nanskew when returning 0 (#53482)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/nanops.py
  pandas/tests/reductions/test_stat_reductions.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

TYP: algos.isin (#53479)
  pandas/core/algorithms.py
  pandas/core/tools/datetimes.py
  pandas/io/parsers/base_parser.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CI: Bump builds to 3.11, update numpy nightly wheels location (#53508)
  .circleci/config.yml
  .github/workflows/unit-tests.yml
  ci/deps/actions-311-downstream_compat.yaml
  ci/deps/actions-311-numpydev.yaml
  ci/deps/circle-310-arm64.yaml
  pandas/core/sorting.py
  pandas/core/window/rolling.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, pg8000-not-installed-CI, validate-errors-locations, future-annotations

DOC: Fixing EX01 - Added examples (#53499)
  ci/code_checks.sh
  pandas/core/generic.py
  pandas/core/strings/accessor.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

DOC: Adjust build command for building with meson (#53392)
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

ENH: Add sort keyword to unstack (#53298)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/frame.py
  pandas/core/reshape/reshape.py
  pandas/core/series.py
  pandas/tests/frame/test_stack_unstack.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DOC: Add Visible Table of Contents to Project README Documentation (#53504)
  README.md
Due: none

ENH: Groupby agg support multiple funcs numba (#53486)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/apply.py
  pandas/core/groupby/generic.py
  pandas/tests/groupby/aggregate/test_numba.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

TST: fix import in test_hash_pandas_object extension test (#53474)
  pandas/tests/extension/base/methods.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, invalid-ea-testing, check-test-naming

BUG: merge_asof raising KeyError for extension dtypes (#53458)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/datetimelike.py
  pandas/core/indexes/base.py
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge_asof.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DOC: Update release process (#53435)
  doc/source/development/maintaining.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

DEPR: make Series.agg aggregate when possible (#53325)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/apply.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/apply/test_frame_transform.py
  pandas/tests/apply/test_invalid_arg.py
  pandas/tests/apply/test_series_apply.py
  pandas/tests/apply/test_series_transform.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DOC: Fixing EX01 - Added examples (#53536)
  ci/code_checks.sh
  pandas/core/arrays/sparse/accessor.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/errors/__init__.py
  pandas/plotting/_core.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, validate-errors-locations, future-annotations

DOC: Added Nav Links to Discussion and Development section on README (#53509)
  README.md
Due: none

DOC: PDEP6 page format update (#53442)
  web/pandas/pdeps/0006-ban-upcasting.md
Due: none

BLD: Fix compiling pandas with a venv located in the src dir (#53489)
  pandas/meson.build
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
