Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-bare-pytest-raises:
  name: Check for use of bare pytest raises
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="bare_pytest_raises"

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - tomli
  - pyyaml
  pass_filenames: false

post-merge fixup
  pandas/_libs/tslibs/strptime.pxd
Due: none

TST: parametrize over unit (#55806)
  pandas/conftest.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arithmetic/test_timedelta64.py
  pandas/tests/base/test_conversion.py
  pandas/tests/base/test_value_counts.py
  pandas/tests/frame/methods/test_combine_first.py
  pandas/tests/frame/methods/test_diff.py
  pandas/tests/frame/methods/test_quantile.py
  pandas/tests/test_algos.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, check-test-naming

ENH: Allow passing `read_only`, `data_only` and `keep_links` arguments to openpyxl using `engine_kwargs`
  doc/source/whatsnew/v2.2.0.rst
  pandas/io/excel/_openpyxl.py
  pandas/tests/io/excel/test_openpyxl.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

List accessor (#55777)
  doc/source/reference/series.rst
  doc/source/whatsnew/v2.2.0.rst
  pandas/core/arrays/arrow/__init__.py
  pandas/core/arrays/arrow/accessors.py
  pandas/core/series.py
  pandas/tests/series/accessors/test_list_accessor.py
  pandas/tests/series/accessors/test_struct_accessor.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

DOC: Fixes DataFrame.replace documentation (#55762)
  pandas/core/shared_docs.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Use the right dtype
  pandas/_testing/asserters.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations

Add to whatsnew
  doc/source/whatsnew/v2.1.3.rst
Due: incorrect-backticks, sort-whatsnew-items

changed test size from 100 to 10
  pandas/tests/io/formats/test_format.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Add "nullable float" link in "dtypes" table
  doc/source/user_guide/basics.rst
Due: incorrect-backticks

BUG: DatetimeIndex with dayfirst/yearfirst and tz
  doc/source/whatsnew/v2.2.0.rst
  pandas/_libs/tslib.pyi
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pxd
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/indexes/datetimes/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

GH ref
  doc/source/whatsnew/v2.2.0.rst
  pandas/tests/indexes/datetimes/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming, sort-whatsnew-items

increase tolerance 1000x
  pandas/tests/tslibs/test_strptime.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

resize array by factor of 2
  pandas/_libs/index.pyx
Due: none

whatsnew
  doc/source/whatsnew/v2.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

ENH/BUG: infer reso in array_strptime (#55805)
  pandas/_libs/tslibs/strptime.pxd
  pandas/_libs/tslibs/strptime.pyx
  pandas/tests/tslibs/test_strptime.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

DOC: Add "nullable float" link in "dtypes" table of User Guide (#55814)
  doc/source/user_guide/basics.rst
Due: incorrect-backticks

BUG: DatetimeIndex with dayfirst/yearfirst and tz (#55813)
  doc/source/whatsnew/v2.2.0.rst
  pandas/_libs/tslib.pyi
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pxd
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/indexes/datetimes/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

COMPAT: Numpy int64 default for Numpy 2.0
  pandas/compat/numpy/__init__.py
  pandas/tests/extension/test_masked.py
  pandas/tests/frame/test_reductions.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, check-test-naming

TST: parametrize over dt64 unit
  pandas/_testing/__init__.py
  pandas/conftest.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/frame/methods/test_reset_index.py
  pandas/tests/indexes/datetimes/methods/test_delete.py
  pandas/tests/indexes/datetimes/methods/test_insert.py
  pandas/tests/indexes/datetimes/methods/test_repeat.py
  pandas/tests/indexes/datetimes/methods/test_round.py
  pandas/tests/indexes/datetimes/methods/test_tz_localize.py
  pandas/tests/indexes/datetimes/test_formats.py
  pandas/tests/reshape/concat/test_datetimes.py
  pandas/tests/series/methods/test_astype.py
  pandas/tests/series/methods/test_combine_first.py
  pandas/tests/series/methods/test_convert_dtypes.py
  pandas/tests/series/methods/test_dropna.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tseries/offsets/test_business_hour.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, check-test-naming

Don't mess with cpu/io settings
  pandas/tests/io/parser/conftest.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

only set promotion state for numpy > 2.0
  .github/workflows/unit-tests.yml
  ci/run_tests.sh
Due: none

BUG: DatetimeIndex.diff raising TypeError (#55761)
  doc/source/whatsnew/v2.1.3.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/test_datetimelike.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

fix whatsnew
  doc/source/whatsnew/v2.1.2.rst
Due: incorrect-backticks, sort-whatsnew-items

Start fixing index tests
  pandas/conftest.py
  pandas/core/config_init.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_old_base.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

BUG: Index.isin raising for arrow strings and null set
  doc/source/whatsnew/v2.1.3.rst
  pandas/core/arrays/string_arrow.py
  pandas/tests/indexes/test_base.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

ENH: infer resolution in array_to_datetime_with_tz
  pandas/_libs/tslib.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/tslibs/test_array_to_datetime.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Fix more tests
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_old_base.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

TST: Fix shares_memory for arrow string dtype
  pandas/_testing/__init__.py
  pandas/tests/util/test_shares_memory.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, check-test-naming

TST: Fix shares_memory for arrow string dtype
  pandas/tests/util/test_shares_memory.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Reorder tests in maybe_downcast_numeric
  pandas/core/dtypes/cast.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

order was backwards
  .github/workflows/unit-tests.yml
Due: none

test data_only roundtrip
  pandas/tests/io/excel/test_openpyxl.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Code review changes
  pandas/_libs/hashtable_class_helper.pxi.in
  pandas/core/nanops.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
