Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

CLN: remove isleapyear_arr from fields.pyx
  pandas/_libs/tslibs/fields.pyi
  pandas/_libs/tslibs/fields.pyx
  pandas/core/arrays/period.py
  pandas/tests/indexes/period/test_scalar_compat.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: select_dtypes selected tz-aware pyarrow timestamp columns for a naive datetime64 spec
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: point the GH refs at the PR number
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: scope the GH#67066 whatsnew entry to fat-format tzdata
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

BLD: fix wrong banned-api comment for numpy.random
  pyproject.toml
Due: none

BUG: read_sas silently grew the reader's column metadata mid-read
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/sas/sas7bdat.py
  pandas/tests/io/sas/test_sas7bdat.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

CI: check pixi-version is pinned consistently across config files
  .pre-commit-config.yaml
  scripts/tests/test_validate_pixi_version.py
  scripts/validate_pixi_version.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

BUG: narrow the read_sas column_count check to the columns a file describes
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/sas/sas7bdat.py
  pandas/tests/io/sas/test_sas7bdat.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: Interval and IntervalArray did not accept a numpy.str_ closed
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/interval.pyx
  pandas/core/dtypes/dtypes.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/indexes/interval/test_constructors.py
  pandas/tests/scalar/interval/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: point issue refs at the PR number
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/interval.pyx
  pandas/core/dtypes/dtypes.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/indexes/interval/test_constructors.py
  pandas/tests/io/sas/data/DEMO_G.csv
  pandas/tests/scalar/interval/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: read_sas returned page padding and metadata as data when a SAS7BDAT file overstated its mix page row count (#68067)
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/sas/sas7bdat.py
  pandas/tests/io/sas/test_sas7bdat.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ENH: include cell location in ExcelWriter truncation warning
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/excel/_base.py
  pandas/io/excel/_odswriter.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_xlsxwriter.py
  pandas/tests/io/excel/test_writers.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: NumpyExtensionArray repr double-quoted numpy bytes values
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/numpy_.py
  pandas/tests/arrays/numpy_/test_numpy.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: point the whatsnew entry at the PR number
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

BUG: read_excel/ExcelFile raised AttributeError for an xlrd.Book without an explicit engine
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/excel/_base.py
  pandas/tests/io/excel/test_xlrd.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TST: restore DEMO_G.csv clobbered by the issue-ref rewrite
  pandas/tests/io/sas/data/DEMO_G.csv
Due: none

BUG: IntervalIndex.is_overlapping counted empty intervals as overlapping (GH#26893) (#68069)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/intervaltree.pxi.in
  pandas/core/indexes/interval.py
  pandas/tests/indexes/interval/test_indexing.py
  pandas/tests/indexes/interval/test_interval_tree.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: point the issue refs at the PR
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/excel/_base.py
  pandas/tests/io/excel/test_xlrd.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: SparseArray.mean warned or raised when every value was missing
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: point the issue refs at the PR number
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

edits to test files and merge
  pandas/core/reshape/merge.py
  pandas/tests/frame/methods/test_set_index.py
  pandas/tests/frame/test_query_eval.py
  pandas/tests/generic/test_duplicate_labels.py
  pandas/tests/groupby/test_reductions.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: read_sas read off the end of a SAS7BDAT page when a page claimed more rows than it holds
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/sas.pyx
  pandas/io/sas/sas7bdat.py
  pandas/tests/io/sas/test_sas7bdat.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: fix GroupBy.indices/get_group for multi-key categorical groupby
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_categorical.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: select_dtypes selected tz-aware pyarrow timestamp columns for a naive datetime64 spec (#68075)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TST: un-skip test_query_undefined_local (#68070)
  pandas/tests/frame/test_query_eval.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

typo fixed in test_join
  pandas/tests/reshape/merge/test_join.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

fix type-check and preserve non-empty indices for multi-key groupby
  pandas/core/groupby/ops.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

fix isort import ordering
  pandas/tests/extension/test_arrow.py
  pandas/tests/frame/methods/test_between_time.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tools/test_to_time.py
  pandas/tests/tslibs/test_parsing.py
  pandas/util/_test_decorators.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

TST: pin scalar-row multi-column setitem in the GH#65264 fix
  pandas/core/indexing.py
  pandas/tests/indexing/test_indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

sort whatsnew entries alphabetically
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

CLN: remove isleapyear_arr from fields.pyx (#68074)
  pandas/_libs/tslibs/fields.pyi
  pandas/_libs/tslibs/fields.pyx
  pandas/core/arrays/period.py
  pandas/tests/indexes/period/test_scalar_compat.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: Sparse[datetime64] Series repr printed the raw i8 value (#68073)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_array.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: make Index.get_indexer treat pd.NA as NaN for array/Index targets
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/base_class/test_indexing.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: fix read_excel pyarrow backend datetime index with parse_dates
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/parsers/base_parser.py
  pandas/tests/io/excel/test_readers.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: datetime64/timedelta64 unit multipliers silently misread on construction (GH#25611) (#68072)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/scalar/timedelta/test_constructors.py
  pandas/tests/tslibs/test_np_datetime.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

TST: relax dtype check in indices test for 32-bit platforms
  pandas/tests/groupby/test_categorical.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: HDFStore.select "<" where-query matched the NaT rows on datetime64/timedelta64 columns (#68031)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/computation/pytables.py
  pandas/tests/io/pytables/test_append.py
  pandas/tests/io/pytables/test_select.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: clarify Series.map elementwise usage
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: copy code only in docs code cells
  doc/source/conf.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

DOC: add Try it in your browser buttons to API reference
  doc/source/conf.py
  environment.yml
  requirements-dev.txt
Due: inconsistent-namespace-usage, pip-to-conda, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings
