Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, pip-to-conda, sync-flake8-versions, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

frame-or-series-union:
  name: Check for use of Union[Series, DataFrame] instead of FrameOrSeriesUnion alias
  entry: Union\[.*(Series,.*DataFrame|DataFrame,.*Series).*\]
  language: pygrep

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

no-os-remove:
  name: Check code for instances of os.remove
  entry: os\.remove
  language: pygrep

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-bare-pytest-raises:
  name: Check for use of bare pytest raises
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="bare_pytest_raises"

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

PERF: nancorr_spearman fastpath (#41885)
  doc/source/whatsnew/v1.3.0.rst
  pandas/_libs/algos.pyx
  pandas/tests/frame/methods/test_cov_corr.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

REF: split out grouped masked cummin/max algo (#41853)
  pandas/_libs/groupby.pyx
Due: none

TYP: use from __future__ import annotations more (#41892)
  pandas/io/json/_json.py
  pandas/plotting/_matplotlib/converter.py
  pandas/tests/extension/base/ops.py
  pandas/tests/io/parser/conftest.py
  pandas/tests/tseries/offsets/common.py
  pandas/util/version/__init__.py
  scripts/no_bool_in_generic.py
  scripts/use_pd_array_in_core.py
  scripts/validate_docstrings.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

run black again
  pandas/io/parsers/readers.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

merge so i can merge, even if not passing
  pandas/tests/resample/test_datetime_index.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

clean up positional-args deprecation warnings in whatsnew
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst

Handle boolean statements separately first
  pandas/core/series.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Better read_excel docstring
  pandas/io/excel/_base.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

Add code backtics
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst

Fix doctest
  pandas/core/window/ewm.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

REF: split out sorted_rank algo
  pandas/_libs/algos.pyx
Due: none

Move warning to loc method head and higher example
  pandas/core/indexing.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Fixup docstring
  pandas/_libs/algos.pyx
Due: none

REF: handle slice earlier in Series.__setitem__
  pandas/core/series.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

simplify
  pandas/core/series.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

PERF: reductions
  pandas/core/nanops.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Fix pep8 issues
  pandas/core/indexing.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

whatsnew
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst

DOC: Delete the same code example.
  doc/source/user_guide/window.rst
Due: flake8-rst

DOC: Remove section and first sentence.
  doc/source/user_guide/window.rst
Due: flake8-rst

Revert "CI: Pin jinja2 to version lower than 3.0 (#41452)"
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

WIP
  pandas/_libs/algos.pyx
  pandas/_libs/algos_take_helper.pxi.in
Due: none

BUG: Categorical.fillna with non-category tuple
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_missing.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

GH refs
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_missing.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

DOC: Remove unecessary words.
  doc/source/user_guide/window.rst
Due: flake8-rst

Revert "CI: Pin jinja2 to version lower than 3.0 (#41452)" (#41913)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

TST/CLN: test_cov_corr (#41886)
  pandas/tests/frame/methods/test_cov_corr.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

REF: split out sorted_rank algo (#41910)
  pandas/_libs/algos.pyx
Due: none

WIP
  pandas/_libs/algos.pyx
Due: none

premerge
  pandas/_libs/algos.pyx
Due: none

REF: de-duplicate _intersection, _difference
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/tests/indexes/multi/test_setops.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

REF: give ranks same nan filling
  pandas/_libs/algos.pyx
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  frame-or-series-union: any of: \.py$ and not (^pandas/_typing\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  inconsistent-namespace-usage: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/excel/test_writers\.py
|pandas/tests/io/pytables/common\.py
|pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
