Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip_to_conda, flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

pip_to_conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python -m scripts.generate_pip_deps_from_conda
  pass_filenames: false
  additional_dependencies:
  - pyyaml

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

incorrect-sphinx-directives:
  name: Check for incorrect Sphinx directives
  language: pygrep
  ...

non-standard-imports:
  name: Check for non-standard imports
  language: pygrep
  entry: '(?x)
  
    # Check for imports from pandas.core.common instead of `import pandas.core.common as com`
  
    from\ pandas\.core\.common\ import|
  
    from\ pandas\.core\ import\ common|
  
  
  ...

non-standard-imports-in-tests:
  name: Check for non-standard imports in test suite
  language: pygrep
  entry: '(?x)
  
    # Check for imports from pandas._testing instead of `import pandas._testing as tm`
  
    from\ pandas\._testing\ import|
  
    from\ pandas\ import\ _testing\ as\ tm|
  
  
    # No direct imports from conftest
  
  ...

incorrect-code-directives:
  name: Check for incorrect code block or IPython directives
  language: pygrep
  entry: (\.\. code-block ::|\.\. ipython ::)

REF: implement Index._get_indexer (#38308)
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/multi.py
  pandas/core/indexes/period.py
  pandas/core/indexes/range.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST: add message matches to pytest.raises in various tests GH30999 (#38350)
  pandas/tests/io/pytables/test_complex.py
  pandas/tests/io/test_clipboard.py
  pandas/tests/plotting/frame/test_frame_subplots.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

remove unused frame
  pandas/tests/indexing/test_indexing.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

update whatsnew
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

REF: share IntervalIndex.intersection with Index.intersection
  pandas/core/dtypes/dtypes.py
  pandas/core/indexes/interval.py
  pandas/tests/dtypes/cast/test_find_common_type.py
  pandas/tests/indexes/interval/test_setops.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

typo fixup
  doc/source/whatsnew/v1.2.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

Fix mypy issues
  pandas/io/parsers.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Run black
  pandas/io/parsers.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Move whatsnew
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

Add py39 target for Black
  pyproject.toml
Due: none

Add tests and move whatsnew
  doc/source/whatsnew/v1.2.0.rst
  doc/source/whatsnew/v1.3.0.rst
  pandas/io/parsers.py
  pandas/tests/io/parser/test_index_col.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Move methods
  pandas/core/indexes/multi.py
  pandas/core/ops/common.py
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/test_common.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

cleaned up spaces
  doc/source/development/index.rst
  setup.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

CLN: lighter-weight casting
  pandas/core/construction.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

mypy fixup
  pandas/core/dtypes/dtypes.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Steps for gdb and lldb
  doc/source/development/debugging_extensions.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

Added python directive to code-block
  doc/source/development/debugging_extensions.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

removed extra newlines
  setup.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

fix series.isin slow issue with Dtype IntegerArray
  pandas/core/series.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

typo fixup
  pandas/core/reshape/tile.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST: raise on mismatched closed
  pandas/core/dtypes/dtypes.py
  pandas/tests/dtypes/test_dtypes.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

ENH: make closed part of IntervalDtype
  pandas/conftest.py
  pandas/core/arrays/_arrow_utils.py
  pandas/core/arrays/interval.py
  pandas/core/dtypes/cast.py
  pandas/core/dtypes/dtypes.py
  pandas/tests/arithmetic/test_interval.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/dtypes/cast/test_infer_dtype.py
  pandas/tests/dtypes/test_dtypes.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/indexes/interval/test_constructors.py
  pandas/tests/indexes/interval/test_interval.py
  pandas/tests/series/test_constructors.py
  pandas/tests/util/test_assert_frame_equal.py
  pandas/tests/util/test_assert_series_equal.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

pickle
  pandas/core/arrays/interval.py
  pandas/core/dtypes/dtypes.py
  pandas/tests/dtypes/test_dtypes.py
  pandas/tests/indexes/interval/test_constructors.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

BUG: item_cache invalidation on DataFrame.insert
  pandas/core/internals/managers.py
  pandas/tests/frame/indexing/test_insert.py
  pandas/tests/frame/test_block_internals.py
  pandas/tests/io/sas/test_sas7bdat.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

last files for unnecesary dict calls
  pandas/tests/io/generate_legacy_storage_files.py
  pandas/tests/io/parser/test_comment.py
  pandas/tests/io/parser/test_dialect.py
  pandas/tests/io/parser/test_encoding.py
  pandas/tests/io/parser/test_header.py
  pandas/tests/io/parser/test_index_col.py
  pandas/tests/io/parser/test_na_values.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/io/parser/test_python_parser_only.py
  pandas/tests/io/parser/test_skiprows.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

REF: use find_common_type in Index.union
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/numeric.py
  pandas/core/indexes/timedeltas.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST: update IntervalIndex.union tests
  pandas/tests/indexes/interval/test_setops.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

changes in dataframe call line 643
  pandas/core/arrays/base.py
  pandas/tests/io/parser/test_parse_dates.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

changes in dataframe call line 643
  pandas/core/arrays/base.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

changes in conflicts
  pandas/core/arrays/base.py
  pandas/core/indexes/base.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Added test
  pandas/tests/tools/test_to_datetime.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

last dict fixings
  pandas/tests/io/generate_legacy_storage_files.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

last dict fixings
  pandas/tests/io/parser/test_comment.py
  pandas/tests/io/parser/test_parse_dates.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

last dict fixings
  pandas/tests/io/parser/test_dialect.py
  pandas/tests/io/parser/test_encoding.py
  pandas/tests/io/parser/test_skiprows.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Move isinstance(comps, IntegerArray) to algo.isin
  pandas/core/algorithms.py
  pandas/core/series.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

last dict fixings
  pandas/tests/io/parser/test_header.py
  pandas/tests/io/parser/test_index_col.py
  pandas/tests/io/parser/test_na_values.py
  pandas/tests/io/parser/test_python_parser_only.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

cannot import IntegerArray due to circular import
  pandas/core/algorithms.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Path conditions:
  pip_to_conda: any of: ^(environment.yml|requirements-dev.txt)$
  flake8-rst: any of: \.rst$
  incorrect-sphinx-directives: any of: \.(py|pyx|rst)$
  non-standard-imports: any of: \.py$
  non-standard-imports-in-tests: any of: ^pandas/tests/ and \.py$
  incorrect-code-directives: any of: \.(py|pyx|rst)$
