Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

fix test
  pandas/tests/io/json/test_normalize.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

fix adbc check
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Use step
  pandas/_libs/lib.pyi
  pandas/_libs/lib.pyx
  pandas/core/indexes/range.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Only allow int64, fix indexing
  pandas/core/indexes/base.py
  pandas/tests/io/test_stata.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DOC: Pin dask/dask-expr for scale.rst
  environment.yml
  requirements-dev.txt
Due: pip-to-conda

Address feedback
  pandas/core/indexes/range.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: Pin dask/dask-expr for scale.rst (#57830)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda

Backport PR #57830: DOC: Pin dask/dask-expr for scale.rst
  environment.yml
  requirements-dev.txt
Due: pip-to-conda

Backport PR #57830 on branch 2.2.x (DOC: Pin dask/dask-expr for scale.rst) (#57832)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda

PERF: RangeIndex.round returns RangeIndex when possible (#57824)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/range.py
  pandas/tests/indexes/ranges/test_range.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Remove assert
  pandas/tests/indexes/ranges/test_range.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Switch back to int6432
  pandas/_libs/lib.pyx
Due: none

reduce diff
  pandas/core/interchange/from_dataframe.py
Due: unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

reduce diff
  pandas/core/interchange/buffer.py
Due: unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

use Index
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Use np_values
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

whatsnew
  doc/source/whatsnew/v3.0.0.rst
Due: incorrect-backticks, sort-whatsnew-items

combine two conditions
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

Adjust more tests
  pandas/tests/groupby/test_groupby.py
  pandas/tests/indexing/test_indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

PERF: RangeIndex.insert maintains RangeIndex when empty
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/indexes/range.py
  pandas/tests/indexes/ranges/test_range.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Adjust more tests
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/test_old_base.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Fix some tests
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/tools/test_to_datetime.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Catch OverflowError
  pandas/core/indexes/range.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Fix issue with Tempita recompilation (#57796)
  pandas/_libs/meson.build
Due: none

Backport PR #57796: Fix issue with Tempita recompilation
  pandas/_libs/meson.build
Due: none

Add back int32
  pandas/tests/io/test_stata.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

remove Use Dask adn Use Modin sections
  doc/source/user_guide/scale.rst
Due: incorrect-backticks

Backport PR #57796 on branch 2.2.x (Fix issue with Tempita recompilation) (#57834)
  pandas/_libs/meson.build
Due: none

fix typing
  pandas/core/indexes/range.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

PERF: RangeIndex.argmin/argmax (#57823)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/indexes/range.py
  pandas/tests/indexes/ranges/test_range.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

introduce new shell parameter
  ci/code_checks.sh
  scripts/validate_docstrings.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing

fix merge errors
  ci/code_checks.sh
Due: none

Update v2.2.2.rst
  doc/source/whatsnew/v2.2.2.rst
Due: incorrect-backticks, sort-whatsnew-items

testcase
  pandas/tests/io/json/test_normalize.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming
