Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

CLN: leave single-column datetimelike frames to a follow-up PR (GH#63842)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_period.py
  pandas/tests/frame/indexing/test_where.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: where/mask with a list other misaligned on a single datetimelike column
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_period.py
  pandas/tests/frame/indexing/test_where.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: show how to skip missing labels in MultiIndex list selection (GH#49206)
  doc/source/user_guide/advanced.rst
Due: incorrect-backticks

BUG: read_sas xport reads zeros as 5.397605e-79 (GH#50670)
  doc/source/whatsnew/v3.2.0.rst
  pandas/io/sas/sas_xport.py
  pandas/tests/io/sas/test_xport.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ENH: add numeric_only to GroupBy.rank (GH#44438)
  doc/source/whatsnew/v3.2.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/methods/test_rank.py
  pandas/tests/groupby/test_api.py
  pandas/tests/groupby/test_numeric_only.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: Styler.background_gradient colors NaN as the lowest value when vmin == vmax (GH#47695)
  doc/source/whatsnew/v3.2.0.rst
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_matplotlib.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: document Styler template/env attributes in the API reference (GH#60872)
  doc/source/conf.py
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Styler.bar raises on pd.NA with align="mean", callable align or cmap (GH#56425)
  doc/source/whatsnew/v3.2.0.rst
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_bar.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

STYLE: isort parenthesize multi-name import in web test
  web/tests/test_pandas_web.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

BUG: Period silently parses a weekly Period string as minute frequency (GH#48000)
  doc/source/whatsnew/v3.2.0.rst
  pandas/_libs/tslibs/period.pyx
  pandas/tests/scalar/period/test_period.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

TYP: fix mypy and pyright errors in scatter colorbar
  pandas/plotting/_matplotlib/colorbar.py
  pandas/plotting/_matplotlib/core.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

CLN: address review on astype with a dict
  asv_bench/benchmarks/frame_methods.py
  doc/source/whatsnew/v3.1.0.rst
  doc/source/whatsnew/v3.2.0.rst
  pandas/core/generic.py
Due: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, sort-whatsnew-items

DOC: move the GH#62936 whatsnew note to 3.2.0
  doc/source/whatsnew/v3.1.0.rst
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

CLN: use the PR number for the issue reference
  doc/source/whatsnew/v3.1.0.rst
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/io/json/data/teams.csv
  pandas/tests/io/sas/data/DEMO_G.csv
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

TST: restore test data files changed by the issue-number rewrite
  pandas/tests/io/json/data/teams.csv
  pandas/tests/io/sas/data/DEMO_G.csv
Due: none

ENH: name the subclass in deprecate_nonkeyword_arguments warnings (GH#48650)
  pandas/tests/io/formats/test_to_markdown.py
  pandas/tests/io/formats/test_to_string.py
  pandas/tests/util/test_deprecate_nonkeyword_arguments.py
  pandas/util/_decorators.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: Categorical.map keeps a hashable list-like value mapped from NaN
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_map.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Backport PR #70471 on branch 3.1.x (DOC: group build items in the 3.1.0 whatsnew Build section (GH#68437)) (#70484)
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: move GH#30517 whatsnew entries to v3.2.0
  doc/source/whatsnew/v3.1.0.rst
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

BUG: align a list other for multi-column datetimelike blocks too
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_where.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TST: drop where/mask list-like tests covered by the extension base tests (GH#63842)
  pandas/tests/frame/indexing/test_where.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TYP: use isinstance in validate_min_count to satisfy pyright
  pandas/util/_validators.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DEPR: negative min_count in reductions (GH#50022)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/resample.py
  pandas/tests/groupby/test_missing.py
  pandas/tests/groupby/test_reductions.py
  pandas/tests/resample/test_base.py
  pandas/tests/series/test_reductions.py
  pandas/util/_validators.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: keep merging Sparse[object] keys against numeric keys
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

TST: drop SeriesGroupBy.rank numeric_only checks covered by parametrized tests
  pandas/tests/groupby/methods/test_rank.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

DOC: a listed label must be in the index, not just its level
  doc/source/user_guide/advanced.rst
Due: incorrect-backticks

TST: assert float32 var/std skip bottleneck regardless of environment
  pandas/tests/test_nanops.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

DEPR: deprecate negative min_count in TimedeltaIndex.sum (GH#50022)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/indexes/timedeltas.py
  pandas/tests/reductions/test_reductions.py
  pandas/tests/series/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: move GH#50022 deprecation entry to v3.2.0
  doc/source/whatsnew/v3.1.0.rst
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

TST: pin int64 dtype in GH#55969 test for 32-bit platforms
  pandas/tests/indexing/multiindex/test_loc.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: keep per-column lists and string parsing for datetimelike where/mask
  pandas/core/arrays/datetimelike.py
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_where.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: reject trailing text in weekly Period strings; cover end-day-as-offset case
  doc/source/whatsnew/v3.2.0.rst
  pandas/_libs/tslibs/period.pyx
  pandas/tests/scalar/period/test_period.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

Backport PR #70228 on branch 3.1.x (BUG: bar subplots draw date labels on inner shared-x axes (follow-up to GH#62992)) (#70504)
  pandas/plotting/_matplotlib/core.py
  pandas/tests/plotting/test_datetimelike.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: DataFrame.eval assigning to a backtick-quoted name used the cleaned identifier as the column label
  doc/source/whatsnew/v3.2.0.rst
  pandas/core/computation/eval.py
  pandas/core/computation/expr.py
  pandas/core/computation/parsing.py
  pandas/tests/frame/test_query_eval.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: read_csv C engine crashes on a Cython-profiled build
  pandas/_libs/parsers.pyx
Due: none

CLN: type the parser io callbacks as noexcept nogil
  pandas/_libs/parsers.pyx
Due: none

BUG: preserve SQL date and time types with pyarrow
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TST: specify units for SQL temporal NaT fixtures
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: preserve SQL temporal nulls and explicit date parsing
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: normalize SQL temporal nulls with type-safe assignment
  pandas/io/sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations
