Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)

fixup test collection
  pandas/core/arrays/datetimes.py
  pandas/tests/dtypes/test_missing.py
  pandas/tests/indexes/test_engines.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

wip
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pxd
  pandas/_libs/tslibs/timestamps.pyx
Due: cython-casting

ewm
  pandas/core/window/ewm.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fixup test unary ops
  pandas/tests/scalar/timestamp/test_unary_ops.py
Due: np-testing-array-equal

divide by zero to debug LOL
  pandas/_libs/tslibs/timedeltas.pyx
Due: cython-casting

more fixups
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: np-testing-array-equal

DEPR: remove Int/Uint/Float64Index from tests/arithmetic + various places
  pandas/tests/arithmetic/conftest.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/indexes/numeric/test_astype.py
  pandas/tests/indexes/period/methods/test_astype.py
  pandas/tests/indexes/period/test_constructors.py
  pandas/tests/reductions/test_reductions.py
Due: np-testing-array-equal

dont fail import scipy.stats
  pandas/util/_test_decorators.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

catch importorskip error, replace ghref
  pandas/tests/frame/test_reductions.py
  pandas/util/_test_decorators.py
Due: np-testing-array-equal, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

WEB: fix list formatting in PDEP-4
  web/pandas/pdeps/0004-consistent-to-datetime-parsing.md
Due: none

add swapaxes
  pandas/tests/copy_view/test_methods.py
Due: np-testing-array-equal

DOC: Fix RT02 issues in docstrings
  ci/code_checks.sh
  pandas/core/arrays/base.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/strings/accessor.py
  pandas/io/formats/style.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CLN: Refactor block splitting into its own method
  pandas/core/internals/managers.py
  pandas/tests/internals/test_internals.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Add docs
  pandas/core/internals/managers.py
  pandas/tests/internals/test_internals.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

ENH: Optimize replace to avoid copying when not necessary
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

expand tests
  pandas/tests/copy_view/test_constructors.py
Due: np-testing-array-equal

fix reindex case
  pandas/core/internals/construction.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

WEB: Make all links in the website relative
  web/pandas/_templates/layout.html
  web/pandas/about/citing.md
  web/pandas/about/governance.md
  web/pandas/about/roadmap.md
  web/pandas/about/team.md
  web/pandas/community/blog/index.html
  web/pandas/config.yml
  web/pandas/contribute.md
  web/pandas/getting_started.md
  web/pandas/index.html
  web/pandas/try.md
  web/pandas_web.py
Due: none

WIP: Trigger preview of the web/docs
  .github/workflows/docbuild-and-upload.yml
Due: none

remove unnecessary command
  doc/source/development/contributing_gitpod.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

PERF: Improve performance for array equal fast (#50850)
  pandas/_libs/lib.pyi
  pandas/_libs/lib.pyx
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/tests/libs/test_lib.py
Due: cython-casting, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

WEB: fix list formatting in PDEP-4 (#50895)
  web/pandas/pdeps/0004-consistent-to-datetime-parsing.md
Due: none

update
  pandas/tests/copy_view/test_methods.py
Due: np-testing-array-equal

Improve to_datetime bounds checking (#50183)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/tools/datetimes.py
  pandas/tests/tools/test_to_datetime.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: Fix some RT02 issues in docstrings (#50896)
  ci/code_checks.sh
  pandas/core/arrays/base.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/strings/accessor.py
  pandas/io/formats/style.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: removed hypen to fix docs build numpydoc warnings (#50890)
  pandas/_libs/tslibs/offsets.pyx
Due: cython-casting

DEPR: remove Int/Uint/Float64Index from tests/arithmetic + various (#50889)
  pandas/tests/arithmetic/conftest.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/indexes/numeric/test_astype.py
  pandas/tests/indexes/period/methods/test_astype.py
  pandas/tests/indexes/period/test_constructors.py
  pandas/tests/reductions/test_reductions.py
Due: np-testing-array-equal

remove redundant latex options
  pandas/core/generic.py
  pandas/tests/io/formats/test_to_latex.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

REF: consolidate datetime parsing paths and exception handling (#50790)
  doc/source/user_guide/timeseries.rst
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/frame/test_block_internals.py
  pandas/tests/indexes/datetimes/test_constructors.py
  pandas/tests/indexes/datetimes/test_date_range.py
  pandas/tests/io/pytables/test_select.py
  pandas/tests/scalar/timestamp/test_constructors.py
  pandas/tests/series/test_constructors.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tseries/frequencies/test_inference.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal

ENH: support argmin/argmax with pyarrow durations (#50879)
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

avoid duplicate explicit target name
  doc/source/development/maintaining.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

BUG: Parsing week-freq Periods
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/tslibs/period.pyx
  pandas/tests/scalar/period/test_period.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal
