Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - tomli
  - pyyaml
  pass_filenames: false

validate-errors-locations:
  name: Validate errors locations
  description: Validate errors are in appropriate locations.
  entry: python scripts/validate_exception_location.py
  language: python

check-test-naming:
  name: check that test names start with 'test'
  entry: python -m scripts.check_test_naming
  language: python

sort-whatsnew-items:
  name: sort whatsnew entries alphabetically
  entry: python -m scripts.sort_whatsnew_note
  language: python

TST (string): copy/view tests (#59702)
  pandas/core/dtypes/dtypes.py
  pandas/tests/copy_view/test_constructors.py
  pandas/tests/copy_view/test_functions.py
  pandas/tests/copy_view/test_internals.py
  pandas/tests/dtypes/test_dtypes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

TST (string): more targeted xfails in test_string.py (#59703)
  pandas/tests/extension/test_string.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

REF (string): de-duplicate _str_contains (#59709)
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

BUG (string): ArrowStringArray.find corner cases (#59562)
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

String dtype: implement _get_common_dtype (#59682)
  pandas/core/arrays/string_.py
  pandas/tests/arrays/categorical/test_api.py
  pandas/tests/arrays/string_/test_concat.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

TST/BUG (string dtype): Fix and adjust indexes string tests (#59544)
  pandas/core/construction.py
  pandas/core/indexes/base.py
  pandas/tests/indexes/base_class/test_setops.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_old_base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

TST (string dtype): Adjust indexing string tests (#59541)
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/indexing/test_loc.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

TST (string dtype): adjust pandas/tests/reshape tests (#59762)
  pandas/tests/reshape/concat/test_concat.py
  pandas/tests/reshape/merge/test_merge_asof.py
  pandas/tests/reshape/test_get_dummies.py
  pandas/tests/reshape/test_melt.py
  pandas/tests/reshape/test_pivot.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

BUG (string dtype): fix inplace mutation with copy=False in ensure_string_array (#59756)
  pandas/_libs/lib.pyx
  pandas/tests/copy_view/test_astype.py
  pandas/tests/libs/test_lib.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

TST (string dtype): remove usage of 'string[pyarrow_numpy]' alias (#59758)
  pandas/conftest.py
  pandas/tests/apply/test_numba.py
  pandas/tests/arrays/string_/test_string_arrow.py
  pandas/tests/base/test_misc.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/methods/test_rank.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/groupby/methods/test_size.py
  pandas/tests/groupby/methods/test_value_counts.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_reductions.py
  pandas/tests/indexes/base_class/test_constructors.py
  pandas/tests/indexes/base_class/test_reshape.py
  pandas/tests/indexes/object/test_indexing.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_old_base.py
  pandas/tests/interchange/test_impl.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/parser/dtypes/test_dtypes_basic.py
  pandas/tests/io/pytables/test_read.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_orc.py
  pandas/tests/io/test_parquet.py
  pandas/tests/io/test_sql.py
  pandas/tests/reshape/test_get_dummies.py
  pandas/tests/reshape/test_melt.py
  pandas/tests/series/test_logical_ops.py
  pandas/tests/strings/test_find_replace.py
  pandas/tests/util/test_shares_memory.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

BUG (string): Series.str.slice with negative step (#59724)
  doc/source/whatsnew/v2.3.0.rst
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/strings/test_strings.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

String dtype: remove fallback Perfomance warnings for string methods (#59760)
  pandas/core/arrays/arrow/_arrow_utils.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/test_string.py
  pandas/tests/indexes/test_setops.py
  pandas/tests/strings/test_find_replace.py
  pandas/tests/strings/test_string_array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

REF (string): de-duplicate ArrowStringArray methods (#59555)
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

BUG/API (string dtype): return float dtype for series[str].rank() (#59768)
  doc/source/whatsnew/v2.3.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/frame/methods/test_rank.py
  pandas/tests/series/methods/test_rank.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

String dtype: fix isin() values handling for python storage (#59759)
  pandas/conftest.py
  pandas/core/arrays/string_.py
  pandas/tests/arrays/string_/test_string.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

String dtype: allow string dtype in query/eval with default numexpr engine (#59810)
  pandas/core/computation/eval.py
  pandas/core/computation/expr.py
  pandas/tests/frame/test_query_eval.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

String dtype: map builtin str alias to StringDtype (#59685)
  pandas/_libs/lib.pyx
  pandas/_testing/__init__.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/dtypes/common.py
  pandas/core/indexes/base.py
  pandas/core/indexes/interval.py
  pandas/tests/arrays/floating/test_astype.py
  pandas/tests/arrays/integer/test_dtypes.py
  pandas/tests/arrays/sparse/test_astype.py
  pandas/tests/arrays/sparse/test_dtype.py
  pandas/tests/dtypes/test_common.py
  pandas/tests/extension/base/casting.py
  pandas/tests/extension/json/array.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/frame/methods/test_astype.py
  pandas/tests/frame/methods/test_select_dtypes.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/indexes/datetimes/methods/test_astype.py
  pandas/tests/indexes/object/test_astype.py
  pandas/tests/indexes/period/methods/test_astype.py
  pandas/tests/indexes/timedeltas/methods/test_astype.py
  pandas/tests/interchange/test_impl.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/parser/dtypes/test_dtypes_basic.py
  pandas/tests/io/parser/test_na_values.py
  pandas/tests/io/parser/test_python_parser_only.py
  pandas/tests/series/methods/test_astype.py
  pandas/tests/series/methods/test_map.py
  pandas/tests/series/test_constructors.py
  pandas/tests/test_algos.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

String dtype: allow string dtype for non-raw apply with numba engine (#59854)
  pandas/core/_numba/extensions.py
  pandas/core/apply.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/apply/test_numba.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

fixup rank test
  pandas/tests/series/methods/test_rank.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

update tests
  pandas/tests/arithmetic/test_object.py
  pandas/tests/groupby/methods/test_describe.py
  pandas/tests/groupby/test_numeric_only.py
  pandas/tests/groupby/transform/test_transform.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/io/test_feather.py
  pandas/tests/reshape/test_melt.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

fix linting
  pandas/core/dtypes/dtypes.py
  pandas/tests/extension/test_string.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

String dtype: propagate NaNs as False in predicate methods (eg .str.startswith) (#59616)
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/core/strings/accessor.py
  pandas/core/strings/base.py
  pandas/core/strings/object_array.py
  pandas/tests/strings/test_api.py
  pandas/tests/strings/test_find_replace.py
  pandas/tests/strings/test_string_array.py
  pandas/tests/strings/test_strings.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

TST (string dtype): fix and clean up arrow roundtrip tests (#59678)
  pandas/tests/arrays/masked/test_arrow_compat.py
  pandas/tests/arrays/string_/test_string.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

TST (string): fix xfailed groupby value_counts tests (#59632)
  pandas/tests/groupby/methods/test_value_counts.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

DEPR (string): non-bool na for obj.str.contains (#59615)
  doc/source/whatsnew/v2.3.0.rst
  pandas/core/arrays/string_arrow.py
  pandas/core/strings/object_array.py
  pandas/tests/strings/test_find_replace.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

REF (string): avoid copy in StringArray factorize (#59551)
  pandas/_libs/arrays.pyx
  pandas/_libs/hashtable.pyx
  pandas/_libs/hashtable_class_helper.pxi.in
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/string_.py
  pandas/tests/groupby/test_groupby_dropna.py
  pandas/tests/window/test_rolling.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

DOC: Add whatsnew for 2.3.0 (#59625)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v2.3.0.rst
Due: incorrect-backticks, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
