Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)

PERF: avoid is_dtype_equal (#52424)
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/base.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/period.py
  pandas/core/arrays/sparse/array.py
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/core/arrays/timedeltas.py
  pandas/core/construction.py
  pandas/core/dtypes/astype.py
  pandas/core/dtypes/concat.py
  pandas/core/dtypes/dtypes.py
  pandas/core/dtypes/missing.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/timedeltas.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/core/internals/concat.py
  pandas/core/internals/construction.py
  pandas/core/internals/managers.py
  pandas/core/reshape/merge.py
  pandas/io/parsers/base_parser.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

CoW: Delay copy when setting Series into DataFrame (#51698)
  pandas/core/frame.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_indexing.py
  pandas/tests/copy_view/test_setitem.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

REGR: df.loc setitem losing midx names (#53060)
  doc/source/whatsnew/v2.0.2.rst
  pandas/core/frame.py
  pandas/tests/indexing/multiindex/test_setitem.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

BUG: pd.api.interchange.from_pandas raises with all-null categorical (#53078)
  doc/source/whatsnew/v2.0.2.rst
  pandas/core/interchange/from_dataframe.py
  pandas/tests/interchange/test_impl.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

CLN: avoid upcasting in tests where unnecessary (PDEP-6 precursor) (#53070)
  pandas/tests/arrays/masked_shared.py
  pandas/tests/frame/indexing/test_mask.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/frame/methods/test_asof.py
  pandas/tests/frame/methods/test_map.py
  pandas/tests/groupby/test_counting.py
  pandas/tests/groupby/test_filters.py
  pandas/tests/groupby/test_groupby.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

BUG: `MultiIndex` displays incorrectly with a long element (#53044)
  doc/source/whatsnew/v2.1.0.rst
  pandas/io/formats/printing.py
  pandas/tests/io/formats/test_printing.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

REF: define _header_line and have_mi_columns non-dynamically (#53091)
  pandas/io/parsers/python_parser.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

BUG: Setting frame into df with dup cols loses dtypes (#53143)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/indexing/test_setitem.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

REGR: MultiIndex.join not resorting levels of new index (#53102)
  doc/source/whatsnew/v2.0.2.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/multi/test_join.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

CoW: Delay copy when enlarging df with loc (#52062)
  pandas/core/indexing.py
  pandas/tests/copy_view/test_indexing.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

BUG: Fix incompatible return value type in pandas/core/generic.py (#52897)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_size.py
  pandas/tests/series/methods/test_size.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DOC: Fix version switcher (#53188)
  web/pandas/versions.json
Due: none

TYP: remove ignore from pandas/tseries/frequencies.py II (#53120)
  pandas/tseries/frequencies.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

PERF: add ._simple_new method to masked arrays (#53013)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/arrays/boolean.py
  pandas/core/arrays/masked.py
Due: flake8-rst, inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Fix ns precision isoformat (#53073)
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/tslibs/test_parse_iso8601.py
Due: inconsistent-namespace-usage, no-os-remove, cython-casting, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

API/BUG: Make `to_json` `index=` arg consistent with `orient` arg (#52143)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/generic.py
  pandas/io/json/_json.py
  pandas/tests/io/json/test_pandas.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DOC: Fix rst formatting in dev environment docs (#53187)
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

CLN: avoid upcasting in tests where unnecessary (PDEP-6 precursor) (#53104)
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/interchange/test_impl.py
  pandas/tests/series/indexing/test_setitem.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

[READY] Improved performance of `Period`'s default formatter (`period_format`) (#51459)
  asv_bench/benchmarks/io/csv.py
  asv_bench/benchmarks/strftime.py
  asv_bench/benchmarks/tslibs/period.py
  doc/source/whatsnew/v2.1.0.rst
  pandas/_libs/tslibs/period.pyx
Due: flake8-rst, inconsistent-namespace-usage, cython-casting, incorrect-backticks, seed-check-asv

TYP: resolve mypy errors in core/arrays/_ranges.py (#52943)
  pandas/core/arrays/_ranges.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

MNT: Explicitly set cdef functions as noexcept (#53144)
  pandas/_libs/groupby.pyx
  pandas/_libs/hashing.pyx
  pandas/_libs/hashtable.pxd
  pandas/_libs/hashtable_class_helper.pxi.in
  pandas/_libs/join.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/parsing.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/util.pxd
  pandas/_libs/window/aggregations.pyx
Due: cython-casting

MNT: Add support of Cython 3 master (#53145)
  pandas/_libs/parsers.pyx
Due: cython-casting

BUG: SparseDtype requires numpy dtype (#53160)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/arrays/sparse/dtype.py
  pandas/tests/arrays/sparse/test_astype.py
  pandas/tests/arrays/sparse/test_dtype.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

TYP: Narrow down type of method keyword in Index (#52723)
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TYP: remove mypy ignore from pandas/core/construction.py (#53112)
  pandas/core/construction.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

PERF: Series.add for pyarrow string/binary dtypes (#53150)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/arrays/arrow/array.py
Due: flake8-rst, inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Fix bug #37782 (#53099)
  doc/source/whatsnew/v2.1.0.rst
  pandas/io/json/_normalize.py
  pandas/tests/io/json/test_normalize.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DEPR: stricter downcast values in fillna (#53103)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/generic.py
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_fillna.py
  pandas/tests/frame/methods/test_interpolate.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

REGR: read_sql dropping duplicated columns (#53118)
  doc/source/whatsnew/v2.0.2.rst
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

CI: Don't run cron for forks (#53129)
  .github/workflows/codeql.yml
  .github/workflows/stale-pr.yml
  .github/workflows/wheels.yml
Due: none

Add test for groupby with TimeGrouper (#53173)
  pandas/tests/groupby/test_groupby.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

TYP: added explanation of the join methods within df.align (#53101)
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

DOC: Move whatsnew after backport (#53141)
  doc/source/whatsnew/v2.0.2.rst
  doc/source/whatsnew/v2.1.0.rst
Due: flake8-rst, incorrect-backticks

TST: Added test for sort_index parameter multiindex 'sort_remaining' = False (#53076)
  pandas/tests/frame/methods/test_sort_index.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

CI: Add job to validate conda-forge meta.yaml (#53027)
  .github/workflows/package-checks.yml
  ci/meta.yaml
Due: none

PERF: Improve performance when accessing GroupBy.groups (#53088)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/groupby/ops.py
Due: flake8-rst, inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DEPS: Unpin pydata-sphinx-theme (#53029)
  doc/source/conf.py
  doc/source/versions.json
  environment.yml
  requirements-dev.txt
  web/pandas/versions.json
Due: inconsistent-namespace-usage, pip-to-conda

DOC: #53035 clarify the behavior of sep=None. (#53153)
  pandas/io/parsers/readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations
