Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

unwanted-patterns-doesnt-use-pandas-warnings:
  name: Check that warning classes for deprecations use pandas' warning classes
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="doesnt_use_pandas_warnings"

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

validate-errors-locations:
  name: Validate errors locations
  description: Validate errors are in appropriate locations.
  entry: python scripts/validate_exception_location.py
  language: python

check-test-naming:
  name: check that test names start with 'test'
  entry: python -m scripts.check_test_naming
  language: python

sort-whatsnew-items:
  name: sort whatsnew entries alphabetically
  entry: python -m scripts.sort_whatsnew_note
  language: python

BUG: Fix PyArrow C++ core dump in fillna on ArrowDtype(pa.null()) (#65483)
  pandas/compat/pyarrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Fix PyArrow C++ core dump in fillna on ArrowDtype(pa.null()) (#65483)
  pandas/core/arrays/arrow/array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

TST: Add regression test for GH#65483 fillna on pa.null() columns
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

FIX: Correct placement of GH#65483 early return in _replace_with_mask
  pandas/core/arrays/arrow/array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

STYLE: Fix inconsistent namespace usage pd.ArrowDtype vs ArrowDtype
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Fix outdated matplotlib link in visualization.rst
  doc/source/user_guide/visualization.rst
Due: incorrect-backticks

Fix outdated matplotlib link in visualization docs
  doc/source/user_guide/visualization.rst
Due: incorrect-backticks

PERF: limit ADBC table existence metadata
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

REF: reuse _format_native_types in to_csv chunked formatting (#55481)
  pandas/io/formats/csvs.py
  pandas/tests/io/formats/test_to_csv.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

CLN: restore mixed-tz fallback in datetime merge key fill
  pandas/core/reshape/merge.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: restore mixed-tz fallback in merge key fill
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

CLN: pre-commit
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

CLN: pre-commit
  pandas/tests/reshape/merge/test_merge.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

PERF: address review feedback for Arrow duration components
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: Add practical example for removing duplicate rows (#65114)
  doc/source/user_guide/duplicates.rst
Due: incorrect-backticks

DOC: Fix outdated matplotlib link in visualization.rst
  doc/source/user_guide/visualization.rst
Due: incorrect-backticks

DOC: Fix text visibility in dark mode for getting started data cards
  doc/source/_static/css/getting_started.css
Due: none

PERF: align timedelta component ASV benchmarks to standalone dt accessors
  asv_bench/benchmarks/timedelta.py
Due: inconsistent-namespace-usage, seed-check-asv, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

DOC: fix misleading deprecated DataFrameXchg type in from_dataframe docstring (#63111)
  pandas/core/interchange/from_dataframe.py
Due: unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

PERF: measure timedelta component ASV benchmarks cold via number=1
  asv_bench/benchmarks/timedelta.py
Due: inconsistent-namespace-usage, seed-check-asv, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

fix docs
  pandas/_testing/asserters.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Fix pivot_table margins dropping valid rows when aggfunc is a dict
  pandas/core/reshape/pivot.py
  pandas/tests/reshape/test_pivot.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

apply review
  pandas/core/generic.py
  pandas/tests/frame/test_query_eval.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: fix right-labeled CustomBusinessDay resampling
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/resample.py
  pandas/tests/resample/test_datetime_index.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

adress comments
  pandas/io/formats/format.py
  pandas/tests/io/formats/test_format.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

removed unnecessary
  pandas/_typing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

removed unnecessary `pyright: ignore[reportUnusedImport]`
  pandas/_typing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

PERF: Fix performance regression in ZoneInfo
  pandas/_libs/tslibs/timezones.pyx
  pandas/_libs/tslibs/vectorized.pyx
Due: none

Cleanup & revert
  pandas/_libs/tslibs/timezones.pyx
  pandas/_libs/tslibs/vectorized.pyx
Due: none

adressing comments
  pandas/core/arrays/arrow/array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

PERF: Fix regression in DatetimeIndex.normalize (#65757)
  pandas/core/arrays/datetimes.py
  pandas/core/indexes/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

PERF: Speed up DataFrame.apply(axis=1) for ExtensionDtype columns (#65097)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/apply.py
  pandas/core/indexes/base.py
  pandas/tests/apply/test_frame_apply.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: add `_str_getitem` to `ArrowStringArrayMixin` (#65113)
  doc/source/whatsnew/v3.0.4.rst
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Backport PR #65113: BUG: add `_str_getitem` to `ArrowStringArrayMixin`
  doc/source/whatsnew/v3.0.4.rst
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ENH: add default ExtensionArray.round (GH#49387)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/base.py
  pandas/core/arrays/datetimelike.py
  pandas/core/internals/blocks.py
  pandas/tests/extension/base/methods.py
  pandas/tests/extension/test_datetime.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Fix ExtensionArray.round on numpy complex scalars
  pandas/core/arrays/base.py
  pandas/tests/extension/base/methods.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Fix ArrowExtensionArray.round on pyarrow < 14
  pandas/core/arrays/arrow/array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Fix ExtensionArray.round on complex dtypes for Python < 3.13
  pandas/core/arrays/base.py
  pandas/tests/extension/base/methods.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Remove stray whatsnew
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: Remove redundant link to autofmt_xdate stable docs
  doc/source/user_guide/visualization.rst
Due: incorrect-backticks

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
