Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)

BUG: NumericIndex should not support float16 dtype (#49536)
  pandas/core/algorithms.py
  pandas/core/base.py
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/base/test_conversion.py
  pandas/tests/base/test_value_counts.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/indexes/test_numpy_compat.py
  pandas/tests/test_algos.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

BUG: handle duplicated columns when using `read_sql` (#44421)
  doc/source/whatsnew/v2.0.0.rst
  pandas/io/sql.py
Due: flake8-rst, incorrect-backticks, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TST: Add test_ to four tests in test_readlines.py and fix two of them (#50445)
  .pre-commit-config.yaml
  pandas/tests/io/json/test_readlines.py
Due: np-testing-array-equal, sync-flake8-versions

BUG: groupby.nth with NA values in groupings after subsetting to SeriesGroupBy (#50444)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_nth.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Reparameterize test
  pandas/tests/series/methods/test_isin.py
Due: np-testing-array-equal

CLN, TST: clean up and increase coverage in tslib.pyx (#50439)
  pandas/__init__.py
  pandas/_libs/tslib.pyi
  pandas/_libs/tslib.pyx
  pandas/tests/indexes/datetimes/test_formats.py
  pandas/tests/tslibs/test_parse_iso8601.py
Due: cython-casting, np-testing-array-equal, use-io-common-urlopen, no-return-exception, validate-errors-locations

BUG: Series(pyarrow-backed).round raising AttributeError (#50437)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TST: Make get_array smarter to work for masked arrays (#50436)
  pandas/tests/copy_view/test_util.py
  pandas/tests/copy_view/util.py
Due: np-testing-array-equal

Expected result is manually constructed.
  pandas/tests/resample/test_resampler_grouper.py
Due: np-testing-array-equal

CLN: Use exclusions in determination of _selected_obj (#50416)
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

ENH: Add std to masked interface (#50382)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/array_algos/masked_reductions.py
  pandas/core/arrays/masked.py
  pandas/tests/arrays/floating/test_function.py
  pandas/tests/arrays/integer/test_function.py
  pandas/tests/extension/base/dim2.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, invalid-ea-testing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Add nanoseconds to timestamps stub file (#50374)
  pandas/_libs/tslibs/timestamps.pyi
Due: none

ENH: Add use_nullable_dtypes for read_fwf (#50289)
  doc/source/whatsnew/v2.0.0.rst
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/test_read_fwf.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Incorrect identically-labeled DataFrame objects Exception comes with df.compare method #50083 (#50287)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/ops/__init__.py
  pandas/tests/frame/methods/test_compare.py
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/frame/test_nonunique_indexes.py
  pandas/tests/series/test_arithmetic.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations

ENH: Add use_nullable_dtypes for read_html (#50286)
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/parsers.pyx
  pandas/io/html.py
  pandas/tests/io/parser/test_na_values.py
  pandas/tests/io/test_html.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

BUG: add date_format to read_csv / Date parsing mistake. read_csv (#50320)
  pandas/_libs/tslibs/parsing.pyi
  pandas/_libs/tslibs/parsing.pyx
  pandas/io/parsers/base_parser.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/tslibs/test_parsing.py
Due: cython-casting, np-testing-array-equal, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Modules not paths
  ci/run_tests.sh
Due: none

revert copy=False
  pandas/core/apply.py
  pandas/core/frame.py
  pandas/core/groupby/generic.py
  pandas/core/indexing.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Try with token
  .github/workflows/docbuild-and-upload.yml
  web/pandas_web.py
Due: none

REF: restore _concat_managers_axis0 (#50401)
  pandas/core/internals/concat.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CI: Reduce duplicate pyarrow version testing
  .github/workflows/macos-windows.yml
  .github/workflows/ubuntu.yml
Due: none

comment about errors=ignore
  pandas/core/tools/datetimes.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CI: Fix npdev error on deprecation & future warnings
  .github/workflows/ubuntu.yml
Due: none

TST: Verify isin returns consistent results for passed iterables (#50443)
  pandas/tests/series/methods/test_isin.py
Due: np-testing-array-equal

TST: Skip test_rolling_var_numerical_issues on power platforms (#50349)
  pandas/compat/__init__.py
  pandas/tests/window/test_rolling.py
Due: np-testing-array-equal, use-io-common-urlopen, no-return-exception, validate-errors-locations
