Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$

Update generic.py
  pandas/core/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

Remove debug
  ci/run_tests.sh
Due: none

Add whatsnew
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst, incorrect-backticks

ENH: add suffixes argument to DataFrame.compare #44354
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/shared_docs.py
  pandas/tests/frame/methods/test_compare.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

Edited the tests
  pandas/tests/frame/methods/test_compare.py
Due: np-testing-array-equal

space fixing
  pandas/core/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

TYP: Fixed mypy issues in frequencies
  pandas/tseries/frequencies.py
Due: use-io-common-urlopen

TYP: Removed accidental inclusion
  pandas/tests/util/test_assert_series_equal.py
Due: np-testing-array-equal

fix pre-commit issue
  pandas/core/strings/accessor.py
  pandas/tests/strings/test_strings.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

BUG: If else added for idxmax / idxmin ValueError occurs if a period is missing. This will add NaT data for missing time period.
  pandas/core/groupby/ops.py
Due: use-pd_array-in-core, use-io-common-urlopen

Update shared_docs.py
  pandas/core/shared_docs.py
Due: use-pd_array-in-core, use-io-common-urlopen

Update series.py
  pandas/core/series.py
Due: use-pd_array-in-core, use-io-common-urlopen

Finalize tests
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal

Add checked
  pandas/core/arrays/arrow/array.py
Due: use-pd_array-in-core, use-io-common-urlopen

Remove space
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst, incorrect-backticks

Use indexer
  pandas/core/indexing.py
Due: use-pd_array-in-core, use-io-common-urlopen

Fix typing issues
  pandas/_libs/interval.pyi
  pandas/core/arrays/arrow/_arrow_utils.py
  pandas/core/dtypes/dtypes.py
Due: use-pd_array-in-core, use-io-common-urlopen

invalid argument tests
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/generic.py
  pandas/core/shared_docs.py
  pandas/tests/frame/methods/test_compare.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

issue reference
  pandas/tests/frame/methods/test_compare.py
Due: np-testing-array-equal

syntax editing
  pandas/tests/frame/methods/test_compare.py
Due: np-testing-array-equal

Try fixing pyright
  pandas/core/arrays/arrow/_arrow_utils.py
Due: use-pd_array-in-core, use-io-common-urlopen

Still return rangeindex if sort=False
  pandas/core/indexes/range.py
  pandas/tests/indexes/ranges/test_setops.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen
