Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

CLN: de-duplicate Ellipsis-handling (#44238)
  pandas/core/arrays/sparse/array.py
  pandas/core/arrays/string_arrow.py
  pandas/core/indexers/__init__.py
  pandas/core/indexers/utils.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/extension/json/array.py
Due: use-pd_array-in-core

REF: simplify is_scalar_indexer (#44234)
  pandas/core/indexers/utils.py
  pandas/tests/indexing/test_indexers.py
Due: use-pd_array-in-core

DEPR: warn on checks retained for fastparquet (#44193)
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
Due: use-pd_array-in-core

collect index tests
  pandas/tests/indexes/base_class/test_reshape.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_index_new.py
Due: none

TST: split large tests
  pandas/tests/indexes/categorical/test_reindex.py
  pandas/tests/indexes/common.py
  pandas/tests/indexes/datetimes/test_pickle.py
  pandas/tests/indexes/datetimes/test_unique.py
  pandas/tests/indexes/period/test_join.py
  pandas/tests/indexes/test_any_index.py
Due: none

fixturize
  pandas/conftest.py
  pandas/tests/arithmetic/test_datetime64.py
Due: none

DEPR: datetime64tz cast mismatched timezones on setitemlike
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/indexes/datetimes/methods/test_insert.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/series/methods/test_fillna.py
Due: flake8-rst, use-pd_array-in-core

TST: tests using invalid_scalar fixture (#44175)
  pandas/core/arrays/sparse/array.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/base/getitem.py
  pandas/tests/extension/base/setitem.py
  pandas/tests/extension/json/array.py
  pandas/tests/extension/test_numpy.py
  pandas/tests/extension/test_string.py
  pandas/tests/indexes/common.py
Due: use-pd_array-in-core

Revert "Backport PR #44204: CI: Python Dev build (#44208)"
  .github/workflows/python-dev.yml
Due: none

Add test for GH 16380
  pandas/tests/apply/test_series_apply.py
Due: none

added test for raises error when regex=False and pat is regex
  pandas/tests/strings/test_split_partition.py
Due: none

Add test for GH 14135
  pandas/tests/io/parser/test_read_fwf.py
Due: none

Add test for GH 16577
  pandas/tests/groupby/test_rank.py
Due: none

Add test for GH 16925
  pandas/tests/frame/test_stack_unstack.py
Due: none

Add test for GH 17093
  pandas/tests/groupby/transform/test_transform.py
Due: none

Add test for GH 17382
  pandas/tests/groupby/test_groupby.py
Due: none

Add test for GH 18050
  pandas/tests/arithmetic/test_categorical.py
Due: none

whatsnew, move func to dtypes.common
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/datetimelike.py
  pandas/core/dtypes/common.py
Due: flake8-rst, use-pd_array-in-core

fix broken builds
  pandas/core/arrays/timedeltas.py
Due: use-pd_array-in-core

TST: add test for GH43668
  pandas/tests/frame/test_subclass.py
Due: none

BUG: fix convert_dtypes GH43668
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

col trim on headers
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_style.py
Due: none

CLN: linting
  pandas/tests/frame/test_subclass.py
Due: none

TST: update finalize calls test
  pandas/tests/generic/test_finalize.py
Due: none

col trim on index names
  pandas/io/formats/style_render.py
Due: none

fix bug in level lengths
  pandas/io/formats/style_render.py
Due: none

DOC: add what's new entry
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

add test
  pandas/tests/io/formats/style/test_style.py
Due: none

whats new
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

text correction
  pandas/io/formats/style_render.py
Due: none

added back successful gby test
  pandas/tests/window/test_timeseries_window.py
Due: none

Fixes from pre-commit [automated commit]
  pandas/tests/window/test_timeseries_window.py
Due: none

Revert "Backport PR #44204: CI: Python Dev build (#44208)" (#44244)
  .github/workflows/python-dev.yml
Due: none

DEPR: datetime64tz cast mismatched timezones on setitemlike (#44243)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/indexes/datetimes/methods/test_insert.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/series/methods/test_fillna.py
Due: flake8-rst, use-pd_array-in-core

TYP: numba stub (#44233)
  ci/code_checks.sh
  doc/source/development/contributing_codebase.rst
  pandas/core/_numba/kernels/mean_.py
  pandas/core/_numba/kernels/shared.py
  pandas/core/_numba/kernels/sum_.py
  pyproject.toml
  typings/numba.pyi
Due: flake8-rst, title-capitalization, use-pd_array-in-core

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
