Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

DOC: Add non-inclusive partial string indexing example with correct Sphinx formatting
  doc/source/user_guide/indexing.rst
Due: incorrect-backticks

Backport PR #64168 on branch 3.0.x (TST: add legacy file generation and tests for HDF5) (#64175)
  pandas/tests/io/data/legacy_hdf/2.0/2.0.3_x86_64_linux_3.11.9_pytables-3.8.0_fixed.h5
  pandas/tests/io/data/legacy_hdf/2.0/2.0.3_x86_64_linux_3.11.9_pytables-3.8.0_table.h5
  pandas/tests/io/data/legacy_hdf/2.1/2.1.4_x86_64_linux_3.12.12_pytables-3.9.2_fixed.h5
  pandas/tests/io/data/legacy_hdf/2.1/2.1.4_x86_64_linux_3.12.12_pytables-3.9.2_table.h5
  pandas/tests/io/data/legacy_hdf/2.3/2.3.3_x86_64_linux_3.13.7_pytables-3.10.2_fixed.h5
  pandas/tests/io/data/legacy_hdf/2.3/2.3.3_x86_64_linux_3.13.7_pytables-3.10.2_table.h5
  pandas/tests/io/data/legacy_hdf/3.0/3.0.0_x86_64_linux_3.13.11_pytables-3.10.2_fixed.h5
  pandas/tests/io/data/legacy_hdf/3.0/3.0.0_x86_64_linux_3.13.11_pytables-3.10.2_table.h5
  pandas/tests/io/generate_legacy_storage_files.py
  pandas/tests/io/pytables/test_compat.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

DOC: Correct two typos in pandas documentation (#64176)
  pandas/core/_numba/extensions.py
  pandas/core/indexes/multi.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: Fix Sphinx formatting for non-inclusive partial string indexing
  doc/source/user_guide/indexing.rst
Due: incorrect-backticks

Make ruff happy
  pandas/io/formats/format.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

TST/CLN: remove unnecessary left-over usage of using_infer_string in pytables tests
  pandas/tests/io/pytables/test_append.py
  pandas/tests/io/pytables/test_file_handling.py
  pandas/tests/io/pytables/test_put.py
  pandas/tests/io/pytables/test_read.py
  pandas/tests/io/pytables/test_round_trip.py
  pandas/tests/io/pytables/test_store.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

DOC: Fix ES01 for pandas.Series
  ci/code_checks.sh
  pandas/core/base.py
  pandas/core/generic.py
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: Fix redundant git fetch command (#64171)
  doc/source/development/contributing.rst
Due: incorrect-backticks, title-capitalization

BUG: fix indexing a SparseArray with len(arr) index returning fill value instead of raising
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/tests/extension/base/getitem.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

fixup
  pandas/tests/extension/base/getitem.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: remove fixed xfail for PyArrow 23.0.1
  pandas/tests/io/parser/common/test_float.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: remove fixed xfail for PyArrow 23.0.1 (#64185)
  pandas/tests/io/parser/common/test_float.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Backport PR #64185: TST: remove fixed xfail for PyArrow 23.0.1
  pandas/tests/io/parser/common/test_float.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: Fix legacy HDF5 read regression (GH#64006)
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_compat.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

REG: Allow RE2 syntax in str.contains and str.replace (#64122)
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/strings/accessor.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Backport PR #64122: REG: Allow RE2 syntax in str.contains and str.replace
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/strings/accessor.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

add whatsnew
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

Update doc/source/whatsnew/v3.0.1.rst
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

re-enable again
  pandas/compat/pyarrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Keep UTF-8 BOM stripping silent
  pandas/_libs/src/parser/tokenizer.c
  pandas/tests/io/parser/test_encoding.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

REL: Revert deprecation warnings to match upstream
  pandas/io/parsers/python_parser.py
  pandas/io/parsers/readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: DataFrame.loc fills b'' instead of NaN when adding new row and columns simultaneously (#64092)
  doc/source/whatsnew/v2.3.4.rst
  pandas/core/internals/managers.py
  pandas/tests/indexing/test_loc.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

correct Dataframe.kurt(osis) -> DataFrame.kurt(osis)
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Fix issue #64188
  pandas/io/json/_normalize.py
  pandas/tests/io/json/test_normalize.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

CLN: Restore unrelated files from upstream
  pandas/io/parsers/python_parser.py
  pandas/io/parsers/readers.py
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_compat.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: use fill_null fallback for bug in pyarrow 21 on Windows (fixes join, fillna, duplicated, etc with pyarrow-backed arrays) (#64081)
  doc/source/whatsnew/v3.0.1.rst
  pandas/compat/pyarrow.py
  pandas/core/arrays/arrow/array.py
  pandas/core/reshape/merge.py
  scripts/validate_unwanted_patterns.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, sort-whatsnew-items

Backport PR #64185 on branch 3.0.x (TST: remove fixed xfail for PyArrow 23.0.1) (#64186)
  pandas/tests/io/parser/common/test_float.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Backport PR #64122 on branch 3.0.x (REG: Allow RE2 syntax in str.contains and str.replace ) (#64187)
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/strings/accessor.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

fix: item function 4
  pandas/core/arrays/base.py
  pandas/tests/extension/base/methods.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: Fix read_hdf failing on generic datetime64 dtype (#64008)
  doc/source/whatsnew/v3.0.1.rst
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_compat.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Fix type errors in python_parser.py: remove unused ignore, add cast for Scalar | None
  pandas/io/parsers/python_parser.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations
