Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

no-os-remove:
  name: Check code for instances of os.remove
  entry: os\.remove
  language: pygrep

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-bare-pytest-raises:
  name: Check for use of bare pytest raises
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="bare_pytest_raises"

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

REF: dont pass exception to check_opname (#54365)
  pandas/tests/extension/base/ops.py
  pandas/tests/extension/decimal/test_decimal.py
  pandas/tests/extension/json/test_json.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_boolean.py
  pandas/tests/extension/test_categorical.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_masked_numeric.py
  pandas/tests/extension/test_numpy.py
  pandas/tests/extension/test_period.py
  pandas/tests/extension/test_sparse.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, invalid-ea-testing, check-test-naming

DOC: Added list of functions to ignore EX03 test (#54406)
  ci/code_checks.sh
Due: none

bug fix 54251 (#54388)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/dtypes/common.py
  pandas/tests/dtypes/test_common.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

API / CoW: shallow copy of DataFrame/Series (.copy(deep=False)) also returns shallow copy of the index/columns (#53722)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_methods.py
  pandas/tests/frame/methods/test_reindex.py
  pandas/tests/frame/test_npfuncs.py
  pandas/tests/reshape/concat/test_index.py
  pandas/tests/series/methods/test_align.py
  pandas/tests/series/test_constructors.py
  pandas/tests/test_multilevel.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

CI: remove test cases which would have globbed pandas.tests (#54404)
  scripts/tests/test_check_test_naming.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

CLN: VariableOffsetWindowIndexer (#54379)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/indexers/objects.py
  pandas/tests/window/test_base_indexer.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

TST: Use importorskip over skip_if_no_scipy (#54387)
  pandas/conftest.py
  pandas/tests/arrays/sparse/test_accessor.py
  pandas/tests/arrays/sparse/test_constructors.py
  pandas/tests/dtypes/test_common.py
  pandas/tests/dtypes/test_inference.py
  pandas/tests/frame/methods/test_cov_corr.py
  pandas/tests/frame/methods/test_interpolate.py
  pandas/tests/frame/methods/test_rank.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/frame/test_subclass.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/frame/test_frame_color.py
  pandas/tests/plotting/frame/test_frame_legend.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tests/plotting/test_hist_method.py
  pandas/tests/plotting/test_misc.py
  pandas/tests/plotting/test_series.py
  pandas/tests/reductions/test_stat_reductions.py
  pandas/tests/series/methods/test_cov_corr.py
  pandas/tests/series/methods/test_interpolate.py
  pandas/tests/series/methods/test_rank.py
  pandas/tests/test_algos.py
  pandas/tests/test_nanops.py
  pandas/tests/window/test_rolling_skew_kurt.py
  pandas/tests/window/test_win_type.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, check-test-naming

CLN/DOC: DataFrame.count remove references to "level" (#54395)
  asv_bench/benchmarks/frame_methods.py
  pandas/core/frame.py
Due: inconsistent-namespace-usage, seed-check-asv, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DEPS: Bump cython 3.0 (#54335)
  asv_bench/asv.conf.json
  ci/deps/actions-310.yaml
  ci/deps/actions-311-downstream_compat.yaml
  ci/deps/actions-311-pyarrownightly.yaml
  ci/deps/actions-311.yaml
  ci/deps/actions-39-minimum_versions.yaml
  ci/deps/actions-39.yaml
  ci/deps/actions-pypy-39.yaml
  ci/deps/circle-310-arm64.yaml
  doc/source/whatsnew/v2.1.0.rst
  environment.yml
  pandas/_libs/arrays.pyi
  pandas/_libs/groupby.pyi
  pandas/_libs/hashtable.pyi
  pandas/_libs/hashtable_class_helper.pxi.in
  pandas/_libs/lib.pyi
  pandas/_libs/ops.pyi
  pandas/_libs/sparse.pyi
  pandas/_libs/tslibs/conversion.pyi
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/np_datetime.pyi
  pandas/_libs/tslibs/offsets.pyi
  pandas/_libs/tslibs/period.pyi
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timestamps.pyi
  pandas/_libs/tslibs/tzconversion.pyi
  pandas/_libs/tslibs/vectorized.pyi
  pandas/_libs/window/aggregations.pyi
  pandas/core/arrays/datetimelike.py
  pyproject.toml
  requirements-dev.txt
  scripts/run_stubtest.py
  setup.py
Due: flake8-rst, inconsistent-namespace-usage, cython-casting, incorrect-backticks, pip-to-conda, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations

BUG: from_dummies always returning object data (#54300)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/reshape/encoding.py
  pandas/tests/reshape/test_from_dummies.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

TYP: Enable pyright's reportInconsistentConstructor (#54398)
  .pre-commit-config.yaml
  pandas/_typing.py
  pandas/core/computation/ops.py
  pandas/core/computation/pytables.py
  pandas/core/indexes/accessors.py
  pandas/io/excel/_base.py
  pandas/io/excel/_odswriter.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_xlsxwriter.py
  pyproject.toml
  pyright_reportGeneralTypeIssues.json
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

REF: de-duplicate test_direct_arith_with_ndframe_returns_not_implemented
  pandas/_testing/__init__.py
  pandas/conftest.py
  pandas/core/arrays/datetimelike.py
  pandas/tests/extension/base/ops.py
  pandas/tests/extension/test_period.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, invalid-ea-testing, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Update wheels.yml
  .github/workflows/wheels.yml
Due: none

REF: de-duplicate test_add_series_with_extension_array
  pandas/tests/extension/base/ops.py
  pandas/tests/extension/json/test_json.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_categorical.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_period.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, invalid-ea-testing, check-test-naming

Fix some runtimewarnings showing up
  pandas/tests/computation/test_eval.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

Don't recommend catch_warnings
  doc/source/development/contributing_codebase.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

REF: de-duplicate test_divmod_series_array
  pandas/tests/extension/conftest.py
  pandas/tests/extension/json/test_json.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_categorical.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_numpy.py
  pandas/tests/extension/test_period.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, check-test-naming

REF: de-duplicate test_combine_add
  pandas/tests/extension/base/methods.py
  pandas/tests/extension/json/test_json.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_interval.py
  pandas/tests/extension/test_period.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, invalid-ea-testing, check-test-naming

DOC: Simplify gotchas.rst
  doc/source/user_guide/gotchas.rst
Due: flake8-rst, incorrect-backticks

DOC: Simplify scale.rst
  doc/source/user_guide/scale.rst
Due: flake8-rst, incorrect-backticks

remove xfail
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, check-test-naming

Update 0012-compact-and-reversible-JSON-interface.md
  web/pandas/pdeps/0012-compact-and-reversible-JSON-interface.md
Due: none

Simplify enhancingperf.rst
  doc/source/user_guide/enhancingperf.rst
Due: flake8-rst, incorrect-backticks

Fix ref
  doc/source/user_guide/gotchas.rst
Due: flake8-rst, incorrect-backticks

Remove time
  doc/source/user_guide/scale.rst
Due: flake8-rst, incorrect-backticks

grammar
  doc/source/user_guide/enhancingperf.rst
Due: flake8-rst, incorrect-backticks

REF: de-duplicate test_combine_add (#54414)
  pandas/tests/extension/base/methods.py
  pandas/tests/extension/json/test_json.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_interval.py
  pandas/tests/extension/test_period.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, invalid-ea-testing, check-test-naming

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
