Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

no-os-remove:
  name: Check code for instances of os.remove
  entry: os\.remove
  language: pygrep

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-bare-pytest-raises:
  name: Check for use of bare pytest raises
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="bare_pytest_raises"

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

PERF: Series.corr/Series.cov for EA dtypes (#52502)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/series.py
  pandas/tests/frame/methods/test_cov_corr.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

BUG: rank incorrect for Float64 with small values (#52496)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/arrays/base.py
  pandas/tests/series/methods/test_rank.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

REF: stricter calls to array_equivalent (#52494)
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/masked.py
  pandas/io/pytables.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

REF: avoid overriding some NDFrame methods (#52475)
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/core/shared_docs.py
  pandas/tests/resample/test_resample_api.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

PERF: groupby reductions with pyarrow dtypes (#52469)
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/string_.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Update doc/source/whatsnew/v2.1.0.rst
  doc/source/whatsnew/v2.1.0.rst
Due: flake8-rst, incorrect-backticks

REF: remove freq arg from PeriodArray constructor (#52462)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/core/dtypes/dtypes.py
  pandas/core/indexes/period.py
  pandas/io/pytables.py
  pandas/tests/arrays/period/test_arrow_compat.py
  pandas/tests/arrays/period/test_constructors.py
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/arrays/test_period.py
  pandas/tests/base/test_conversion.py
  pandas/tests/dtypes/test_generic.py
  pandas/tests/extension/test_period.py
  pandas/tests/indexes/datetimelike_/test_equals.py
  pandas/tests/indexes/period/test_constructors.py
  pandas/tests/plotting/test_converter.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

REF: move methods from base to Index (#52447)
  pandas/core/base.py
  pandas/core/indexes/base.py
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TYP/TST: tests/mypy complaints failing locally (#52423)
  pandas/core/groupby/groupby.py
  pandas/tests/io/test_clipboard.py
  pandas/tests/io/xml/test_to_xml.py
  pandas/tests/io/xml/test_xml.py
  pandas/tests/test_register_accessor.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

WEB: Add coiled as sponsor and remove dfine (#52479)
  web/pandas/config.yml
  web/pandas/static/img/partners/coiled.svg
  web/pandas/static/img/partners/dfine.svg
Due: none

DEPR: Deprecate returning a DataFrame in SeriesApply.apply_standard (#52123)
  doc/source/user_guide/cookbook.rst
  doc/source/user_guide/groupby.rst
  doc/source/whatsnew/v0.10.0.rst
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/apply.py
  pandas/core/series.py
  pandas/tests/apply/test_series_apply.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Update doc/source/whatsnew/v2.0.1.rst
  doc/source/whatsnew/v2.0.1.rst
Due: flake8-rst, incorrect-backticks

Update v2.0.1.rst
  doc/source/whatsnew/v2.0.1.rst
Due: flake8-rst, incorrect-backticks

Update v2.1.0.rst
  doc/source/whatsnew/v2.1.0.rst
Due: flake8-rst, incorrect-backticks

Update test_concat.py
  pandas/tests/reshape/concat/test_concat.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

Using larger worker
  .circleci/config.yml
Due: none

Rejecting
  web/pandas/pdeps/0009-io-extensions.md
Due: none

Reorder interfaces
  web/pandas/pdeps/0009-io-extensions.md
Due: none

Fix CI (tailing whitespaces)
  web/pandas/pdeps/0001-purpose-and-guidelines.md
Due: none

Backport PR #52473: BUG: to_timedelta/datetime with numeric ArrowExtnsionArray (#52507)
  doc/source/whatsnew/v2.0.1.rst
  pandas/core/arrays/datetimelike.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tools/test_to_timedelta.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Overhauled extension debugging guide (#52504)
  doc/source/development/debugging_extensions.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

CI: Uprade mypy min version
  doc/source/whatsnew/v2.1.0.rst
  environment.yml
  pandas/_libs/tslibs/timestamps.pyi
  pandas/core/arrays/masked.py
  pandas/core/generic.py
  pandas/core/indexes/multi.py
  requirements-dev.txt
Due: flake8-rst, inconsistent-namespace-usage, incorrect-backticks, pip-to-conda, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

add to redirects
  doc/redirects.csv
  pandas/core/arrays/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TST: Test for setting indexed pyarrow string Series using loc
  pandas/tests/indexing/test_loc.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

Update series.py
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

REGR: fix Series construction from dict for subclasses
  doc/source/whatsnew/v2.0.1.rst
  pandas/core/series.py
  pandas/tests/series/test_subclass.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Update pandas/core/series.py
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
