Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

Remove support for errors="ignore" in to_datetime, to_timedelta and to_numeric (#57361)
  asv_bench/benchmarks/inference.py
  doc/source/whatsnew/v3.0.0.rst
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/strptime.pyx
  pandas/_typing.py
  pandas/core/arrays/datetimes.py
  pandas/core/tools/datetimes.py
  pandas/core/tools/numeric.py
  pandas/core/tools/timedeltas.py
  pandas/core/tools/times.py
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tools/test_to_numeric.py
  pandas/tests/tools/test_to_time.py
  pandas/tests/tools/test_to_timedelta.py
  pandas/tests/tslibs/test_array_to_datetime.py
Due: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

fixup
  pandas/tests/frame/methods/test_asfreq.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Remove fillna from Resampler (#57348)
  doc/redirects.csv
  doc/source/reference/resampling.rst
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/resample.py
  pandas/tests/resample/test_resample_api.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Remove convert_dtype from Series.apply (#57369)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/algorithms.py
  pandas/core/apply.py
  pandas/core/base.py
  pandas/core/series.py
  pandas/tests/apply/test_series_apply.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Fix numpy-dev CI warnings
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
Due: none

REGR: assert_series_equal defaulting to check_exact=True for Index (#57341)
  doc/source/whatsnew/v2.2.1.rst
  pandas/_testing/asserters.py
  pandas/tests/util/test_assert_series_equal.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Backport PR #57341: REGR: assert_series_equal defaulting to check_exact=True for Index
  doc/source/whatsnew/v2.2.1.rst
  pandas/_testing/asserters.py
  pandas/tests/util/test_assert_series_equal.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

REGR: shift raising for axis=1 and empty df (#57340)
  doc/source/whatsnew/v2.2.1.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_shift.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Backport PR #57340: REGR: shift raising for axis=1 and empty df
  doc/source/whatsnew/v2.2.1.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_shift.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

CoW: Remove remaining occurrences from CoW (#57324)
  pandas/core/base.py
  pandas/core/indexes/api.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexing.py
  pandas/core/reshape/concat.py
  pandas/io/parsers/readers.py
  pandas/io/pytables.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: fix PR02 errors in docstring for pandas.core.groupby.DataFrameGroupBy.rolling and pandas.core.groupby.SeriesGroupBy.rolling (#57334)
  ci/code_checks.sh
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_groupby.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

CI/DOC: Enforce SA05 in CI (#57352)
  ci/code_checks.sh
Due: none

Update doc/source/whatsnew/v2.2.1.rst
  doc/source/whatsnew/v2.2.1.rst
Due: incorrect-backticks, sort-whatsnew-items

Reverted formatting in test_sql
  pandas/core/generic.py
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Fix numpy-dev CI warnings (#57379)
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
Due: none

Backport PR #57379: Fix numpy-dev CI warnings
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
Due: none

Backport PR #57341 on branch 2.2.x (REGR: assert_series_equal defaulting to check_exact=True for Index) (#57380)
  doc/source/whatsnew/v2.2.1.rst
  pandas/_testing/asserters.py
  pandas/tests/util/test_assert_series_equal.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Backport PR #57340 on branch 2.2.x (REGR: shift raising for axis=1 and empty df) (#57381)
  doc/source/whatsnew/v2.2.1.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_shift.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

TST: assert that informative error is raised when offset not supported as a period frequency is passed to DataFrame.asfreq (#56758)
  pandas/tests/frame/methods/test_asfreq.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

add an example to PeriodIndex.to_timestamp
  pandas/core/arrays/period.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Remove ._data
  pandas/core/generic.py
  pandas/tests/frame/test_api.py
  pandas/tests/generic/test_generic.py
  pandas/tests/series/test_api.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Remove _data from StringArrow
  pandas/core/arrays/string_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Remove period arguments
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/indexes/period.py
  pandas/tests/indexes/period/test_constructors.py
  pandas/tests/indexes/test_old_base.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Backport PR #57379 on branch 2.2.x (Fix numpy-dev CI warnings) (#57383)
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
Due: none

Address pytz UTC usage
  pandas/_libs/tslibs/timezones.pyx
Due: none

ENH: Allow dictionaries to be passed to pandas.Series.str.replace (#56175)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/strings/accessor.py
  pandas/tests/strings/test_find_replace.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

remove decorators in Series
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CLN: Python 2 pickle/hdf support
  doc/source/whatsnew/v3.0.0.rst
  pandas/io/pickle.py
  pandas/io/pytables.py
  pandas/tests/io/data/legacy_hdf/datetimetz_object.h5
  pandas/tests/io/data/legacy_hdf/gh26443.h5
  pandas/tests/io/data/legacy_hdf/legacy_table_fixed_datetime_py2.h5
  pandas/tests/io/data/legacy_hdf/legacy_table_fixed_py2.h5
  pandas/tests/io/data/legacy_hdf/legacy_table_py2.h5
  pandas/tests/io/data/legacy_hdf/periodindex_0.20.1_x86_64_darwin_2.7.13.h5
  pandas/tests/io/data/legacy_msgpack/0.20.3/0.20.3_x86_64_darwin_3.5.2.msgpack
  pandas/tests/io/data/pickle/test_mi_py27.pkl
  pandas/tests/io/data/pickle/test_py27.pkl
  pandas/tests/io/pytables/test_read.py
  pandas/tests/io/pytables/test_timezones.py
  pandas/tests/io/test_pickle.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Add whatsnew
  doc/source/whatsnew/v3.0.0.rst
Due: incorrect-backticks, sort-whatsnew-items

Typing, replace file
  pandas/io/pytables.py
  pandas/tests/io/test_common.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming
