Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)

go for green
  .github/workflows/python-dev.yml
  ci/code_checks.sh
Due: none

TST: add numexpr fixture
  pandas/conftest.py
  pandas/tests/arithmetic/conftest.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/series/test_arithmetic.py
Due: np-testing-array-equal, use-io-common-urlopen, no-return-exception, validate-errors-locations

more specific setup & teardown
  pandas/conftest.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations

DOC: fixup PR suggestions
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Update docs
  doc/source/development/contributing_environment.rst
  doc/source/development/debugging_extensions.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

removed unnecessary OR statements
  pandas/_libs/tslibs/strptime.pyx
Due: cython-casting

BUG: inconsistent handling of exact=False case in to_datetime parsing (#50435)
  .pre-commit-config.yaml
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/src/datetime/np_datetime_strings.c
  pandas/_libs/tslibs/src/datetime/np_datetime_strings.h
  pandas/tests/tools/test_to_datetime.py
Due: cython-casting, np-testing-array-equal, sync-flake8-versions

used backreferencing
  pandas/_libs/tslibs/strptime.pyx
Due: cython-casting

added the decorator above the functions
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

update
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CLN/TST: test_series_align_multiindex_containing_nan
  pandas/tests/indexing/multiindex/test_multiindex.py
Due: np-testing-array-equal

Update groupby.py
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Update generic.py
  pandas/core/groupby/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Update v2.0.0.rst
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

API: Add pandas.api.typing
  doc/source/reference/index.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/api/__init__.py
  pandas/api/typing/__init__.py
  pandas/tests/api/test_api.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, title-capitalization, use-io-common-urlopen, no-return-exception, validate-errors-locations

whatsnew note
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

wip
  .github/workflows/32-bit-linux.yml
  .github/workflows/assign.yml
  .github/workflows/asv-bot.yml
  .github/workflows/autoupdate-pre-commit-config.yml
  .github/workflows/code-checks.yml
  .github/workflows/codeql.yml
  .github/workflows/docbuild-and-upload.yml
  .github/workflows/macos-windows.yml
  .github/workflows/package-checks.yml
  .github/workflows/python-dev.yml
  .github/workflows/sdist.yml
  .github/workflows/stale-pr.yml
  .github/workflows/ubuntu.yml
  .github/workflows/wheels.yml
  .pre-commit-config.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

Revert "STYLE use pandas-dev-flaker (#40906)"
  .pre-commit-config.yaml
  asv_bench/benchmarks/pandas_vb_common.py
  ci/code_checks.sh
  doc/source/development/code_style.rst
  environment.yml
  pandas/_testing/__init__.py
  pandas/tests/api/test_api.py
  pandas/tests/io/pytables/test_store.py
  pandas/tests/tools/test_to_numeric.py
  requirements-dev.txt
  scripts/check_for_inconsistent_pandas_namespace.py
  scripts/tests/test_inconsistent_namespace_check.py
  scripts/tests/test_use_pd_array_in_core.py
  scripts/tests/test_validate_unwanted_patterns.py
  scripts/validate_unwanted_patterns.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, pip-to-conda, sync-flake8-versions, title-capitalization, use-io-common-urlopen, no-return-exception, validate-errors-locations

minor bug
  pandas/_libs/tslibs/strptime.pyx
Due: cython-casting

fixups
  .pre-commit-config.yaml
  doc/scripts/eval_performance.py
  doc/source/development/code_style.rst
  doc/source/development/contributing_codebase.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/__init__.py
  pandas/_libs/lib.pyx
  pandas/compat/__init__.py
  pandas/core/arrays/string_arrow.py
  pandas/core/generic.py
  pandas/core/interchange/dataframe.py
  pandas/core/internals/managers.py
  pandas/core/strings/base.py
  pandas/core/strings/object_array.py
  pandas/core/window/ewm.py
  pandas/io/common.py
  pandas/io/json/_json.py
  pandas/io/xml.py
  pandas/tests/arrays/boolean/test_function.py
  pandas/tests/io/formats/style/test_style.py
  pandas/tests/io/pytables/test_round_trip.py
  pandas/tests/io/test_common.py
  pandas/tests/io/test_compression.py
  pandas/tests/io/test_pickle.py
  pandas/tests/tools/test_to_numeric.py
  scripts/sync_flake8_versions.py
  scripts/tests/test_sync_flake8_versions.py
  scripts/tests/test_use_pd_array_in_core.py
  setup.cfg
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

fixup?
  pandas/compat/__init__.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: sync-flake8-versions

Update documentation for pd.MultiIndex.droplevel to reflect inplace behaviour
  pandas/core/indexes/base.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

make _compressors public
  .pre-commit-config.yaml
  pandas/compat/__init__.py
  pandas/compat/compressors.py
  pandas/io/common.py
  pandas/tests/io/test_pickle.py
  scripts/validate_unwanted_patterns.py
Due: np-testing-array-equal, sync-flake8-versions, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fixup
  pandas/_libs/algos.pyx
  pandas/_libs/tslibs/strptime.pyx
Due: cython-casting

put import at top of file
  pandas/_libs/tslibs/strptime.pyx
Due: cython-casting

added a new format
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/tslibs/test_parsing.py
Due: cython-casting, np-testing-array-equal

use typing.Callable
  pandas/core/strings/base.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

reduce diff
  .pre-commit-config.yaml
  ci/code_checks.sh
Due: sync-flake8-versions

further reduce
  pandas/core/strings/object_array.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

one more
  pandas/core/arrays/string_arrow.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fixup regex
  .pre-commit-config.yaml
Due: sync-flake8-versions

modified version
  pandas/_libs/tslibs/strptime.pyx
Due: cython-casting

fixup
  .pre-commit-config.yaml
  doc/source/development/contributing_codebase.rst
  environment.yml
  pandas/core/computation/pytables.py
  pandas/core/generic.py
  pandas/io/formats/latex.py
  pandas/io/formats/style.py
  pandas/io/parsers/python_parser.py
  pandas/plotting/_matplotlib/core.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/indexes/period/test_indexing.py
  pandas/tests/io/formats/test_format.py
  pandas/tests/io/test_html.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/util/_doctools.py
  requirements-dev.txt
  scripts/sync_flake8_versions.py
  scripts/tests/test_sync_flake8_versions.py
  setup.cfg
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

non regex excluded format
  pandas/_libs/tslibs/strptime.pyx
Due: cython-casting

restore flake (still needed for validate_docstrings)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

Update pandas/_libs/tslibs/strptime.pyx
  pandas/_libs/tslibs/strptime.pyx
Due: cython-casting
