Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

DOC: add PR02 for MonthEnd methods
  pandas/_libs/tslibs/offsets.pyx
Due: none

DOC: remove PR02 for MonthEnd methods
  ci/code_checks.sh
Due: none

DOC: add RT03,SA01 for pandas.api.extensions.ExtensionArray.copy
  pandas/core/arrays/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove RT03,SA01 for pandas.api.extensions.ExtensionArray.copy
  ci/code_checks.sh
Due: none

DOC: restore SA01 for pandas.tseries.offsets.SemiMonthEnd
  ci/code_checks.sh
  pandas/_libs/tslibs/offsets.pyx
Due: none

DOC: add SA01 for pandas.api.extensions.ExtensionArray.shape
  pandas/core/arrays/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove SA01 for pandas.api.extensions.ExtensionArray.shape
  ci/code_checks.sh
Due: none

Apply suggestions from code review
  web/pandas/pdeps/0014-string-dtype.md
Due: none

reflow after online edits
  web/pandas/pdeps/0014-string-dtype.md
Due: none

DOC: Grammar improvements in getting started tutorials
  doc/source/getting_started/intro_tutorials/01_table_oriented.rst
  doc/source/getting_started/intro_tutorials/02_read_write.rst
  doc/source/getting_started/intro_tutorials/03_subset_data.rst
  doc/source/getting_started/intro_tutorials/04_plotting.rst
  doc/source/getting_started/intro_tutorials/05_add_columns.rst
  doc/source/getting_started/intro_tutorials/06_calculate_statistics.rst
  doc/source/getting_started/intro_tutorials/08_combine_dataframes.rst
  doc/source/getting_started/intro_tutorials/09_timeseries.rst
  doc/source/getting_started/intro_tutorials/10_text_data.rst
Due: incorrect-backticks

Update web/pandas/pdeps/0014-string-dtype.md
  web/pandas/pdeps/0014-string-dtype.md
Due: none

DOC: Fix Docstring Validation for pandas.Series.case_when (#58698)
  ci/code_checks.sh
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: Fix Docstring Validation for pandas.Series.str.translate (#58699)
  ci/code_checks.sh
  pandas/core/strings/accessor.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: Fix PR02 for pandas.tseries.offsets.BYearBegin and pandas.tseries.offsets.YearBegin (#58702)
  ci/code_checks.sh
  pandas/_libs/tslibs/offsets.pyx
Due: none

DOC: add RT03,SA01 for pandas.api.extensions.ExtensionArray.copy (#58704)
  ci/code_checks.sh
  pandas/core/arrays/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: add SA01 for pandas.api.extensions.ExtensionArray.shape (#58705)
  ci/code_checks.sh
  pandas/core/arrays/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Sentence restructured in compare methods's doc (#58708)
  doc/source/user_guide/merging.rst
Due: incorrect-backticks

DOC: Grammar improvements in getting started tutorials (#58706)
  doc/source/getting_started/intro_tutorials/01_table_oriented.rst
  doc/source/getting_started/intro_tutorials/02_read_write.rst
  doc/source/getting_started/intro_tutorials/03_subset_data.rst
  doc/source/getting_started/intro_tutorials/04_plotting.rst
  doc/source/getting_started/intro_tutorials/05_add_columns.rst
  doc/source/getting_started/intro_tutorials/06_calculate_statistics.rst
  doc/source/getting_started/intro_tutorials/08_combine_dataframes.rst
  doc/source/getting_started/intro_tutorials/09_timeseries.rst
  doc/source/getting_started/intro_tutorials/10_text_data.rst
Due: incorrect-backticks

TST: Test searchsorted for monotonic decreasing index (#58692)
  pandas/tests/indexes/test_common.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

fix docstring lint
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Remove `strict` argument
  pandas/tests/io/parser/test_multi_thread.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

CLN: int slice on Index[float] as positional (#58646)
  doc/source/whatsnew/v0.13.0.rst
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/indexes/base.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/indexing/test_floats.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Link to version policy
  doc/source/development/policies.rst
  doc/source/getting_started/install.rst
Due: incorrect-backticks, title-capitalization

Capitalize Python
  doc/source/getting_started/install.rst
Due: incorrect-backticks

TST: Fix CI failures (don't xfail postgresql / don't xfail for pyarrow=16) (#58693)
  pandas/tests/io/parser/test_multi_thread.py
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Backport PR #58693: TST: Fix CI failures (don't xfail postgresql / don't xfail for pyarrow=16)
  pandas/tests/io/parser/test_multi_thread.py
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

DOC: Update Python version support (#58680)
  doc/source/development/policies.rst
  doc/source/getting_started/install.rst
Due: incorrect-backticks, title-capitalization
