Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$

CLN: Remove overloads made redundant by deprecation
  pandas/core/arrays/categorical.py
Due: use-pd_array-in-core, use-io-common-urlopen

Finish implementation
  doc/source/whatsnew/v1.6.0.rst
  pandas/_libs/parsers.pyx
  pandas/io/parsers/base_parser.py
  pandas/tests/io/parser/dtypes/test_dtypes_basic.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal, use-io-common-urlopen

fixup
  pandas/core/groupby/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen

Update
  doc/source/user_guide/io.rst
  pandas/_libs/parsers.pyx
  pandas/io/parsers/base_parser.py
Due: flake8-rst, cython-casting, incorrect-backticks, use-io-common-urlopen

BLD: Install anaconda client in a separate step (#48755)
  .github/workflows/wheels.yml
  ci/upload_wheels.sh
Due: none

Feedback on PR
  doc/source/whatsnew/v1.4.4.rst
  pandas/io/sql.py
Due: flake8-rst, incorrect-backticks, use-io-common-urlopen

Updated following PR feedback and pre-commit
  pandas/io/sql.py
Due: use-io-common-urlopen

Pre-commit fail
  pandas/io/sql.py
Due: use-io-common-urlopen

Updated Test
  pandas/tests/io/test_sql.py
Due: np-testing-array-equal

Merged Main
  doc/source/whatsnew/v1.4.4.rst
  doc/source/whatsnew/v1.5.1.rst
Due: flake8-rst, incorrect-backticks

fix test for udf on empty df
  pandas/tests/groupby/test_apply.py
Due: np-testing-array-equal

import sqlalchemy.inspect as sqlalchemy_inspect
  pandas/io/sql.py
Due: use-io-common-urlopen

REGR: describe raising when result contains NA
  doc/source/whatsnew/v1.5.1.rst
  pandas/core/describe.py
  pandas/tests/frame/methods/test_describe.py
  pandas/tests/series/methods/test_describe.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Revert border-color default value
  pandas/io/formats/excel.py
Due: use-io-common-urlopen

Revert "Fixed tests for Excel border color fallback"
  pandas/tests/io/formats/test_to_excel.py
Due: np-testing-array-equal

Fix mypy
  pandas/core/describe.py
Due: use-pd_array-in-core, use-io-common-urlopen

BUG: still emitting unnecessary FutureWarning in DataFrame.sort_values with sparse columns
  doc/source/whatsnew/v1.5.1.rst
  pandas/core/sorting.py
  pandas/tests/frame/methods/test_sort_values.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

add test for positional-only
  pandas/tests/util/test_deprecate_nonkeyword_arguments.py
Due: np-testing-array-equal

Update doc/source/whatsnew/v1.5.1.rst
  doc/source/whatsnew/v1.5.1.rst
Due: flake8-rst, incorrect-backticks

BUG: AttributeError: 'function' object has no attribute 'currentframe' (#48736)
  doc/source/whatsnew/v1.5.1.rst
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-io-common-urlopen

DOC: Correct default color (#48775)
  pandas/io/formats/style.py
Due: use-io-common-urlopen

pylint passed
  pandas/core/arrays/base.py
  pandas/core/internals/blocks.py
  pandas/tests/extension/decimal/test_decimal.py
  pandas/tests/frame/methods/test_rename.py
  pandas/tests/io/test_gcs.py
  pandas/tests/io/test_html.py
  pandas/tests/io/test_sql.py
  pandas/tests/scalar/period/test_period.py
  pyproject.toml
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Update doc/source/whatsnew/v1.6.0.rst
  doc/source/whatsnew/v1.6.0.rst
Due: flake8-rst, incorrect-backticks

Add example for `Series.get()`.
  pandas/core/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

DOC: Add docs for DataFrameGroupBy.fillna and SeriesGroupBy.fillna (#48771)
  pandas/core/generic.py
  pandas/core/groupby/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

Created icons for dark theme
  doc/source/_static/index_api_dark.svg
  doc/source/_static/index_contribute_dark.svg
  doc/source/_static/index_getting_started_dark.svg
  doc/source/_static/index_user_guide_dark.svg
  doc/source/_static/logo_sas_white.svg
  doc/source/_static/logo_sql_white.svg
  doc/source/getting_started/index.rst
  doc/source/index.rst.template
Due: flake8-rst, incorrect-backticks

Fix typo
  doc/source/getting_started/index.rst
Due: flake8-rst, incorrect-backticks

CI Passed
  .pre-commit-config.yaml
  pandas/core/arrays/base.py
  pandas/tests/extension/decimal/test_decimal.py
  pandas/tests/frame/methods/test_rename.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/io/test_gcs.py
  pandas/tests/io/test_html.py
  pandas/tests/io/test_sql.py
  pandas/tests/scalar/period/test_period.py
  pyproject.toml
Due: np-testing-array-equal, sync-flake8-versions, use-pd_array-in-core, use-io-common-urlopen

Updated docstring for MultiIndex.get_level_values (#48756)
  pandas/core/indexes/multi.py
Due: use-pd_array-in-core, use-io-common-urlopen

REGR: describe raising when result contains NA (#48782)
  doc/source/whatsnew/v1.5.1.rst
  pandas/core/describe.py
  pandas/tests/frame/methods/test_describe.py
  pandas/tests/series/methods/test_describe.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Backport PR #48782: REGR: describe raising when result contains NA
  doc/source/whatsnew/v1.5.1.rst
  pandas/core/describe.py
  pandas/tests/frame/methods/test_describe.py
  pandas/tests/series/methods/test_describe.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Removed trailing whitespace
  doc/source/getting_started/index.rst
Due: flake8-rst, incorrect-backticks

ENH: Make deprecate_nonkeyword_arguments alter function signature (#48693)
  doc/source/whatsnew/v1.5.1.rst
  pandas/tests/util/test_deprecate_nonkeyword_arguments.py
  pandas/util/_decorators.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-io-common-urlopen
