Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

Update test_index.py
  pandas/tests/reshape/concat/test_index.py
Due: none

add test
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
  pandas/tests/frame/methods/test_reset_index.py
Due: flake8-rst, use-pd_array-in-core

Use setup-python action
  .github/actions/setup-python/action.yml
  .github/workflows/sdist.yml
Due: none

Don't run GHA CI for Azure changes and vice-versa
  .github/workflows/code-checks.yml
  .github/workflows/docbuild-and-upload.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
  .github/workflows/sdist.yml
  azure-pipelines.yml
Due: none

TYP: setter for index/columns property-like (AxisProperty)
  pandas/_libs/properties.pyi
  pandas/core/apply.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/groupby/generic.py
  pandas/core/series.py
  pandas/io/parsers/arrow_parser_wrapper.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Backport of CI related PRs on 1.4.x (#46559)
  .circleci/config.yml
  .github/workflows/posix.yml
  azure-pipelines.yml
  ci/deps/actions-310-numpydev.yaml
  ci/deps/actions-310.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38-minimum_versions.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/circle-38-arm64.yaml
  doc/source/getting_started/install.rst
  environment.yml
  pandas/compat/_optional.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/extension/arrow/test_bool.py
  pandas/tests/extension/base/ops.py
  pandas/tests/extension/json/test_json.py
  pandas/tests/extension/test_categorical.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_interval.py
  pandas/tests/extension/test_numpy.py
  pandas/tests/extension/test_string.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/test_converter.py
  pyproject.toml
  requirements-dev.txt
Due: flake8-rst, pip-to-conda, sync-flake8-versions

comments updated
  pandas/tests/window/test_rolling.py
Due: none

remove Timedelta.freq from doc
  doc/redirects.csv
  doc/source/reference/arrays.rst
Due: flake8-rst, title-capitalization

revert pre-rebased
  doc/redirects.csv
  doc/source/reference/arrays.rst
Due: flake8-rst, title-capitalization

test
  pandas/tests/arrays/test_array.py
  pandas/tests/indexes/interval/test_indexing.py
  pandas/tests/indexing/interval/test_interval_new.py
  pandas/tests/reshape/concat/test_append.py
  pandas/tests/series/indexing/test_setitem.py
Due: none

Add hint how to fix
  pandas/core/window/rolling.py
Due: use-pd_array-in-core

CLN/TYP: assorted
  pandas/_libs/algos.pyx
  pandas/_libs/indexing.pyx
  pandas/_libs/internals.pyx
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pxd
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/strptime.pyx
  pandas/_libs/tslibs/timedeltas.pxd
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pxd
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/timezones.pyx
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/core/arrays/datetimes.py
Due: use-pd_array-in-core

include Marc suggestions
  web/pandas/community/blog/asv-pandas-grant.md
Due: none

revert change that broke some builds
  pandas/_libs/tslibs/strptime.pyx
Due: none

first step at docker in CI
  ci/docker/pandas-db-test.dockerfile
  ci/scripts/run-db-tests.sh
  docker-compose.yml
Due: none

Incorporate _raise_monotonic_error
  pandas/core/window/rolling.py
Due: use-pd_array-in-core

fixed issues except for permissions
  ci/docker/pandas-db-test.dockerfile
  ci/scripts/run-db-tests.sh
Due: none

tocsv_interval_cat2
  pandas/core/array_algos/take.py
Due: use-pd_array-in-core

update post
  web/pandas/community/blog/asv-pandas-grant.md
Due: none

test
  pandas/conftest.py
  pandas/core/arrays/interval.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/base/test_conversion.py
  pandas/tests/base/test_value_counts.py
  pandas/tests/extension/test_interval.py
  pandas/tests/frame/constructors/test_from_records.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/frame/methods/test_reset_index.py
  pandas/tests/frame/methods/test_sort_index.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/indexes/interval/test_formats.py
  pandas/tests/indexes/interval/test_interval.py
  pandas/tests/indexes/interval/test_interval_range.py
  pandas/tests/indexes/interval/test_interval_tree.py
  pandas/tests/indexing/interval/test_interval.py
  pandas/tests/indexing/test_categorical.py
  pandas/tests/reshape/test_cut.py
  pandas/tests/reshape/test_pivot.py
  pandas/tests/reshape/test_qcut.py
  pandas/tests/scalar/interval/test_interval.py
  pandas/tests/series/test_constructors.py
  pandas/tests/util/test_assert_frame_equal.py
  pandas/tests/util/test_assert_interval_array_equal.py
  pandas/tests/util/test_assert_series_equal.py
Due: use-pd_array-in-core

Add test
  pandas/tests/io/test_parquet.py
Due: none

Add whatsnew entry
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

Improve test
  pandas/tests/io/test_parquet.py
Due: none

Fix style
  pandas/tests/io/test_parquet.py
Due: none

take.py remove axis
  pandas/core/array_algos/take.py
Due: use-pd_array-in-core

Update v0.20.0.rst
  doc/source/whatsnew/v0.20.0.rst
Due: flake8-rst

Update interval.py
  pandas/core/indexes/interval.py
Due: use-pd_array-in-core

Update interval.py
  pandas/core/arrays/interval.py
Due: use-pd_array-in-core
