Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

BUG: SparseArray constructor raised on object data holding pd.NA
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/sparse.pyx
  pandas/tests/arrays/sparse/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

TST: cover eval/query issues verified fixed on main
  pandas/tests/computation/test_eval.py
  pandas/tests/frame/methods/test_set_index.py
  pandas/tests/frame/test_query_eval.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: concat(union_categories=True) conflated True with 1
  doc/source/user_guide/categorical.rst
  pandas/core/dtypes/concat.py
  pandas/core/internals/concat.py
  pandas/core/reshape/concat.py
  pandas/tests/reshape/concat/test_categorical.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: spurious select_dtypes deprecation warning when str columns are already named
  pandas/core/frame.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: Fix str.split on categorical dtype returning string lists (#66438)
  doc/source/whatsnew/v3.0.6.rst
  pandas/core/strings/accessor.py
  pandas/tests/strings/test_split_partition.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

API: select_dtypes raises an informative TypeError for a non-dtype class (GH#68443)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: select_dtypes ignored a specified ordered on a categories-less CategoricalDtype (GH#40234)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: zoneinfo "big bang" transition wraps to 1970 in the DST cache (GH#67066) (#67826)
  doc/source/whatsnew/v3.0.6.rst
  pandas/_libs/tslibs/timezones.pyx
  pandas/tests/tslibs/test_timezones.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

BUG: read_csv low_memory mixed-dtype warning named the wrong columns (GH#67375) (#67725)
  doc/source/whatsnew/v3.0.6.rst
  pandas/io/parsers/c_parser_wrapper.py
  pandas/tests/io/parser/test_c_parser_only.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: group bars correctly in list-valued subplots (#68003)
  doc/source/whatsnew/v3.1.0.rst
  pandas/plotting/_matplotlib/core.py
  pandas/tests/plotting/test_misc.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: BlockManager.iset did not validate the value's column count for a sequence loc
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/internals/managers.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/frame/methods/test_isetitem.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: bar plot raises AttributeError when the DatetimeIndex freq attribute is unset (#66771)
  doc/source/whatsnew/v3.0.6.rst
  pandas/plotting/_matplotlib/core.py
  pandas/plotting/_matplotlib/timeseries.py
  pandas/tests/plotting/test_datetimelike.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: DataFrame.dtypes could be left permanently stale by a concurrent write
  pandas/_libs/internals.pyx
  pandas/core/internals/managers.py
  pandas/tests/internals/test_internals.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: select_dtypes raised on an array-like include/exclude spec
  pandas/core/frame.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: pd.NaT fill value broke a datetimelike SparseArray
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/core/dtypes/dtypes.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/arrays/sparse/test_dtype.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: setting SparseDtype integers into an integer Series raised AttributeError
  pandas/core/dtypes/cast.py
  pandas/tests/dtypes/cast/test_can_hold_element.py
  pandas/tests/series/indexing/test_indexing.py
  pandas/tests/series/indexing/test_where.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: select_dtypes with a unitless interval subtype matched no columns (GH#40234)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

CLN: standardize the datetime64 any/all TypeError message
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/sparse/array.py
  pandas/core/nanops.py
  pandas/tests/arrays/sparse/test_reductions.py
  pandas/tests/extension/base/reduce.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/groupby/test_raises.py
  pandas/tests/indexes/test_old_base.py
  pandas/tests/reductions/test_reductions.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

DOC: summarize the read_csv improvements in the 3.1.0 whatsnew (GH#68437)
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

BUG: bool operands were not rejected against datetimelike data (GH#68452)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/boolean.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/sparse/array.py
  pandas/core/ops/__init__.py
  pandas/core/ops/array_ops.py
  pandas/core/ops/invalid.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arithmetic/test_period.py
  pandas/tests/arithmetic/test_timedelta64.py
  pandas/tests/arrays/boolean/test_logical.py
  pandas/tests/frame/test_logical_ops.py
  pandas/tests/series/test_logical_ops.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: whatsnew entry for SparseDtype integer setitem fix
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: add whatsnew section about deprecation of inplace (PDEP-8) (#67965)
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

CLN: skip the pyarrow pytz timezone normalization on pyarrow >= 25
  pandas/io/_util.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: ArrowExtensionArray ops leak pyarrow errors for unconvertible operands (GH#62682)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: arrow ops with 2D or mismatched-length operands (GH#62682)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/tests/arithmetic/test_string.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

fixups for arrow dtypes
  pandas/core/indexes/base.py
  pandas/tests/extension/base/plotting.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

update new tests
  pandas/tests/scalar/timedelta/test_arithmetic.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

ENH: Implement Series.__getitem__ with future.python_scalars
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/tests/apply/test_series_apply.py
  pandas/tests/arrays/integer/test_function.py
  pandas/tests/extension/base/getitem.py
  pandas/tests/extension/base/ops.py
  pandas/tests/extension/test_numpy.py
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/indexes/datetimes/test_partial_slicing.py
  pandas/tests/indexing/multiindex/test_loc.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/series/indexing/test_getitem.py
  pandas/tests/series/test_arithmetic.py
  pandas/tests/series/test_constructors.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

TST: wrap with Series and set dtype to object
  pandas/tests/series/test_arithmetic.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

ENH: Implement positional results for future.python_scalars
  pandas/core/base.py
  pandas/core/indexes/category.py
  pandas/core/indexes/range.py
  pandas/tests/base/test_misc.py
  pandas/tests/indexes/ranges/test_range.py
  pandas/tests/reductions/test_reductions.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

fixups
  pandas/core/arrays/sparse/array.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/indexing.py
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

CLN: skip the pyarrow pytz timezone normalization on pyarrow >= 25 (#68455)
  pandas/io/_util.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

TST: cover eval/query issues verified fixed on main (#68441)
  pandas/tests/computation/test_eval.py
  pandas/tests/frame/methods/test_set_index.py
  pandas/tests/frame/test_query_eval.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: SparseArray ufunc reductions dropped the fill_value entries
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: pd.NaT fill value broke a datetimelike SparseArray (#68449)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/core/dtypes/dtypes.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/arrays/sparse/test_dtype.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: select_dtypes raised on an array-like include/exclude spec (#68448)
  pandas/core/frame.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: select_dtypes with a unitless interval subtype matched no columns (GH#40234) (#68450)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: SparseArray constructor raised on object data holding pd.NA (#68439)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/sparse.pyx
  pandas/tests/arrays/sparse/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

CLN: cite the issue rather than the PR in select_dtypes comments
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: address review feedback on the read_csv 3.1.0 whatsnew (GH#68437)
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items
