Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

BUG: Remove special-casing for Python date objects in DatetimeIndex
  pandas/tests/series/test_arithmetic.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: Remove special-casing for Python date objects in DatetimeIndex
  pandas/core/indexes/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Remove special-casing for Python date objects in DatetimeIndex
  pandas/tests/indexes/datetimes/test_indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: Remove special-casing for Python date objects in DatetimeIndex
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Remove special-casing for Python date objects in DatetimeIndex
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Remove special-casing for Python date objects in DatetimeIndex
  doc/source/whatsnew/v3.0.0.rst
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/indexes/datetimelike.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, sort-whatsnew-items

BUG: Remove special-casing for Python date objects in DatetimeIndex
  pandas/core/arrays/datetimes.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

move whatsnew to 3.1
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

BUG: Fix dt64[non_nano] + offset rounding
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/test_datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: Fix dt64[non_nano] + offset rounding
  pandas/core/arrays/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Fix dt64[non_nano] + offset rounding
  pandas/tests/arrays/test_datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming
