Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$

Don't type?
  pandas/_libs/arrays.pyx
Due: cython-casting

Undo import
  pandas/_libs/arrays.pyx
Due: cython-casting

TYP: make na_value consistently a property
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/core/dtypes/dtypes.py
  pandas/core/indexes/numeric.py
Due: use-pd_array-in-core, use-io-common-urlopen

property
  pandas/core/indexes/numeric.py
Due: use-pd_array-in-core, use-io-common-urlopen

replace a few more class accesses
  pandas/core/arrays/string_.py
Due: use-pd_array-in-core, use-io-common-urlopen

WIP/WEB: Update sponsors in website
  web/pandas/config.yml
Due: none

WEB: Updating links of the governance page
  web/pandas/about/governance.md
Due: none

Test added for # GH 47350
  pandas/tests/resample/test_resampler_grouper.py
Due: np-testing-array-equal

Attempt to fix the remaining error on the numpy worker
  pandas/_libs/tslibs/period.pyx
Due: cython-casting

Fixed issue in `_from_ordinal`
  pandas/_libs/tslibs/period.pyx
Due: cython-casting

CLN: non-nano follow-ups
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/vectorized.pyi
  pandas/core/indexes/base.py
Due: cython-casting, use-pd_array-in-core, use-io-common-urlopen

Added asserts to try to understand
  pandas/tests/extension/base/methods.py
Due: np-testing-array-equal, invalid-ea-testing

min version compat
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal

DOC: Clarify that FrozenList is hashable
  pandas/core/indexes/frozen.py
Due: use-pd_array-in-core, use-io-common-urlopen

Update test_sort.py
  pandas/tests/reshape/concat/test_sort.py
Due: np-testing-array-equal

add assert
  pandas/tests/reshape/concat/test_sort.py
Due: np-testing-array-equal

updated the docstring in accordance with GH40378
  pandas/core/frame.py
Due: use-pd_array-in-core, use-io-common-urlopen

[options.extras_require] bundled dependencies by featureset
  setup.cfg
Due: none

note: [options.extras_require] bundled dependencies by featureset
  doc/source/whatsnew/v1.4.3.rst
Due: flake8-rst, incorrect-backticks

BUG/TST GH47480
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/missing.py
  pandas/tests/frame/methods/test_replace.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Update setup.cfg
  setup.cfg
Due: none

add adlfs for azure to `access data in cloud`
  doc/source/getting_started/install.rst
Due: flake8-rst, incorrect-backticks

fix extras_require: PyTables is actually `tables` on PyPi
  setup.cfg
Due: none
