Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python scripts/validate_min_versions_in_sync.py
  language: python
  additional_dependencies:
  - tomli

validate-errors-locations:
  name: Validate errors locations
  description: Validate errors are in appropriate locations.
  entry: python scripts/validate_exception_location.py
  language: python

fail on float16, but allow np.exp(int8_arrays) II
  pandas/core/algorithms.py
  pandas/core/base.py
  pandas/tests/test_algos.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fix failures
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/base/test_conversion.py
  pandas/tests/base/test_value_counts.py
Due: np-testing-array-equal

make NumericIndex fail with float16 dtype, II
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/indexes/numeric/test_numeric.py
Due: np-testing-array-equal

make NumericIndex fail with float16 dtype
  pandas/core/indexes/numeric.py
  pandas/tests/indexes/numeric/test_numeric.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TST: Consolidate tests that raise in groupby
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/groupby/test_min_max.py
  pandas/tests/groupby/test_raises.py
  pandas/tests/groupby/transform/test_transform.py
Due: np-testing-array-equal

try alternative method
  .github/workflows/macos-windows.yml
  .github/workflows/ubuntu.yml
  ci/run_tests.sh
Due: none

Fix doctest
  pandas/core/groupby/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

a demo for confirm
  doc/source/reference/testing.rst
  pandas/_libs/reduction.pyx
  pandas/core/resample.py
  pandas/errors/__init__.py
Due: flake8-rst, cython-casting, incorrect-backticks, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, pandas-errors-documented, validate-errors-locations, future-annotations

BUG: Grouper specified by key not regarded as in-axis
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/groupby.py
  pandas/core/groupby/grouper.py
  pandas/tests/groupby/test_grouping.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CLN: Remove unused rewrite warning (#50403)
  pandas/core/reshape/pivot.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Add cow mechanism to rename_axis
  pandas/core/generic.py
  pandas/tests/copy_view/test_methods.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

Address review
  pandas/tests/io/test_html.py
Due: np-testing-array-equal

Add backend
  pandas/io/html.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

reworded the whatsnew comment
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

CLN: Use exclusions in determination of _selected_obj
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Use Py_XDECREF
  pandas/_libs/src/ujson/python/objToJSON.c
Due: none

TST: Add test for Period construction from str with zero nanos
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/scalar/period/test_period.py
Due: cython-casting, np-testing-array-equal

Backport PR #50145: DOC restructure contributing environment guide
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

Backport PR #50144: DOC: BT for VisualStudio2022
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

[skip ci] pdep6 draft
  web/pandas/pdeps/0006-ban-upcasting.md
Due: none

Backport PR #50144 on branch 1.5.x (DOC: BT for VisualStudio2022) (#50418)
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

initial move from cython to C
  pandas/_libs/pandas/type.h
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/util.pxd
  setup.py
Due: cython-casting

Backport PR #49993: Add new mamba environment creation command
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

Backport PR #49993 on branch 1.5.x (Add new mamba environment creation command) (#50420)
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

Backport PR #49981: Streamline docker usage
  .devcontainer.json
  .github/workflows/code-checks.yml
  Dockerfile
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

Backport PR #49981 on branch 1.5.x (Streamline docker usage) (#50421)
  .devcontainer.json
  .github/workflows/code-checks.yml
  Dockerfile
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

Backport PR #50341: CI: Use regular solver for docker build
  Dockerfile
Due: none

Fix tests and mypy
  pandas/conftest.py
  pandas/core/generic.py
  pandas/tests/copy_view/test_methods.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

Backport PR #50145 on branch 1.5.x (DOC restructure contributing environment guide) (#50423)
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

Remove option
  pandas/conftest.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations

BUG: Period would raise a KeyError when given a string with extra precision
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/scalar/period/test_period.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal

Fix typing
  pandas/core/arrays/arrow/array.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Backport PR #50341 on branch 1.5.x (CI: Use regular solver for docker build) (#50422)
  Dockerfile
Due: none

TST: Consolidate tests that raise in groupby (#50404)
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/groupby/test_min_max.py
  pandas/tests/groupby/test_raises.py
  pandas/tests/groupby/transform/test_transform.py
Due: np-testing-array-equal

Fix typos
  .github/workflows/ubuntu.yml
Due: none

nan typo fixup
  pandas/_libs/pandas/type.h
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
