Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

added example for axis=0 param
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

making if statements consistent
  pandas/tests/frame/methods/test_between_time.py
Due: none

better control precision
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
Due: none

add instruction to styler.format docstring
  pandas/io/formats/style_render.py
Due: none

docstring options.rst
  doc/source/user_guide/options.rst
Due: flake8-rst

whats new
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

BENCH: update `class SelectDtypes` to allow testing against 1.3.x
  asv_bench/benchmarks/dtypes.py
Due: none

changes in align example
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

passed linting checks
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

made requested changes
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

TST: added test for ea dtypes conversion to datetimetzdtype
  pandas/tests/frame/methods/test_astype.py
Due: none

BUG: erroneous initialization of a DataFrame with Series objects GH42818
  azure-pipelines.yml
Due: none

PERF: _getitem_view
  pandas/core/frame.py
  pandas/io/stata.py
Due: use-pd_array-in-core

TYP: indexes
  pandas/core/indexes/base.py
  pandas/core/indexes/extension.py
  pandas/core/indexes/multi.py
Due: use-pd_array-in-core

changed makeMultiIndex
  pandas/_testing/__init__.py
Due: none

typo fixup
  pandas/io/stata.py
Due: none

TST: Dataframe construct from series.
  pandas/tests/frame/test_constructors.py
  pandas/tests/indexes/categorical/test_reindex.py
Due: none

PERF: indexing.InsertColumns.time_assign_with_setitem
  pandas/core/frame.py
Due: use-pd_array-in-core

fix options doc for "display.precision"
  doc/source/user_guide/options.rst
Due: flake8-rst

makeMultiIndex fixed
  pandas/_testing/__init__.py
Due: none

fixed line eroor
  pandas/_testing/__init__.py
Due: none

TST: code review, moved test in the right location, changed assert method
  pandas/tests/frame/methods/test_astype.py
  pandas/tests/series/methods/test_astype.py
Due: none

PERF: read_stata
  pandas/io/stata.py
Due: none

fixup
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Added example for Dataframe.align (#43225)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

PERF: column_arrays
  pandas/core/internals/managers.py
Due: use-pd_array-in-core

mypy fixup
  pandas/core/internals/managers.py
Due: use-pd_array-in-core

return list of ndarrays
  pandas/core/internals/managers.py
Due: use-pd_array-in-core

added whatsnew
  doc/source/whatsnew/v1.3.3.rst
Due: flake8-rst

fix segfault
  pandas/core/internals/managers.py
Due: use-pd_array-in-core

Remove aiobotocore pin again (#43260)
  ci/deps/actions-39.yaml
  ci/deps/azure-windows-38.yaml
  ci/deps/azure-windows-39.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

Backport PR #43260: CI: Remove aiobotocore pin again
  ci/deps/actions-39.yaml
  ci/deps/azure-windows-37.yaml
  ci/deps/azure-windows-38.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

PERF: DataFrame floordiv
  pandas/core/ops/missing.py
Due: use-pd_array-in-core

fix ArrayManager
  pandas/io/stata.py
Due: none

more descriptive whatsnew
  doc/source/whatsnew/v1.3.3.rst
Due: flake8-rst

refactor encoding
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_html.py
Due: none
