Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, pip-to-conda, sync-flake8-versions, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  frame-or-series-union: any of: \.py$ and not (^pandas/_typing\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  inconsistent-namespace-usage: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/excel/test_writers\.py
|pandas/tests/io/pytables/common\.py
|pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

Add whatsnew, fix some typing
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/algorithms.py
  pandas/core/generic.py
  pandas/core/groupby/groupby.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

REF: _validate_partial_date_slice -> _can_partial_date_slice (#42225)
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

PERF: Avoid copy in DataFrame._reduce corner cases
  pandas/core/frame.py
  pandas/core/internals/managers.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

BUG/REF: use sorted_rank_1d for rank_2d (#41931)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/algos.pyx
  pandas/_libs/algos_take_helper.pxi.in
  pandas/tests/frame/methods/test_rank.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

BUG: UInt64Index construction casting to float64 (#42201)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/numeric.py
  pandas/tests/indexes/numeric/test_numeric.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

ENH: add ignore index to DataFrame / Series.sample (#42168)
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_sample.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

fix setitem on single column for full slice + update frame tests
  pandas/core/indexing.py
  pandas/core/internals/array_manager.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/indexing/test_xs.py
  pandas/tests/frame/test_constructors.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Add docstrings
  pandas/core/algorithms.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Improve some variable names
  pandas/core/algorithms.py
  pandas/core/groupby/groupby.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Backport PR #42168: ENH: add ignore index to DataFrame / Series.sample
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_sample.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

BUG: added test #36615
  pandas/tests/tslibs/test_timedeltas.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

TST/CI: Reduce number of unnecessary numba tests in groupby ops
  pandas/tests/groupby/conftest.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

REF: share Index.join
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Backport PR #42168: ENH: add ignore index to DataFrame / Series.sample (#42234)
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_sample.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

TST/CI: Reduce number of unnecessary numba tests in groupby ops (#42237)
  pandas/tests/groupby/conftest.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

Backport PR #42237: TST/CI: Reduce number of unnecessary numba tests in groupby ops
  pandas/tests/groupby/conftest.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

REF: share Index.join (#42238)
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

REF: move short-circuiting up to get_indexer (#42230)
  pandas/core/indexes/base.py
  pandas/core/indexes/interval.py
  pandas/tests/libs/test_hashtable.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

CLN: setops (#42228)
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

REF: de-duplicate MultiIndex.reindex (#42226)
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

PERF: Avoid copy in DataFrame._reduce corner cases (#42232)
  pandas/core/frame.py
  pandas/core/internals/managers.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

TYP: make numpy.typing available from pandas._typing (#41945)
  pandas/_typing.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/internals/managers.py
  pandas/core/series.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

PERF/ENH: allow Generator in sampling methods
  doc/source/whatsnew/v1.4.0.rst
  pandas/_typing.py
  pandas/core/common.py
  pandas/core/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/frame/methods/test_sample.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

add ASV
  asv_bench/benchmarks/groupby.py
Due: frame-or-series-union, inconsistent-namespace-usage

Add pandas-workshop community tutorial.
  doc/source/getting_started/tutorials.rst
Due: flake8-rst

Clean up diff
  pandas/core/common.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

black
  asv_bench/benchmarks/groupby.py
Due: frame-or-series-union, inconsistent-namespace-usage

reorder_level examples fixed the alignment formatting
  pandas/core/frame.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Updated the return type section of to_datetime to include list-like mixed timezone inputs
  pandas/core/tools/datetimes.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core
