Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)

small fix
  pandas/core/indexes/base.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Remove type stub
  pandas/_libs/missing.pyi
Due: none

Remove supressed deprecation warnning
  pandas/tests/series/test_constructors.py
Due: np-testing-array-equal

Use ea interface to calculate accumulator functions for datetimelike (#50297)
  pandas/core/array_algos/datetimelike_accumulations.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/timedeltas.py
  pandas/core/nanops.py
  pandas/tests/arrays/datetimes/test_cumulative.py
  pandas/tests/arrays/timedeltas/test_cumulative.py
  pandas/tests/series/test_cumulative.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

ENH: fix a bunch of pyarrow duration xfails (#50669)
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TST: Sync pyproject.toml Pytest version with min deps
  pyproject.toml
Due: none

remove redundant cast
  pandas/tests/series/methods/test_fillna.py
Due: np-testing-array-equal

remove wrong empty line
  pandas/tests/series/methods/test_fillna.py
Due: np-testing-array-equal

isort
  pandas/tests/series/methods/test_fillna.py
Due: np-testing-array-equal

small adjustments
  pandas/tests/series/methods/test_fillna.py
Due: np-testing-array-equal

fillna parr test added
  pandas/tests/series/methods/test_fillna.py
Due: np-testing-array-equal

fixes
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_internals.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CI: Fix undefined variables in tests
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal

Backport PR #50396 on branch 1.5.x (BUG/COMPAT: fix assert_* functions for nested arrays with latest numpy) (#50739)
  doc/source/whatsnew/v1.5.3.rst
  pandas/core/dtypes/missing.py
  pandas/tests/dtypes/test_missing.py
  pandas/tests/util/test_assert_almost_equal.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

add datetime.tzinfo to paramater tz
  pandas/core/arrays/datetimes.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DEPR: deprecate Index.is_boolean (#50176)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/categorical.py
  pandas/core/indexes/base.py
  pandas/tests/base/common.py
  pandas/tests/indexes/common.py
  pandas/tests/indexes/test_setops.py
  pandas/tests/indexing/test_loc.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DEPR: deprecate Index.holds_integer
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/dtypes/common.py
  pandas/core/indexes/base.py
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/core.py
  pandas/tests/indexes/common.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

add GH number
  doc/source/whatsnew/v2.0.0.rst
  pandas/tests/indexes/common.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal

pylint fix
  pandas/tests/indexes/common.py
Due: np-testing-array-equal

update Index._should_fallback_to_positional
  pandas/core/indexes/base.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

remove usage of hold_integer, keep .inferred_type
  pandas/core/dtypes/common.py
  pandas/core/indexes/base.py
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/core.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

refactor to have ._holds_integer
  pandas/core/indexes/base.py
  pandas/tests/indexes/common.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

use ._should_fallback_to_positional
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/core.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

attribute fix
  pandas/plotting/_matplotlib/core.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

use _holds_integer in plotting._core.py
  pandas/plotting/_core.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fix use of Index._holds_integer
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/core.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

use _holds_integer in plotting._atplotlib.core.py
  pandas/plotting/_matplotlib/core.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

update
  pandas/core/indexes/base.py
  pandas/tests/indexes/common.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Stopping to_csv from trying to write to a http url when provided
  pandas/io/common.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

test dtype sparseDtype with specificd fill value
  pandas/tests/arrays/sparse/test_astype.py
Due: np-testing-array-equal

Stopping to_csv from trying to write to a http url when provided, adding tests
  pandas/tests/test_common.py
Due: np-testing-array-equal

Stopping to_csv from trying to write to a http url when provided, adding tests and doc notes
  doc/source/whatsnew/v1.5.3.rst
Due: flake8-rst, incorrect-backticks

REF: groupby Series selection with as_index=False
  pandas/core/apply.py
  pandas/core/base.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/core/series.py
  pandas/tests/groupby/test_groupby.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

GH#
  pandas/tests/groupby/test_groupby.py
Due: np-testing-array-equal

TST: Fix undefined variables in tests (#50741)
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal
