Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$

ENH: Implement io.nullable_backend config for read_parquet (#49039)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/config_init.py
  pandas/io/parquet.py
  pandas/tests/io/test_parquet.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

PERF: pd.concat EA-backed indexes and sort=True (#49178)
  asv_bench/benchmarks/join_merge.py
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/algorithms.py
  pandas/core/indexes/api.py
  pandas/tests/window/test_pairwise.py
Due: flake8-rst, incorrect-backticks, seed-check-asv, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

TST/CLN: Use fixtures instead of setup_method in tests/indexing (#49157)
  pandas/tests/indexing/common.py
  pandas/tests/indexing/conftest.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/indexing/test_scalar.py
Due: np-testing-array-equal

DEPR: to_native_types, set_value, iteritems, union_many, to_perioddelta
  doc/redirects.csv
  doc/source/reference/frame.rst
  doc/source/reference/indexing.rst
  doc/source/reference/series.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/datetimes.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/numeric.py
  pandas/core/indexes/range.py
  pandas/core/series.py
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/frame/test_api.py
  pandas/tests/generic/test_generic.py
  pandas/tests/indexes/datetimes/test_formats.py
  pandas/tests/indexes/datetimes/test_setops.py
  pandas/tests/indexes/ranges/test_range.py
  pandas/tests/indexes/test_base.py
  pandas/tests/series/test_api.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

remove more
  pandas/core/frame.py
Due: use-pd_array-in-core, use-io-common-urlopen

mypy fixup
  pandas/core/dtypes/cast.py
Due: use-pd_array-in-core, use-io-common-urlopen

initial commit
  doc/source/whatsnew/v1.5.2.rst
  pandas/core/computation/ops.py
  pandas/tests/frame/test_query_eval.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

cleanup
  pandas/tests/frame/test_query_eval.py
Due: np-testing-array-equal

longer array in _test_parse_iso8601
  pandas/_libs/tslib.pyx
Due: cython-casting

test message
  pandas/tests/tools/test_to_datetime.py
Due: np-testing-array-equal

looking for column in scope
  pandas/core/computation/ops.py
  pandas/tests/computation/test_eval.py
  pandas/tests/frame/test_query_eval.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

looking for column in scope
  pandas/core/computation/ops.py
  pandas/tests/computation/test_eval.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

DEPR: categorical.mode (#49238)
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_analytics.py
  pandas/tests/test_algos.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

looking for column in scope
  pandas/core/computation/ops.py
Due: use-pd_array-in-core, use-io-common-urlopen

fixed lint
  doc/source/whatsnew/v1.5.2.rst
  pandas/core/computation/ops.py
Due: flake8-rst, incorrect-backticks, use-pd_array-in-core, use-io-common-urlopen

Update ops.py
  pandas/core/computation/ops.py
Due: use-pd_array-in-core, use-io-common-urlopen

Refactor CustomClass test to avoid using >=
  pandas/tests/scalar/timedelta/test_arithmetic.py
Due: np-testing-array-equal

Update
  meson.build
  pandas/_libs/meson.build
  pandas/meson.build
Due: none

REF: _reso->_creso (#49107)
  pandas/_libs/index.pyx
  pandas/_libs/tslibs/offsets.pyi
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timedeltas.pxd
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pxd
  pandas/_libs/tslibs/timestamps.pyi
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/tzconversion.pxd
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/core/dtypes/dtypes.py
  pandas/core/indexes/datetimes.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/arrays/test_timedeltas.py
  pandas/tests/dtypes/test_dtypes.py
  pandas/tests/scalar/timedelta/test_constructors.py
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/scalar/timestamp/test_constructors.py
  pandas/tests/scalar/timestamp/test_timestamp.py
  pandas/tests/scalar/timestamp/test_timezones.py
  pandas/tests/scalar/timestamp/test_unary_ops.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tseries/offsets/test_offsets.py
  pandas/tseries/frequencies.py
Due: cython-casting, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

DOC: Fixed Issue: Typo of DataFrame.iat() in 10 minutes to panda (#49122)
  doc/source/user_guide/10min.rst
Due: flake8-rst, incorrect-backticks

DOC: fix versionchanged blank line usage (#49117) (#49125)
  pandas/plotting/_core.py
Due: use-io-common-urlopen

REF: reso->creso (#49123)
  pandas/_libs/index.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/tzconversion.pxd
  pandas/_libs/tslibs/tzconversion.pyi
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/arrays/datetimes.py
Due: cython-casting, use-pd_array-in-core, use-io-common-urlopen

BUG: guess_datetime_format doesn't guess just year (#49127)
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/tslibs/test_parsing.py
Due: cython-casting, np-testing-array-equal

BUG: _guess_datetime_format_for_array doesn't guess if first element is '' or 'NaT' (#49120)
  pandas/_libs/tslib.pyi
  pandas/_libs/tslib.pyx
  pandas/core/tools/datetimes.py
  pandas/tests/tools/test_to_datetime.py
Due: cython-casting, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

added ArrowJsonParser and tests
  pandas/io/json/_json.py
  pandas/io/json/arrow_json_parser_wrapper.py
  pandas/tests/io/json/conftest.py
  pandas/tests/io/json/test_readlines.py
Due: np-testing-array-equal, use-io-common-urlopen

DEPR: DataFrame.median/mean with numeric_only=None and dt64 columns
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/frame.py
  pandas/tests/frame/test_reductions.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

DEPR: Enforce deprecation of mad and tshift
  doc/redirects.csv
  doc/source/reference/frame.rst
  doc/source/reference/groupby.rst
  doc/source/reference/series.rst
  doc/source/user_guide/basics.rst
  pandas/_typing.py
  pandas/core/apply.py
  pandas/core/generic.py
  pandas/core/groupby/base.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/tests/apply/common.py
  pandas/tests/apply/test_frame_transform.py
  pandas/tests/arrays/categorical/test_operators.py
  pandas/tests/frame/conftest.py
  pandas/tests/frame/methods/test_shift.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/generic/test_finalize.py
  pandas/tests/groupby/__init__.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/test_allowlist.py
  pandas/tests/groupby/test_api_consistency.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_groupby_subclass.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

whatsnew
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

revert
  pandas/_typing.py
Due: use-io-common-urlopen

DEPR: is_categorical
  doc/redirects.csv
  doc/source/reference/arrays.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/conftest.py
  pandas/core/dtypes/api.py
  pandas/core/dtypes/common.py
  pandas/tests/api/test_types.py
  pandas/tests/dtypes/test_common.py
  pandas/tests/dtypes/test_dtypes.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, title-capitalization, use-pd_array-in-core, use-io-common-urlopen

enforce deprecation of Categorical.replace
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_replace.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Remove ASVs for mad
  asv_bench/benchmarks/groupby.py
  asv_bench/benchmarks/stat_ops.py
Due: seed-check-asv
