Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python scripts/validate_min_versions_in_sync.py
  language: python

Update sas7bdat.py
  pandas/io/sas/sas7bdat.py
Due: use-io-common-urlopen

Code review from #46759 : moved benchmark file
  asv_bench/benchmarks/strftime.py
Due: seed-check-asv

ENH: TDA.__mul__ support non-nano
  pandas/core/arrays/timedeltas.py
  pandas/tests/arrays/test_timedeltas.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

fix freq
  pandas/core/arrays/timedeltas.py
Due: use-pd_array-in-core, use-io-common-urlopen

ENH: Add reversed to Series
  pandas/core/base.py
Due: use-pd_array-in-core, use-io-common-urlopen

CI: Fix npdev build post Cython annotation change
  pandas/core/arrays/period.py
Due: use-pd_array-in-core, use-io-common-urlopen

add PR suggestions
  doc/source/whatsnew/v1.4.4.rst
  pandas/core/computation/eval.py
  pandas/tests/computation/test_eval.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Bug 43767 fix
  pandas/core/resample.py
Due: use-pd_array-in-core, use-io-common-urlopen

fixing lines doc
  pandas/core/resample.py
Due: use-pd_array-in-core, use-io-common-urlopen

visual indent
  pandas/core/resample.py
Due: use-pd_array-in-core, use-io-common-urlopen

indentation
  pandas/core/resample.py
Due: use-pd_array-in-core, use-io-common-urlopen

update tests
  pandas/tests/frame/indexing/test_getitem.py
Due: np-testing-array-equal

update test
  pandas/tests/frame/indexing/test_getitem.py
Due: np-testing-array-equal

more compat
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal

update imports in eval.py
  pandas/core/computation/eval.py
Due: use-pd_array-in-core, use-io-common-urlopen

ENH: Move error to error/__init__.py per GH27656
  doc/source/reference/testing.rst
  pandas/errors/__init__.py
  pandas/io/sql.py
  pandas/tests/test_errors.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, title-capitalization, use-io-common-urlopen, pandas-errors-documented

fixup whatsnew note
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst, incorrect-backticks

Ensure _from_ordinal gets int
  pandas/_libs/tslibs/period.pyx
  pandas/core/arrays/datetimelike.py
  pandas/tests/io/parser/test_quoting.py
  pandas/tests/reductions/test_reductions.py
Due: cython-casting, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Type as int64_t instead
  pandas/_libs/tslibs/period.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/tests/reductions/test_reductions.py
Due: cython-casting, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

change another int typing
  pandas/_libs/arrays.pyx
Due: cython-casting

Simplify test and move to test_converter.py file
  pandas/tests/plotting/test_converter.py
  pandas/tests/plotting/test_quarterly_finder.py
Due: np-testing-array-equal

Newline at end of file
  pandas/tests/plotting/test_converter.py
Due: np-testing-array-equal

Change to intp
  pandas/_libs/arrays.pyx
Due: cython-casting

Add support for truediv
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

ENH: TDA+datetime_scalar support non-nano
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/test_timedeltas.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Add floordiv
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
