Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$

Added a `get_current_locale` function, compliant with `setlocale`, to avoid misuses of `getlocale` (see #46595). Added tests.
  pandas/_config/localization.py
  pandas/tests/config/test_localization.py
Due: np-testing-array-equal, use-io-common-urlopen

Added `get_current_locale` to the testing module for convenience
  pandas/_testing/__init__.py
Due: use-io-common-urlopen

DOC: Fix reference to ZstdCompressor in compression_options
  pandas/core/shared_docs.py
Due: use-pd_array-in-core, use-io-common-urlopen

DOC: Fix string interpolation in compression/decompression_options
  pandas/core/generic.py
  pandas/core/shared_docs.py
  pandas/io/parsers/readers.py
  pandas/io/sas/sasreader.py
  pandas/io/stata.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

BUG: `pd.period_range` ignores multiple of `start` frequency.
  pandas/core/arrays/period.py
  pandas/tests/series/test_constructors.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Add entry in what's new.
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst, incorrect-backticks

Fixup.
  pandas/core/arrays/period.py
  pandas/tests/series/test_constructors.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Fixup docs.
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst, incorrect-backticks

Fix range calculation.
  pandas/core/arrays/period.py
Due: use-pd_array-in-core, use-io-common-urlopen

Minor improvement in `test_set_locale`
  pandas/tests/config/test_localization.py
Due: np-testing-array-equal

Add tets and fix docstring
  pandas/core/indexes/api.py
  pandas/tests/reshape/concat/test_index.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Fix Period not using freq when using same base-freq.
  pandas/_libs/tslibs/period.pyx
Due: cython-casting

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Might be in arraymanager tests
  ci/run_tests.sh
Due: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

address comments
  pandas/core/generic.py
  pandas/core/series.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

fix typevar
  pandas/core/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

Add whatsnew and address 0 diff
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/range.py
  pandas/tests/indexes/ranges/test_setops.py
  pandas/tests/reshape/concat/test_index.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

TST: Moved and restructured test #22558
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/util/test_assert_series_equal.py
Due: np-testing-array-equal

Create test for _quarterly_finder()
  pandas/tests/plotting/test_quarterly_finder.py
Due: np-testing-array-equal

Shorten comment
  pandas/tests/plotting/test_quarterly_finder.py
Due: np-testing-array-equal

Style refinements
  pandas/tests/plotting/test_quarterly_finder.py
Due: np-testing-array-equal

TST: Added test for strides in column major Dataframes stored in HDFStore
  pandas/tests/io/pytables/test_store.py
Due: np-testing-array-equal

DOC: Fixed pandas capitalization
  RELEASE.md
Due: none

Style
  pandas/tests/plotting/test_quarterly_finder.py
Due: np-testing-array-equal

Fixup.
  pandas/_libs/tslibs/period.pyx
Due: cython-casting

Add BasePrintingTests
  pandas/tests/extension/test_arrow.py
Due: np-testing-array-equal

Revert change.
  pandas/_libs/tslibs/period.pyx
Due: cython-casting

Add additional unit test
  doc/source/whatsnew/v1.5.0.rst
  pandas/tests/indexes/ranges/test_setops.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal

Sort imports
  pandas/tests/plotting/test_quarterly_finder.py
Due: np-testing-array-equal

BUG: Return Float64 for read_parquet(use_nullable_dtypes=True)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/parquet.py
  pandas/tests/io/test_parquet.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-io-common-urlopen
