Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python scripts/validate_min_versions_in_sync.py
  language: python

Append Excel styles to shorthand parsing
  pandas/io/formats/css.py
Due: use-io-common-urlopen

Update to find_stack_level call
  pandas/io/formats/excel.py
Due: use-io-common-urlopen

Fix asv
  asv_bench/benchmarks/frame_methods.py
  asv_bench/benchmarks/stat_ops.py
Due: seed-check-asv

suggested asv edit
  asv_bench/benchmarks/groupby.py
Due: seed-check-asv

TST/CI: Follow up fix test_write_fspath_all (#49621)
  pandas/tests/io/test_common.py
Due: np-testing-array-equal

update asv
  asv_bench/benchmarks/groupby.py
Due: seed-check-asv

CLN: test_nanops.py (#49423)
  pandas/tests/test_nanops.py
Due: np-testing-array-equal

s reso for pydate
  pandas/_libs/tslibs/conversion.pyx
Due: cython-casting

Add versionchanged
  pandas/core/frame.py
  pandas/core/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

ENH: Compile Factorizer class for all numeric dtypes
  pandas/_libs/hashtable.pyi
  pandas/_libs/hashtable.pyx
  pandas/_libs/hashtable_class_helper.pxi.in
Due: cython-casting

REGR: Better warning in pivot_table when dropping nuisance columns (#49615)
  pandas/core/reshape/pivot.py
  pandas/tests/reshape/test_pivot.py
  pandas/tests/util/test_rewrite_warning.py
  pandas/util/_exceptions.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

REGR: MultiIndex.join does not work for ea dtypes (#49284)
  doc/source/whatsnew/v1.5.2.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/multi/test_join.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

BUG: groupby with sort=False still sorts an ordered categorical (#49613)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/categorical.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/grouper.py
  pandas/core/shared_docs.py
  pandas/tests/groupby/test_categorical.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Add Series.rank to whatsnew
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

BUG: date_range with freq="C" (business days) return value changed on 1.5.0 (#49610)
  doc/source/whatsnew/v1.5.2.rst
  pandas/_libs/tslibs/offsets.pyx
  pandas/tests/indexes/datetimes/test_date_range.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal

Backport PR #49610: BUG: date_range with freq="C" (business days) return value changed on 1.5.0
  doc/source/whatsnew/v1.5.2.rst
  pandas/_libs/tslibs/offsets.pyx
  pandas/tests/indexes/datetimes/test_date_range.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal

CI: Upgrade mypy to 0.990
  doc/source/whatsnew/v2.0.0.rst
  environment.yml
  pandas/core/apply.py
  pandas/core/arrays/base.py
  pandas/core/base.py
  pandas/core/frame.py
  pandas/core/interchange/column.py
  pandas/core/series.py
  pandas/io/common.py
  pandas/plotting/_core.py
  pandas/util/_decorators.py
  requirements-dev.txt
Due: flake8-rst, incorrect-backticks, pip-to-conda, sync-flake8-versions, use-pd_array-in-core, use-io-common-urlopen

up5
  pandas/core/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

Adress review
  pandas/_libs/index.pyx
  pandas/core/indexes/base.py
Due: cython-casting, use-pd_array-in-core, use-io-common-urlopen

API: make Timestamp/Timedelta _as_unit public as_unit (#48819)
  doc/source/reference/arrays.rst
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/nattype.pyi
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyi
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/core/dtypes/common.py
  pandas/core/dtypes/dtypes.py
  pandas/core/window/ewm.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/arrays/test_timedeltas.py
  pandas/tests/indexes/datetimes/test_indexing.py
  pandas/tests/indexes/timedeltas/test_indexing.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/scalar/test_nat.py
  pandas/tests/scalar/timedelta/test_constructors.py
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/scalar/timestamp/test_timestamp.py
  pandas/tests/scalar/timestamp/test_timezones.py
  pandas/tests/scalar/timestamp/test_unary_ops.py
  pandas/tests/series/test_constructors.py
  pandas/tests/tseries/offsets/test_offsets.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal, title-capitalization, use-pd_array-in-core, use-io-common-urlopen

DEPR: Disallow missing nesed label when indexing MultiIndex level
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/indexes/multi.py
  pandas/tests/indexing/multiindex/test_loc.py
  pandas/tests/io/formats/style/test_style.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Add issue ref
  pandas/tests/groupby/test_allowlist.py
Due: np-testing-array-equal

DEPR: Enforce Series(float_with_nan, dtype=inty) (#49605)
  asv_bench/benchmarks/groupby.py
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/construction.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/series/test_constructors.py
  pandas/tests/test_downstream.py
Due: flake8-rst, incorrect-backticks, seed-check-asv, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

typo fixup
  pandas/_libs/tslibs/conversion.pyx
Due: cython-casting

DEPR: Remove method and tolerance in Index.get_loc
  ci/deps/actions-38-minimum_versions.yaml
  doc/source/getting_started/install.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/compat/_optional.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/multi.py
  pandas/core/indexes/period.py
  pandas/core/indexes/range.py
  pandas/core/indexes/timedeltas.py
  pandas/tests/indexes/datetimes/test_indexing.py
  pandas/tests/indexes/numeric/test_indexing.py
  pandas/tests/indexes/object/test_indexing.py
  pandas/tests/indexes/period/test_indexing.py
  pandas/tests/indexes/timedeltas/test_indexing.py
  pandas/tests/test_downstream.py
  setup.cfg
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, pg8000-not-installed-CI, validate-min-versions-in-sync

note xarray bump
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

Backport PR #49610 on branch 1.5.x (BUG: date_range with freq="C" (business days) return value changed on 1.5.0) (#49625)
  doc/source/whatsnew/v1.5.2.rst
  pandas/_libs/tslibs/offsets.pyx
  pandas/tests/indexes/datetimes/test_date_range.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal

DEPR: Disallow missing nested label when indexing MultiIndex level (#49628)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/indexes/multi.py
  pandas/tests/indexing/multiindex/test_loc.py
  pandas/tests/io/formats/style/test_style.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

BUG: groupby.nth should be a filter (#49262)
  doc/source/user_guide/groupby.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/base.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/groupby/test_nth.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
