Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

unwanted-patterns-doesnt-use-pandas-warnings:
  name: Check that warning classes for deprecations use pandas' warning classes
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="doesnt_use_pandas_warnings"

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

validate-errors-locations:
  name: Validate errors locations
  description: Validate errors are in appropriate locations.
  entry: python scripts/validate_exception_location.py
  language: python

check-test-naming:
  name: check that test names start with 'test'
  entry: python -m scripts.check_test_naming
  language: python

sort-whatsnew-items:
  name: sort whatsnew entries alphabetically
  entry: python -m scripts.sort_whatsnew_note
  language: python

[backport 3.0.x] BUG: use fill_null fallback for bug in pyarrow 21 on Windows (fixes join, fillna, duplicated, etc with pyarrow-backed arrays) (#64081) (#64194)
  doc/source/whatsnew/v3.0.1.rst
  pandas/compat/pyarrow.py
  pandas/core/arrays/arrow/array.py
  pandas/core/reshape/merge.py
  scripts/validate_unwanted_patterns.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, sort-whatsnew-items

add whatsnew
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/arrays/base.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, sort-whatsnew-items

move tests to getitem
  pandas/core/arrays/base.py
  pandas/tests/extension/base/getitem.py
  pandas/tests/extension/base/methods.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

xfail sparse case
  pandas/tests/extension/base/getitem.py
  pandas/tests/extension/test_sparse.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

[backport 3.0.x] BUG: Fix read_hdf failing on generic datetime64 dtype (#64008) (#64197)
  doc/source/whatsnew/v3.0.1.rst
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_compat.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: cleanup 3.0.1 whatsnew
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

RLS: 3.0.1
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

fixup docs
  doc/source/reference/extensions.rst
Due: incorrect-backticks, title-capitalization

DOC: cleanup 3.0.1 whatsnew (#64199)
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

Backport PR #64199: DOC: cleanup 3.0.1 whatsnew
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

Backport PR #64199 on branch 3.0.x (DOC: cleanup 3.0.1 whatsnew) (#64201)
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: add py:type targets for typing aliases
  doc/source/reference/aliases.rst
Due: incorrect-backticks, title-capitalization

ignore ES01
  ci/code_checks.sh
Due: none

ENH: Add item() method to ExtensionArray class (#64134)
  ci/code_checks.sh
  doc/source/reference/extensions.rst
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/arrays/base.py
  pandas/tests/extension/base/getitem.py
  pandas/tests/extension/test_sparse.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ENH: Add item() method to ExtensionArray class (#64134)
  doc/source/reference/extensions.rst
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/arrays/base.py
  pandas/tests/extension/base/getitem.py
  pandas/tests/extension/test_sparse.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

[backport 3.0.x] ENH: Add item() method to ExtensionArray class (#64134) (#64204)
  doc/source/reference/extensions.rst
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/arrays/base.py
  pandas/tests/extension/base/getitem.py
  pandas/tests/extension/test_sparse.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

REF: inline period_array
  pandas/core/arrays/__init__.py
  pandas/core/arrays/period.py
  pandas/core/indexes/period.py
  pandas/tests/arrays/period/test_arrow_compat.py
  pandas/tests/arrays/period/test_astype.py
  pandas/tests/arrays/period/test_constructors.py
  pandas/tests/arrays/period/test_reductions.py
  pandas/tests/arrays/test_array.py
  pandas/tests/base/test_conversion.py
  pandas/tests/indexes/datetimes/test_constructors.py
  pandas/tests/series/methods/test_fillna.py
  pandas/tests/series/test_constructors.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

RLS: 3.0.1 (#64200)
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

Backport PR #64200: RLS: 3.0.1
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

mypy fixup
  pandas/core/indexes/period.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

RLS: 3.0.1 (#64206)
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

update conftest ignore docstring warning
  pandas/conftest.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

CLN: remove unused attributes from TimeSeries_DateLocator/Formatter
  pandas/plotting/_matplotlib/converter.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

CLN: assorted cleanups
  pandas/_libs/parsers.pyx
  pandas/core/apply.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexing.py
  pandas/core/reshape/merge.py
  pandas/core/strings/object_array.py
  pandas/tests/arithmetic/common.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/methods/test_value_counts.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Fix incorrect test, outdated docstring
  pandas/core/indexes/base.py
  pandas/tests/arithmetic/test_string.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

CI: Fix regex in docbuild-and-upload.yml
  .github/workflows/docbuild-and-upload.yml
Due: none

revert copy=False bc of CoW
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

depr: offset name
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/offsets.pyx
  pandas/tests/tseries/offsets/test_offsets.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

update docstrings
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Fix test_assignment_not_inplace incorrect assertion
  pandas/tests/computation/test_eval.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

fmt
  doc/source/user_guide/arrow_fallbacks.rst
  scripts/generate_arrow_fallback_table.py
  scripts/tests/test_generate_arrow_fallback_table.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

Fix issue 64150: fix unsed level display and data and label misalignment issues
  pandas/core/reshape/reshape.py
  pandas/tests/frame/test_stack_unstack.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

FIX: Remove duplicated test function
  pandas/tests/frame/test_stack_unstack.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Add unstack and sort test
  pandas/tests/frame/test_stack_unstack.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

CI: Fix regex in docbuild-and-upload.yml (#64211)
  .github/workflows/docbuild-and-upload.yml
Due: none

Backport PR #64211: CI: Fix regex in docbuild-and-upload.yml
  .github/workflows/docbuild-and-upload.yml
Due: none

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
