Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip_to_conda, flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-comprehensions>=3.1.0]
    -   id: flake8
        name: flake8 (cython)
        types: [cython]
        args: [--append-config=flake8/cython.cfg]
    -   id: flake8
        name: flake8 (cython template)
        files: \.pxi\.in$
        types:
          - file
        args: [--append-config=flake8/cython-template.cfg]
-   repo: https://github.com/PyCQA/isort
    rev: 5.6.3
    hooks:
    -   id: isort
        name: isort (python)
    -   id: isort
        name: isort (cython)
        types: [cython]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.6.0
    hooks:
      - id: rst-backticks
-   repo: local
    hooks:
    -   id: pip_to_conda
        name: Generate pip dependency from conda
        description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
        language: python
        entry: python -m scripts.generate_pip_deps_from_conda
        files: ^(environment.yml|requirements-dev.txt)$
        pass_filenames: false
        additional_dependencies: [pyyaml]
    -   id: flake8-rst
        name: flake8-rst
        description: Run flake8 on code snippets in docstrings or RST files
        language: python
        entry: flake8-rst
        types: [rst]
        args: [--filename=*.rst]
        additional_dependencies: [flake8-rst==0.7.0, flake8==3.7.9]
    -   id: incorrect-sphinx-directives
        name: Check for incorrect Sphinx directives
        language: pygrep
        entry: |
            (?x)
            # Check for cases of e.g. .. warning: instead of .. warning::
            \.\.\ (
                autosummary|contents|currentmodule|deprecated|
                function|image|important|include|ipython|literalinclude|
                math|module|note|raw|seealso|toctree|versionadded|
                versionchanged|warning
            ):[^:]
        files: \.(py|pyx|rst)$
    -   id: non-standard-imports
        name: Check for non-standard imports
        language: pygrep
        entry: |
            (?x)
            # Check for imports from pandas.core.common instead of `import pandas.core.common as com`
            from\ pandas\.core\.common\ import|
            from\ pandas\.core\ import\ common|

            # Check for imports from collections.abc instead of `from collections import abc`
            from\ collections\.abc\ import|

            from\ numpy\ import\ nan
        types: [python]
    -   id: non-standard-imports-in-tests
        name: Check for non-standard imports in test suite
        language: pygrep
        entry: |
            (?x)
            # Check for imports from pandas._testing instead of `import pandas._testing as tm`
            from\ pandas\._testing\ import|
            from\ pandas\ import\ _testing\ as\ tm|

            # No direct imports from conftest
            conftest\ import|
            import\ conftest
        types: [python]
        files: ^pandas/tests/
    -   id: incorrect-code-directives
        name: Check for incorrect code block or IPython directives
        language: pygrep
        entry: (\.\. code-block ::|\.\. ipython ::)
        files: \.(py|pyx|rst)$
-   repo: https://github.com/asottile/yesqa
    rev: v1.2.2
    hooks:
    -   id: yesqa
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: end-of-file-fixer
        exclude: ^LICENSES/|\.(html|csv|txt|svg|py)$
    -   id: trailing-whitespace
        exclude: \.(html|svg)$

add DateOffset
  pandas/_typing.py
  pandas/core/frame.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Remove unnecessary shallow copy
  pandas/core/window/rolling.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

add comments
  MANIFEST.in
  setup.cfg
Due: none

Fixed code breakage for tuples for axis = 0
  pandas/core/apply.py
  pandas/tests/apply/test_frame_apply.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

tests
  pandas/io/formats/style.py
  pandas/tests/io/formats/test_style.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

whats new
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

op
  pandas/io/formats/style.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

ENH: Fix support for matplotlib's constrained_layout (#25261)
  doc/source/whatsnew/v1.3.0.rst
  pandas/plotting/_matplotlib/boxplot.py
  pandas/plotting/_matplotlib/hist.py
  pandas/plotting/_matplotlib/misc.py
  pandas/plotting/_matplotlib/tools.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

doc fix
  pandas/io/formats/style.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

bug re-render styler _todo
  pandas/io/formats/style.py
  pandas/tests/io/formats/test_style.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

text fix
  pandas/io/formats/style.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

CI: fix PandasArray test (#39384)
  pandas/tests/extension/test_numpy.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

REF: move PandasDtype to dtypes.dtypes (#39385)
  pandas/core/algorithms.py
  pandas/core/arrays/__init__.py
  pandas/core/arrays/numpy_.py
  pandas/core/dtypes/dtypes.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/tests/arrays/test_numpy.py
  pandas/tests/extension/test_numpy.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

PERF: Rolling.cov/corr (#39388)
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/window/expanding.py
  pandas/core/window/rolling.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

STYLE: Replace snprintf with sprintf
  pandas/_libs/src/ujson/python/objToJSON.c
Due: none

STYLE: Add -runtime/printf to list of filters
  ci/code_checks.sh
Due: none

post-merge fixup
  pandas/core/indexes/base.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

text comments
  pandas/tests/io/formats/test_style.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST: tighten Decimal tests (#39381)
  pandas/tests/extension/decimal/array.py
  pandas/tests/extension/decimal/test_decimal.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

BUG: Slicing DatetimeIndex with strings containing microseconds raising KeyError (#39378)
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/indexes/datetimes.py
  pandas/tests/indexing/test_datetime.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

PERF: DatetimeIndex.get_indexer with mismatched tz (#39332)
  asv_bench/benchmarks/indexing.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

DOC: remove references to dev.pandas.io (#39377)
  .github/ISSUE_TEMPLATE/documentation_improvement.md
  README.md
  doc/source/whatsnew/v0.25.0.rst
  doc/source/whatsnew/v1.0.0.rst
  doc/source/whatsnew/v1.1.0.rst
  doc/source/whatsnew/v1.2.0.rst
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

DOC: NDFrame fillna method add use case (#39109)
  pandas/core/generic.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Update pandas/core/series.py
  pandas/core/series.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

ENH: PandasArray.value_counts (#39387)
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/datetimelike.py
  pandas/core/indexes/base.py
  pandas/tests/extension/test_numpy.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

test
  pandas/tests/io/formats/test_style.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

BUG: Series(list_of_tuples, dtype=PandasDtype(object)) (#39357)
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/construction.py
  pandas/tests/extension/test_numpy.py
  pandas/tests/series/test_constructors.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

do not use isnull
  pandas/tests/libs/test_hashtable.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives
