Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

CI: Rename ubuntu unit test jobs (#60751)
  .github/workflows/unit-tests.yml
Due: none

Address review comment
  pandas/tests/reshape/merge/test_merge_antijoin.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Fix docstring error
  pandas/core/resample.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Reverts
  pandas/tests/reshape/test_pivot.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Rework roundtripping logic
  doc/source/whatsnew/v2.3.0.rst
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_put.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Update PyArrow conversion and arrow/parquet tests for pyarrow 19.0 (#60716)
  .github/workflows/unit-tests.yml
  ci/deps/actions-311-pyarrownightly.yaml
  pandas/compat/__init__.py
  pandas/compat/pyarrow.py
  pandas/io/_util.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/io/test_common.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_parquet.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, pg8000-not-installed-CI, validate-errors-locations, check-test-naming

Fix type-hint
  pandas/core/arrays/string_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

ENH: Change return type of _to_datetime_with_unit to Index
  pandas/core/tools/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Address review comment and add skipna to min and max
  doc/source/whatsnew/v3.0.0.rst
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/core/_numba/kernels/min_max_.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_api.py
  pandas/tests/groupby/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Undo temporary change
  pandas/core/_numba/kernels/min_max_.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Add skipna to groupby median
  doc/source/whatsnew/v3.0.0.rst
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_api.py
  pandas/tests/groupby/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Add min and max to groupby numba vs cython test
  pandas/tests/groupby/aggregate/test_numba.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

DOC: Update docstring format for `Styler.to_typst()` example
  pandas/io/formats/style.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

API(str dtype): Raise on StringDtype for unary op + (#60710)
  doc/source/whatsnew/v2.3.0.rst
  pandas/core/arrays/string_arrow.py
  pandas/tests/frame/test_unary.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ENH: Implement cum* methods for PyArrow strings (#60633)
  doc/source/whatsnew/v2.3.0.rst
  pandas/conftest.py
  pandas/core/arrays/arrow/array.py
  pandas/tests/apply/test_str.py
  pandas/tests/extension/base/accumulate.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_string.py
  pandas/tests/series/test_cumulative.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ENH: Enable .mode to sort with NA values (#60702)
  pandas/core/algorithms.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/reductions/test_reductions.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

fixup
  pandas/compat/__init__.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Add back initial changes from gh-47428
  .github/workflows/docbuild-and-upload.yml
  web/interactive_terminal/README.md
  web/interactive_terminal/jupyter-lite.json
  web/interactive_terminal/jupyter_lite_config.json
Due: none

Add requirements and compatibility notes
  environment.yml
  requirements-dev.txt
Due: pip-to-conda

Disable source maps for a smaller build
  web/interactive_terminal/jupyter_lite_config.json
Due: none

Note Pyodide kernel installation in README
  web/interactive_terminal/README.md
Due: none

Add terminal back, with "Experimental" heading
  web/pandas/getting_started.md
Due: none

Git-ignore Pyodide xbuildenv folder
  .gitignore
Due: none

Update Pyodide versions for CI
  .github/workflows/unit-tests.yml
Due: none

Pin to Pyodide 0.27.1
  .github/workflows/unit-tests.yml
Due: none

Drop "WASM (pyodide and pyscript)" from Arrow compatibility notes
  web/pandas/pdeps/0010-required-pyarrow-dependency.md
Due: none

`TestCoercionFloat32.test_setitem` now xpasses
  pandas/tests/series/indexing/test_setitem.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

don't hardcode object dtype
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_parquet.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

also enable CoW when enabling future.infer_string
  .github/workflows/unit-tests.yml
Due: none

Fix minimum pin for `jupyterlite-core`
  environment.yml
  requirements-dev.txt
Due: pip-to-conda

Add note about disabling of source maps
  web/interactive_terminal/README.md
Due: none

Use `working-directory:` instead of `cd`
  .github/workflows/docbuild-and-upload.yml
Due: none

Properly generate dev requirements file
  environment.yml
  requirements-dev.txt
Due: pip-to-conda

Disable REPL code auto-execution
  web/pandas/getting_started.md
Due: none

[backport 2.3.x] Update PyArrow conversion and arrow/parquet tests for pyarrow 19.0 (#60716) (#60755)
  .github/workflows/unit-tests.yml
  ci/deps/actions-311-pyarrownightly.yaml
  pandas/compat/__init__.py
  pandas/compat/pyarrow.py
  pandas/io/_util.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/io/test_common.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_parquet.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, pg8000-not-installed-CI, validate-errors-locations, check-test-naming
