Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip_to_conda, flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

pip_to_conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python -m scripts.generate_pip_deps_from_conda
  pass_filenames: false
  additional_dependencies:
  - pyyaml

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

incorrect-sphinx-directives:
  name: Check for incorrect Sphinx directives
  language: pygrep
  ...

non-standard-imports:
  name: Check for non-standard imports
  language: pygrep
  entry: '(?x)
  
    # Check for imports from pandas.core.common instead of `import pandas.core.common as com`
  
    from\ pandas\.core\.common\ import|
  
    from\ pandas\.core\ import\ common|
  
  
  ...

non-standard-imports-in-tests:
  name: Check for non-standard imports in test suite
  language: pygrep
  entry: '(?x)
  
    # Check for imports from pandas._testing instead of `import pandas._testing as tm`
  
    from\ pandas\._testing\ import|
  
    from\ pandas\ import\ _testing\ as\ tm|
  
  
    # No direct imports from conftest
  
  ...

incorrect-code-directives:
  name: Check for incorrect code block or IPython directives
  language: pygrep
  entry: (\.\. code-block ::|\.\. ipython ::)

New dict call fixings #38138
  pandas/core/arrays/base.py
  pandas/core/computation/pytables.py
  pandas/core/indexes/base.py
  pandas/core/ops/methods.py
  pandas/io/pytables.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST:changed compression used in to_parquet from 'snappy' to None GH36688
  pandas/tests/io/test_common.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST:allowed exceptions to be raised via removing a try except block GH36688
  pandas/tests/io/test_common.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

test groupby.indices for multiple groupby and mix of types
  pandas/tests/groupby/test_groupby.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Fix typo in melt value_name futurewarning
  pandas/core/reshape/melt.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST:replaced try except with pytest.importorskip GH36688
  pandas/tests/io/test_common.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

New dict call fixings #38138 (#38298)
  pandas/core/arrays/base.py
  pandas/core/computation/pytables.py
  pandas/core/indexes/base.py
  pandas/core/ops/methods.py
  pandas/io/pytables.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

REF: move common arithmetic ops from Integer/FloatingArray to NumericArray (#38290)
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/numeric.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

REF: implement Groupby idxmin, idxmax without fallback (#38264)
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_function.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

BUG: groupby.apply on the NaN group drops values with original axes return (#38257)
  doc/source/whatsnew/v1.2.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_apply.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

whatsnew
  doc/source/whatsnew/v1.2.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

BUG: Clean intersection and fix naming bug
  pandas/core/indexes/base.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/multi.py
  pandas/tests/indexes/multi/test_setops.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Add gh reference
  pandas/tests/indexes/multi/test_setops.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

cr: add issue to whatsnew
  doc/source/whatsnew/v1.2.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

Add sub numba table func
  pandas/core/window/numba_.py
  pandas/core/window/rolling.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Fix typo in melt value_name futurewarning (#38301)
  pandas/core/reshape/melt.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TYP: @final in groupby (#38200)
  pandas/core/groupby/base.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/grouper.py
  pandas/core/groupby/ops.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST: share test_foo_transform tests
  pandas/tests/frame/apply/test_frame_transform.py
  pandas/tests/series/apply/test_series_transform.py
  pandas/tests/series/conftest.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

share more
  pandas/tests/frame/apply/test_frame_transform.py
  pandas/tests/series/apply/test_series_transform.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

docstring
  pandas/tests/frame/apply/test_frame_transform.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TYP/BUG: fix passing incorrect type to interpolate_1d
  pandas/core/generic.py
  pandas/core/missing.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

REF: implement _get_indexer; collect boilerplate in get_indexer
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/multi.py
  pandas/core/indexes/period.py
  pandas/core/indexes/range.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TYP: datetimelike
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/period.py
  pandas/core/arrays/timedeltas.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

mypy fixup
  pandas/core/missing.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

REF: move check up
  pandas/core/indexes/base.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST: tighten xfails
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/base/test_conversion.py
  pandas/tests/indexes/test_numpy_compat.py
  pandas/tests/series/test_arithmetic.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST: avoid skipping in frame arith test
  pandas/tests/frame/test_arithmetic.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

REF: remove unnecessary cast_scalar_to_array
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
  pandas/tests/dtypes/cast/test_infer_dtype.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

test message compat
  pandas/tests/frame/test_arithmetic.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

troubleshoot
  pandas/tests/indexes/test_numpy_compat.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

simplify
  pandas/core/frame.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

don't make separate method + ignore mypy
  pandas/core/dtypes/common.py
  pandas/core/frame.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Add stricter EA._from_scalars and use in maybe_cast_result
  pandas/core/algorithms.py
  pandas/core/arrays/base.py
  pandas/core/arrays/boolean.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/numpy_.py
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
  pandas/core/internals/managers.py
  pandas/core/series.py
  pandas/tests/extension/decimal/array.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

silence interval astype(category) test
  pandas/tests/indexes/interval/test_astype.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Path conditions:
  pip_to_conda: any of: ^(environment.yml|requirements-dev.txt)$
  flake8-rst: any of: \.rst$
  incorrect-sphinx-directives: any of: \.(py|pyx|rst)$
  non-standard-imports: any of: \.py$
  non-standard-imports-in-tests: any of: ^pandas/tests/ and \.py$
  incorrect-code-directives: any of: \.(py|pyx|rst)$
