Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

Add context about whats being tested
  pandas/tests/plotting/frame/test_frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

chore: Aded input validation to ensue that column index > 0
  pandas/io/formats/excel.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

DOC: fix --extra-inex-url keyword in install docs for nightly wheels
  doc/source/getting_started/install.rst
Due: incorrect-backticks

move getitem_returns_view from method to helper function
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/base.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/masked.py
  pandas/core/indexers/__init__.py
  pandas/core/indexers/utils.py
  pandas/tests/extension/decimal/array.py
  pandas/tests/extension/json/array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

clarify comments in test_fillna_readonly
  pandas/tests/extension/base/missing.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_sparse.py
  pandas/tests/extension/test_string.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Use isclose instead of exact equality when testing sum of large Series
  pandas/tests/reductions/test_reductions.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Add nanops_numba to mypy overrides
  pyproject.toml
Due: none

(minor fixes to examples in docstrings)
  pandas/core/nanops.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Add a numba_switch decorator to nanops and replace most of the bottleneck switches
  pandas/core/nanops.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Add comprehensive unit tests for private methods in pandas.core.nanops_numba
  pandas/tests/reductions/test_nanops_numba.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Add nanops_numba module with numba implementations of nanops including parallel chunking for large arrays
  pandas/core/nanops_numba.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

update link
  pandas/_typing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

add whatsnew note
  doc/source/whatsnew/v3.0.0.rst
  pandas/_typing.py
  pandas/core/frame.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, sort-whatsnew-items

REF: Make deep keyword only in Block(Manager).copy (#62969)
  pandas/core/generic.py
  pandas/core/internals/blocks.py
  pandas/core/internals/concat.py
  pandas/core/internals/construction.py
  pandas/core/internals/managers.py
  pandas/core/series.py
  pandas/tests/internals/test_internals.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

add comments
  pandas/tests/dtypes/test_inference.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

DOC: fix --extra-inex-url keyword in install docs for nightly wheels (#63001)
  doc/source/getting_started/install.rst
Due: incorrect-backticks

back
  pandas/core/arrays/datetimes.py
  pandas/core/dtypes/cast.py
  pandas/errors/__init__.py
  pandas/tests/indexes/datetimes/test_constructors.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, pandas-errors-documented, validate-errors-locations, check-test-naming

ruff
  doc/source/reference/testing.rst
  pandas/core/arrays/datetimes.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

TST: Improve runtime of some unit tests (#62968)
  pandas/tests/computation/test_eval.py
  pandas/tests/indexing/multiindex/test_indexing_slow.py
  pandas/tests/io/parser/common/test_chunksize.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/libs/test_hashtable.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/resample/test_datetime_index.py
  pandas/tests/resample/test_period_index.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

docs: Add gspread installation note for Google Sheets authentication
  doc/source/user_guide/io.rst
Due: incorrect-backticks

BUG: empty_frame[tuple] = values corrupting frame
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/indexes/base.py
  pandas/tests/frame/indexing/test_setitem.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ENH: to_excel(autofilter=...) apply Excel autofilter over written range for xlsxwriter/openpyxl; keep engine_kwargs semantics intact
  pandas/core/generic.py
  pandas/io/excel/_base.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_xlsxwriter.py
  pandas/io/formats/excel.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

TST/DOC: add tests for to_excel(autofilter=True) for openpyxl/xlsxwriter and a user guide snippet
  pandas/tests/io/excel/test_openpyxl.py
  pandas/tests/io/excel/test_xlsxwriter.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Address reviewer feedback on autofilter PR
  pandas/core/generic.py
  pandas/io/excel/_odswriter.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_xlsxwriter.py
  pandas/tests/io/excel/test_odswriter.py
  pandas/tests/io/excel/test_openpyxl.py
  pandas/tests/io/excel/test_xlsxwriter.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

FIX: Fix docstring formatting, missing imports, and undefined variables
  pandas/core/generic.py
  pandas/tests/io/excel/test_xlsxwriter.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

FIX: Move ExcelWriter and ExcelFormatter imports to avoid circular import
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

BUG: empty_frame[tuple] = values corrupting frame (#63002)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/indexes/base.py
  pandas/tests/frame/indexing/test_setitem.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: fix polluted window in skewness computation (#62863)
  doc/source/whatsnew/v3.0.0.rst
  pandas/_libs/window/aggregations.pyx
  pandas/tests/window/test_rolling.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming, sort-whatsnew-items

TST: Add regression test for pivot on empty frame with period dtype
  pandas/tests/reshape/test_pivot.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

FIxing pre-commit check
  pandas/tests/reshape/test_pivot.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

improve docs
  pandas/io/common.py
  pandas/io/parsers/readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

STY: Add strict=True in zip() in \core
  pandas/core/reshape/concat.py
  pandas/core/reshape/encoding.py
  pandas/core/reshape/melt.py
  pandas/core/reshape/pivot.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

DOC: Remove trailing whitespace from io.rst
  doc/source/user_guide/io.rst
Due: incorrect-backticks

fix.wrongly edited
  pandas/core/reshape/concat.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

fix.encoding.py strict = True -> strict = False
  pandas/core/reshape/encoding.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations
