Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

intp check
  pandas/_libs/internals.pyx
  pandas/tests/internals/test_internals.py
Due: none

PERF: assorted (#43822)
  pandas/_libs/internals.pyx
  pandas/core/algorithms.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/period.py
  pandas/core/internals/managers.py
  pandas/core/nanops.py
  pandas/tests/internals/test_internals.py
Due: use-pd_array-in-core

TYP: GroupBy (#43806)
  pandas/_libs/lib.pyi
  pandas/core/groupby/grouper.py
  pandas/core/groupby/ops.py
  pandas/core/internals/blocks.py
  pandas/core/sorting.py
  pandas/tests/groupby/test_grouping.py
Due: use-pd_array-in-core

PERF: improve perf of conversion to string arrays (#43805)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/lib.pyx
Due: flake8-rst

TST: fixed cython doctests (#43768)
  ci/code_checks.sh
  environment.yml
  pandas/_libs/hashtable.pyx
  pandas/_libs/lib.pyx
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/timezones.pyx
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

BUG: groupby mean fails for complex (#43756)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
  pandas/tests/groupby/aggregate/test_aggregate.py
Due: flake8-rst, use-pd_array-in-core

CI/TYP: set python_version for mypy (#43812)
  pyproject.toml
Due: none

Fix compilation issue
  pandas/_libs/window/aggregations.pyx
Due: none

PERF: tolist
  pandas/core/indexes/datetimelike.py
Due: use-pd_array-in-core

Replace long What's New entry with one liner
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

remove CI parts
  .github/workflows/ci.yml
  doc/source/development/contributing_codebase.rst
Due: flake8-rst, title-capitalization

precommit fixup
  pandas/_libs/algos.pyx
  pandas/_libs/groupby.pyx
  pandas/_libs/join.pyx
  pandas/_libs/reshape.pyx
Due: none

Update sdist.yml
  .github/workflows/sdist.yml
Due: none

REF: unnecessary method sharing with PeriodIndex
  pandas/core/arrays/datetimelike.py
  pandas/core/indexes/datetimelike.py
  pandas/core/resample.py
  pandas/tests/indexes/test_numpy_compat.py
Due: use-pd_array-in-core

PERF: tolist (#43823)
  pandas/core/indexes/datetimelike.py
Due: use-pd_array-in-core

CLN: Add comment on catch_warnings in agg_list_like
  pandas/core/apply.py
Due: use-pd_array-in-core

REF: add indices prop to sparse
  pandas/_libs/sparse.pyi
  pandas/_libs/sparse.pyx
  pandas/core/arrays/sparse/accessor.py
  pandas/core/arrays/sparse/array.py
Due: use-pd_array-in-core

REF: unnecessary method sharing with PeriodIndex (#43825)
  pandas/core/arrays/datetimelike.py
  pandas/core/indexes/datetimelike.py
  pandas/core/resample.py
  pandas/tests/indexes/test_numpy_compat.py
Due: use-pd_array-in-core

Add comments explaining fused types
  pandas/_libs/dtypes.pxd
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: sync-flake8-versions

CLN: Add comment on catch_warnings in agg_list_like (#43826)
  pandas/core/apply.py
Due: use-pd_array-in-core

update fix ignored sort in api.py and add test
  pandas/core/indexes/api.py
  pandas/tests/arrays/integer/test_concat.py
Due: use-pd_array-in-core

update test_concat.py, remove debug statement and improve formatting
  pandas/tests/arrays/integer/test_concat.py
Due: none

TYP: Fix typing of frame.explode
  pandas/core/frame.py
Due: use-pd_array-in-core

function
  pandas/io/formats/excel.py
Due: none

CLN: unify some fused types (#43824)
  pandas/_libs/algos.pxd
  pandas/_libs/algos.pyx
  pandas/_libs/dtypes.pxd
  pandas/_libs/groupby.pyx
  pandas/_libs/join.pyx
  pandas/_libs/reshape.pyx
  pandas/_libs/util.pxd
  pandas/_libs/window/aggregations.pyx
Due: none

Merge master i think
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_groupby.py
Due: use-pd_array-in-core

merge mater i think
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_groupby.py
Due: use-pd_array-in-core
