Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, pip-to-conda, sync-flake8-versions, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

frame-or-series-union:
  name: Check for use of Union[Series, DataFrame] instead of FrameOrSeriesUnion alias
  entry: Union\[.*(Series,.*DataFrame|DataFrame,.*Series).*\]
  language: pygrep

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

no-os-remove:
  name: Check code for instances of os.remove
  entry: os\.remove
  language: pygrep

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-bare-pytest-raises:
  name: Check for use of bare pytest raises
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="bare_pytest_raises"

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

Added suggested indenting
  web/pandas/_templates/layout.html
Due: none

Described with comment what the script does
  web/pandas/_templates/layout.html
Due: none

fixup doc fail
  pandas/plotting/_matplotlib/core.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

code change on Macro reviews
  pandas/plotting/_matplotlib/core.py
  pandas/tests/plotting/frame/test_hist_box_by.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

Add more tests
  pandas/tests/plotting/frame/test_hist_box_by.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

fixup
  pandas/plotting/_matplotlib/core.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

BENCH: update imports to allow testing against 1.2.5
  asv_bench/benchmarks/algos/isin.py
Due: frame-or-series-union, inconsistent-namespace-usage

fix doc
  doc/source/development/contributing_environment.rst
  doc/source/getting_started/install.rst
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst, title-capitalization

Update doc/source/development/contributing_environment.rst
  doc/source/development/contributing_environment.rst
Due: flake8-rst, title-capitalization

PERF/REGR: restore IntervalIndex._intersection_non_unique
  pandas/core/indexes/interval.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

copy/paste docstring fixup
  pandas/core/indexes/interval.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

change date
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst

BUG: Series.loc with MultiIndex whose first level is all-NaN
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexing/test_loc.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

PERF/REGR: restore IntervalIndex._intersection_non_unique (#42334)
  pandas/core/indexes/interval.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Backport PR #42334: PERF/REGR: restore IntervalIndex._intersection_non_unique
  pandas/core/indexes/interval.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

DOC: v1.3.0 release date (#42313)
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst

Backport PR #42313: DOC: v1.3.0 release date
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst

Backport PR #42334: PERF/REGR: restore IntervalIndex._intersection_non_unique (#42336)
  pandas/core/indexes/interval.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Backport PR #42313: DOC: v1.3.0 release date (#42337)
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst

PERF/REGR: revert #41785
  pandas/_libs/lib.pyi
  pandas/_libs/lib.pyx
  pandas/core/dtypes/cast.py
  pandas/core/internals/construction.py
  pandas/tests/dtypes/cast/test_dict_compat.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

PERF: tighten _should_compare for MultiIndex (#42231)
  pandas/core/indexes/base.py
  pandas/tests/indexes/multi/test_indexing.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

BUG: don't silently ignore kwargs in get_indexer_for (#42310)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

REF: remove drop_level kwarg from MultiIndex._get_loc_level (#42315)
  pandas/core/generic.py
  pandas/core/indexes/multi.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

REF: move casting from Index._get_indexer to Index.get_indexer (#42308)
  pandas/core/indexes/base.py
  pandas/core/indexes/range.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

REF: implement Index._should_partial_index (#42227)
  pandas/core/indexes/base.py
  pandas/core/indexes/interval.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

REF: simplify __can_partial_date_slice, _parsed_string_to_bounds (#42258)
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

DEPR: Index.get_loc with method (#42269)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/datetimes/test_indexing.py
  pandas/tests/indexes/numeric/test_indexing.py
  pandas/tests/indexes/object/test_indexing.py
  pandas/tests/indexes/period/test_indexing.py
  pandas/tests/indexes/timedeltas/test_indexing.py
  pandas/tests/test_downstream.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

BUG: Series.loc[dtstr] type depends on monotonicity (#42265)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/datetimes.py
  pandas/tests/indexes/datetimes/test_partial_slicing.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

move whatsnew to 1.4.0
  doc/source/whatsnew/v1.3.0.rst
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

CLN: simplify take tempita output (#42263)
  pandas/_libs/algos_take_helper.pxi.in
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  frame-or-series-union: any of: \.py$ and not (^pandas/_typing\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  inconsistent-namespace-usage: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/excel/test_writers\.py
|pandas/tests/io/pytables/common\.py
|pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
