Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, pip-to-conda, sync-flake8-versions, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  frame-or-series-union: any of: \.py$ and not (^pandas/_typing\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  inconsistent-namespace-usage: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/excel/test_writers\.py
|pandas/tests/io/pytables/common\.py
|pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

Update ci.yml (#42556)
  .github/workflows/ci.yml
Due: none

Backport PR #42556: CI: Run all GHA checks on backport branch
  .github/workflows/ci.yml
Due: none

Backport PR #42556: CI: Run all GHA checks on backport branch (#42561)
  .github/workflows/ci.yml
Due: none

CI: Remove xfail for xpassing test for Python 3.8 (#42558)
  pandas/tests/scalar/timedelta/test_arithmetic.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

Backport PR #42558: CI: Remove xfail for xpassing test
  pandas/tests/scalar/timedelta/test_arithmetic.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

Modified ecosystem.rst to include ibis (#42554)
  doc/source/ecosystem.rst
Due: flake8-rst

Backport PR #42554: Modified ecosystem.rst to include ibis
  doc/source/ecosystem.rst
Due: flake8-rst

Backport PR #42554: Modified ecosystem.rst to include ibis (#42564)
  doc/source/ecosystem.rst
Due: flake8-rst

Backport PR #42558: CI: Remove xfail for xpassing test (#42563)
  pandas/tests/scalar/timedelta/test_arithmetic.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

BUG: Groupby.min/max with Int64
  pandas/_libs/groupby.pyx
  pandas/core/arrays/masked.py
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_min_max.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

flesh out test cases
  pandas/tests/groupby/test_min_max.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

Test to see if uploading triggers
  .github/workflows/ci.yml
Due: none

DEPR: Index.reindex with duplicate index
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/tests/frame/indexing/test_getitem.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/frame/methods/test_reindex.py
  pandas/tests/indexes/categorical/test_reindex.py
  pandas/tests/indexes/multi/test_reindex.py
  pandas/tests/resample/test_datetime_index.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

GH refs
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

BUG: partial-indexing on MultiIndex with IntervalIndex level
  pandas/core/indexes/base.py
  pandas/tests/indexing/interval/test_interval.py
  pandas/tests/indexing/test_floats.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/test_multilevel.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Run on master only now
  .github/workflows/ci.yml
Due: none

commenting import modules purpose
  pandas/core/apply.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Correct singular "die"/plural "dice"
  pandas/plotting/_core.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

const, rename test
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/tests/groupby/test_min_max.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

Revert "PERF: tighten _should_compare for MultiIndex (#42231)"
  pandas/core/indexes/base.py
  pandas/tests/indexes/multi/test_indexing.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

BUG: concat bool+int with ArrayManager
  pandas/core/internals/concat.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

BUG: Series(dask.array) GH#38645
  pandas/core/construction.py
Due: frame-or-series-union, inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

CI: Fixed a typo in Web and Docs (#42571)
  .github/workflows/ci.yml
Due: none

Backport PR #42571: CI: Fixed a typo in Web and Docs
  .github/workflows/ci.yml
Due: none

BUG: DataFrame.copy not consolidating
  pandas/core/internals/managers.py
  pandas/tests/frame/methods/test_copy.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core

Backport PR #42571: CI: Fixed a typo in Web and Docs (#42578)
  .github/workflows/ci.yml
Due: none

fix error msg in test
  pandas/tests/io/test_sql.py
Due: frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises

resolve conflict
  azure-pipelines.yml
  ci/azure/macos.yml
  ci/azure/windows.yml
Due: none

resolve conflict
  ci/azure/windows.yml
Due: none

CI: clean Azure Windows
  ci/azure/windows.yml
Due: none

switch back to powershell
  ci/azure/windows.yml
Due: none

fix test task
  ci/azure/windows.yml
Due: none

debug
  ci/azure/windows.yml
Due: none

CI: auto-cancel Azure builds on PR
  azure-pipelines.yml
Due: none

test
  azure-pipelines.yml
Due: none

BUG: passing str to GroupBy.apply (#42021)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_groupby.py
Due: flake8-rst, frame-or-series-union, inconsistent-namespace-usage, no-os-remove, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core
