Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

BUG: Preserve precision for integer-like strings in to_numeric when mixed with floats (GH#64184)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/src/parser/tokenizer.c
  pandas/tests/tools/test_to_numeric.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

TST/DOC: add tests and edit docs for pandas.array (#64138)
  pandas/core/construction.py
  pandas/tests/arrays/test_array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUILD: generate_version.py line ending breaks build (WSL)
  meson.build
Due: none

DOC: Add redirects for removed internal API paths (GH#64028)
  doc/redirects.csv
Due: none

BUG: Suppress unnecessary RuntimeWarning in to_datetime with missing components
  pandas/core/arrays/timedeltas.py
  pandas/tests/tools/test_to_datetime.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: Suppress unnecessary RuntimeWarning in to_datetime with missing components
  pandas/core/arrays/timedeltas.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: clarify offline search redirect
  doc/redirects.csv
Due: none

TST: add test for loc setitem preserving tz-aware datetime dtype
  pandas/tests/indexing/test_loc.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: add regression test for ExtensionArray assignment into object-dtype Series (GH#42437)
  pandas/tests/series/indexing/test_setitem.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

fix: posixpath division
  pandas/core/arrays/arrow/array.py
  pandas/tests/arithmetic/test_string.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

pass explicitly exact=True in assert_equal
  pandas/_testing/asserters.py
  pandas/tests/arithmetic/test_datetime64.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

fix tests in pandas/tests/arithmetic/test_timedelta64.py
  pandas/tests/arithmetic/test_timedelta64.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

fix tests in pandas/tests/arithmetic/test_numeric.py
  pandas/tests/arithmetic/test_numeric.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

fix tests in pandas/tests/arithmetic/test_period.py
  pandas/tests/arithmetic/test_period.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

fix tests in pandas/tests/arithmetic/test_object.py
  pandas/tests/arithmetic/test_object.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Sanitize_array update to align with deliverable 3
  pandas/core/construction.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

CI: Simplify wheels workflow
  .gitattributes
  .github/workflows/wheels.yml
  MANIFEST.in
  ci/deps/actions-311-minimum_versions.yaml
  pandas/tests/extension/test_sparse.py
  pandas/tests/series/test_ufunc.py
  pixi.lock
  pyproject.toml
  scripts/cibw_before_build.sh
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, pg8000-not-installed-CI, validate-min-versions-in-sync, check-test-naming

Remove pixi lock
  pixi.lock
Due: none

Change license field in pyproject.toml
  pyproject.toml
Due: none

Remove classifier
  pyproject.toml
Due: none

Change back to fetch depth 0
  .github/workflows/wheels.yml
Due: none

add back savinng sdist_name
  .github/workflows/wheels.yml
Due: none

Use = in pytest args
  pyproject.toml
Due: none

Change fetch depth to 1, single quotes on windows
  .github/workflows/wheels.yml
  pyproject.toml
Due: none

don't parallelize on pyodide
  pyproject.toml
Due: none

PERF: address review feedback on Block.setitem num_set path
  asv_bench/benchmarks/indexing.py
  pandas/core/internals/blocks.py
  pandas/tests/internals/test_internals.py
Due: inconsistent-namespace-usage, seed-check-asv, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Add unstack and sort test
  pandas/core/reshape/reshape.py
  pandas/tests/frame/test_stack_unstack.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

include TimedeltaIndex case (GH#64273)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/indexes/api.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, sort-whatsnew-items

PERF: add function is_pdna
  pandas/_libs/missing.pyx
  pandas/core/ops/array_ops.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Code Check error (GH#64273)
  pandas/core/indexes/api.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Fix dt64[non_nano] + offset rounding
  pandas/core/arrays/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

TYP: add function is_pdna to stub file
  pandas/_libs/missing.pyi
Due: none

feat: add Series.str.splitlines and Series.str.expandtabs
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_.py
  pandas/core/strings/accessor.py
  pandas/core/strings/object_array.py
  pandas/tests/strings/conftest.py
  pandas/tests/strings/test_splitlines_expandtabs.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

TST: Add regression test for GH#55423 tz-aware datetime expansion
  pandas/tests/indexing/test_loc.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

DOC: Fix ES01 for pandas.DataFrame (#64268)
  ci/code_checks.sh
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Support for Expressions with dunders (#64270)
  doc/source/whatsnew/v3.0.2.rst
  pandas/core/col.py
  pandas/tests/test_col.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Backport PR #64270: BUG: Support for Expressions with dunders
  doc/source/whatsnew/v3.0.2.rst
  pandas/core/col.py
  pandas/tests/test_col.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items
