Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)

clean up code
  pandas/tests/groupby/aggregate/test_aggregate.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

BUG: to_datetime re-parsing Arrow-backed objects
  pandas/core/tools/datetimes.py
  pandas/tests/tools/test_to_datetime.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

simplify
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fix groupby test failures
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Updating error messages in unit tests to ensure that tests are failing on the expected class
  pandas/tests/io/excel/test_writers.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

Changed contribution recommendation for naming series
  doc/source/development/contributing_docstring.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

ENH: Enable using a boolean loc in a non-boolean index
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/indexing.py
  pandas/tests/indexing/test_loc.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

reformat
  pandas/core/indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: Fixing EX01 - Added examples (#53292)
  ci/code_checks.sh
  pandas/_libs/interval.pyx
  pandas/core/arrays/interval.py
Due: inconsistent-namespace-usage, cython-casting, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Change deprecation to bugfix
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/tests/frame/indexing/test_where.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

fix test failures
  pandas/core/indexing.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/indexing/test_loc.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Some examples for Index
  ci/code_checks.sh
  pandas/core/base.py
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fix DataFrame.[idxmax|idxmin]
  pandas/tests/frame/test_reductions.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

BUG: allow DataFrame[mask]=value with mixed non-numeric dtypes (#53291)
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/tests/frame/indexing/test_where.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

BUG: read_csv raising for arrow engine and parse_dates (#53295)
  doc/source/whatsnew/v2.0.2.rst
  pandas/io/parsers/base_parser.py
  pandas/tests/io/parser/test_parse_dates.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

REF: Move sas pyx files to _libs (#53297)
  pandas/_libs/byteswap.pyi
  pandas/_libs/byteswap.pyx
  pandas/_libs/meson.build
  pandas/_libs/sas.pyi
  pandas/_libs/sas.pyx
  pandas/io/meson.build
  pandas/io/sas/meson.build
  pandas/io/sas/sas7bdat.py
  pandas/meson.build
  pandas/tests/io/sas/test_byteswap.py
  setup.py
Due: inconsistent-namespace-usage, no-os-remove, cython-casting, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DEPS: Test numba on 3.11
  ci/deps/actions-311.yaml
Due: pg8000-not-installed-CI

CI: Debug ARM Segfault
  ci/run_tests.sh
Due: none

remove sort for now
  pandas/core/reshape/reshape.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fix factorize
  pandas/core/arrays/string_.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CLN: Make minor doc fixes to `pandas.DataFrame.drop`
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

BUG: read_sql reading duplicate tz aware columns
  doc/source/whatsnew/v2.1.0.rst
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Pin numba below 0.57
  ci/deps/circle-39-arm64.yaml
Due: pg8000-not-installed-CI

Fix param
  pandas/core/frame.py
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Remove old versionadded from map
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Change naming scheme of series from s to ser
  doc/source/development/contributing_docstring.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

Remove -v and comment
  ci/deps/circle-39-arm64.yaml
  ci/run_tests.sh
Due: pg8000-not-installed-CI

Use isetitem
  pandas/io/sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations
