Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$

change awareness to be UTC
  pandas/tests/tools/test_to_datetime.py
Due: np-testing-array-equal

BLD: use nonvendor versioneer (#49924)
  .github/workflows/32-bit-linux.yml
  .github/workflows/package-checks.yml
  .github/workflows/python-dev.yml
  .github/workflows/sdist.yml
  ci/deps/actions-310-numpydev.yaml
  ci/deps/actions-310.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38-minimum_versions.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/actions-pypy-38.yaml
  ci/deps/circle-38-arm64.yaml
  environment.yml
  pandas/_version.py
  pyproject.toml
  requirements-dev.txt
  setup.cfg
  setup.py
  versioneer.py
Due: pip-to-conda, sync-flake8-versions, use-io-common-urlopen, pg8000-not-installed-CI, validate-min-versions-in-sync

Revert "use fromisoformat"
  pandas/tests/tools/test_to_datetime.py
Due: np-testing-array-equal

DOC: update running the test suite documentation (#49914)
  doc/source/development/contributing_codebase.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

change xpath expression - perf improvement
  pandas/io/html.py
Due: use-io-common-urlopen

gh ref
  pandas/io/html.py
Due: use-io-common-urlopen

make black local hook
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

update comment
  pandas/core/frame.py
Due: use-pd_array-in-core, use-io-common-urlopen

add benchmark
  asv_bench/benchmarks/indexing.py
Due: seed-check-asv

Fix some little-endian assumptions in the tests (#49913)
  pandas/tests/arrays/floating/test_arithmetic.py
  pandas/tests/frame/methods/test_to_records.py
  pandas/tests/scalar/timedelta/test_arithmetic.py
Due: np-testing-array-equal

Bad merge
  setup.cfg
Due: none

resolved threads
  pandas/core/apply.py
  pandas/core/frame.py
  pandas/core/shared_docs.py
Due: use-pd_array-in-core, use-io-common-urlopen

DEPR: enforce not-automatically aligning in DataFrame comparisons
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/ops/__init__.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/generic/test_finalize.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

DEPR: Change numeric_only to False in various groupby ops (#49892)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

BUG/TST: Include sem & count in all_numeric_reductions (#49759)
  doc/source/whatsnew/v2.0.0.rst
  pandas/conftest.py
  pandas/core/arrays/arrow/array.py
  pandas/tests/arrays/boolean/test_reduction.py
  pandas/tests/extension/base/reduce.py
  pandas/tests/extension/decimal/test_decimal.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_boolean.py
  pandas/tests/extension/test_floating.py
  pandas/tests/extension/test_integer.py
  pandas/tests/frame/conftest.py
  pandas/tests/frame/test_reductions.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, invalid-ea-testing, use-pd_array-in-core, use-io-common-urlopen

REF: simplify DTI/PI.get_loc (#49941)
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
  pandas/tests/indexes/period/test_indexing.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

remove min_version
  pandas/tests/series/methods/test_tolist.py
Due: np-testing-array-equal

formatting
  pandas/tests/series/methods/test_tolist.py
Due: np-testing-array-equal

Add versionner
  asv_bench/asv.conf.json
Due: none

ASV: Fix asv after versioneer change
  asv_bench/asv.conf.json
Due: none

Remove dtypes
  asv_bench/benchmarks/join_merge.py
Due: seed-check-asv

Remove versioneer
  asv_bench/asv.conf.json
Due: none

Add test
  pandas/tests/frame/methods/test_combine_first.py
Due: np-testing-array-equal

fix GH ref
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

DEPR: Change numeric_only default to False in remaining groupby methods
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/internals/array_manager.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/aggregate/test_cython.py
  pandas/tests/groupby/aggregate/test_other.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_quantile.py
  pandas/tests/groupby/transform/test_transform.py
  pandas/tests/resample/test_resample_api.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

REF: move methods to TimelikeOps
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/core/indexes/datetimelike.py
Due: use-pd_array-in-core, use-io-common-urlopen

STYLE pre-commit autoupdate (#49943)
  .pre-commit-config.yaml
  environment.yml
  pandas/_libs/parsers.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/frame/indexing/test_getitem.py
  pandas/tests/io/json/test_readlines.py
  pandas/tests/io/pytables/test_round_trip.py
  requirements-dev.txt
Due: cython-casting, np-testing-array-equal, pip-to-conda, sync-flake8-versions

More cleanup of ignore_failures
  pandas/core/internals/array_manager.py
  pandas/core/internals/base.py
  pandas/core/internals/managers.py
Due: use-pd_array-in-core, use-io-common-urlopen

Restore cache decorator
  pandas/core/groupby/grouper.py
Due: use-pd_array-in-core, use-io-common-urlopen

Add bincount comment
  pandas/core/algorithms.py
Due: use-pd_array-in-core, use-io-common-urlopen

Update wheels.yml
  .github/workflows/wheels.yml
Due: none

Fix Excel-specific border styles (#48660)
  doc/source/user_guide/style.ipynb
  doc/source/whatsnew/v1.5.3.rst
  pandas/io/formats/css.py
  pandas/io/formats/excel.py
  pandas/tests/io/excel/test_style.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-io-common-urlopen
