Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

no-os-remove:
  name: Check code for instances of os.remove
  entry: os\.remove
  language: pygrep

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-bare-pytest-raises:
  name: Check for use of bare pytest raises
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="bare_pytest_raises"

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

Building standalone impl
  pandas/_libs/tslibs/src/datetime/pd_datetime.c
  pandas/_libs/tslibs/src/datetime/pd_datetime.h
  setup.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

more build
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/src/datetime/pd_datetime.c
  pandas/_libs/tslibs/src/datetime/pd_datetime.h
Due: cython-casting

DEPR: silently ignoring unrecognized timezones
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/tools/test_to_datetime.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

linting
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/src/datetime/pd_datetime.c
Due: none

BUG: ArrowDtype.construct_from_string round-trip (#50689)
  pandas/core/arrays/arrow/dtype.py
  pandas/tests/extension/base/dtype.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, invalid-ea-testing, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

REF: stricter typing in Manager.take
  pandas/core/generic.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/tests/internals/test_internals.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

REF: remove NDFrame._take
  pandas/core/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

BUG: Fix date format identification for dict
  pandas/io/parsers/base_parser.py
  pandas/tests/io/parser/test_parse_dates.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Cleanup docs
  pandas/io/parsers/readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

updated whatsnew and docs
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/frame.py
Due: flake8-rst, inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TYP: Use Self instead of class-bound TypeVar in pyi files (remove Y019 ignore)
  environment.yml
  pandas/_libs/sparse.pyi
  pandas/_libs/tslibs/offsets.pyi
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timestamps.pyi
  pandas/_typing.py
  requirements-dev.txt
  setup.cfg
Due: inconsistent-namespace-usage, pip-to-conda, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

remove special-casing
  pandas/core/arrays/arrow/array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Cleanup docs
  pandas/io/excel/_base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DEP: Enforce deprecation of squeeze in read_excel
  pandas/io/excel/_base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Add whatsnew
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

REF: share, test
  pandas/core/generic.py
  pandas/core/series.py
  pandas/tests/series/indexing/test_take.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

more updates
  pandas/_libs/missing.pyx
  pandas/_libs/src/ujson/python/date_conversions.c
  pandas/_libs/src/ujson/python/ujson.c
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/src/datetime/np_datetime.c
  pandas/_libs/tslibs/src/datetime/np_datetime.h
  pandas/_libs/tslibs/src/datetime/pd_datetime.h
Due: cython-casting

DOC: fix EX02 errors in docstrings
  ci/code_checks.sh
  pandas/core/dtypes/common.py
  pandas/io/json/_table_schema.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Fix doctest
  pandas/core/groupby/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

REF: de-duplicate precision_from_unit
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pyx
Due: cython-casting

Try these changes
  pandas/tests/scalar/timestamp/test_timestamp.py
  pyproject.toml
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

BUG: Fix date format identification for dict (#51479)
  pandas/io/excel/_base.py
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/test_parse_dates.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Remove unneeded filter
  pandas/tests/io/parser/test_parse_dates.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

BUG: Fix error message for unknown methodtype
  pandas/errors/__init__.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, pandas-errors-documented

Try the whole file?
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

use BlockManager.where
  pandas/core/generic.py
  pandas/tests/copy_view/test_clip.py
  pandas/tests/frame/methods/test_clip.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

update asv
  asv_bench/benchmarks/frame_methods.py
Due: inconsistent-namespace-usage, seed-check-asv

Just skip under condidition
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

Fix import error in warnings unit test sample code
  pandas/tests/arrays/categorical/test_warnings.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

Remove if
  pandas/io/excel/_base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TST: don't fail on systems with tzdata backzone enabled
  pandas/tests/tseries/offsets/test_dst.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

shorten msg
  pandas/util/_validators.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DEP: Enforce deprecation of squeeze in read_excel (#51481)
  doc/source/whatsnew/v2.0.0.rst
  pandas/io/excel/_base.py
Due: flake8-rst, inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: Add comment about inplace/copy proposal
  doc/source/getting_started/comparison/includes/copies.rst
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

Added a docstring explaining why the ASV bench with custom date format was improved: the date_format parameter is not taken into account today.
  asv_bench/benchmarks/io/csv.py
Due: inconsistent-namespace-usage, seed-check-asv

Capsule location change
  pandas/_libs/src/ujson/python/ujson.c
  pandas/_libs/tslibs/src/datetime/pd_datetime.h
  setup.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

Remove unused i
  pandas/io/sas/sas.pyx
Due: cython-casting

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
