Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

STY: Use mypy.stubtest directly in pre-commit
  .pre-commit-config.yaml
  scripts/run_stubtest.py
  scripts/stubtest_allowlist.txt
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

BUG: Timestamp.replace silently producing a value equal to the NaT sentinel (GH#66510)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/timestamps.pyx
Due: incorrect-backticks, sort-whatsnew-items

TST: regression tests for Timestamp.replace producing iNaT (GH#66510)
  pandas/tests/scalar/timestamp/methods/test_replace.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: construct the string dtypes the way conftest does
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

fix: avoid crash when `self_destruct=True` is passed
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/parquet.py
  pandas/tests/io/test_parquet.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TST: min/max on object-dtype data with missing values (GH-18588) (#66507)
  doc/source/whatsnew/v3.1.0.rst
  pandas/tests/frame/test_reductions.py
  pandas/tests/reductions/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

BUG: read_pickle dropping Timestamp tz for pandas<=1.2 pickles (GH#61792) (#66506)
  doc/source/whatsnew/v3.1.0.rst
  pandas/compat/pickle_compat.py
  pandas/tests/io/test_pickle.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: reject datetimes landing on the NaT sentinel (GH#66510)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/parsers.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/strptime.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/scalar/timestamp/methods/test_replace.py
  pandas/tests/scalar/timestamp/test_constructors.py
  pandas/tests/tools/test_to_datetime.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

BUG: ewm(adjust=False) wrong result with com=1 and NaN (GH#31178)
  doc/source/user_guide/window.rst
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/window/aggregations.pyx
  pandas/core/window/ewm.py
  pandas/core/window/numba_.py
  pandas/tests/window/test_ewm.py
  pandas/tests/window/test_numba.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: position-dependent int inference in maybe_convert_objects
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/lib.pyx
  pandas/tests/dtypes/test_inference.py
  pandas/tests/series/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

PERF: take the read_csv token boundary from words, not word_starts
  pandas/_libs/parsers.pyx
  pandas/tests/io/parser/test_c_parser_only.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

CLN: correct issue refs and comments on the read_csv token-length helper
  pandas/_libs/parsers.pyx
  pandas/tests/io/parser/test_c_parser_only.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

PERF: keep strlen on the read_csv string-length dependency chain for short tokens
  pandas/_libs/parsers.pyx
Due: none

TST: drop inline imports and helper functions from the new setop tests
  pandas/tests/indexes/test_setops.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

DOC: Improve pull request guideline wording
  AGENTS.md
Due: none

BUG: DataFrame.loc/iloc setitem with boolean column indexer raising NotImplementedError for single EA column (GH#66527)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/indexing.py
  pandas/core/internals/blocks.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, sort-whatsnew-items

TST: regression tests for loc/iloc setitem with boolean column indexer on single EA column (GH#66527)
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_loc.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Address reviewer feedback on _name propagation
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/generic.py
  pandas/tests/series/test_subclass.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: IntervalArray/IntervalIndex only validated left endpoint dtype
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/interval.py
  pandas/tests/indexes/interval/test_interval.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: Timestamp landing on the NaT sentinel silently gave NaT (GH#66510)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/methods/test_replace.py
  pandas/tests/scalar/timestamp/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

BUG: pivot with array-like index/columns labels (GH#35785)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/core/reshape/pivot.py
  pandas/tests/reshape/test_pivot.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

add an annotation to dtype
  pandas/core/arrays/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

GH#50127
  pandas/core/indexes/base.py
  pandas/tests/dtypes/test_dtypes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Use filterwarnings of stdlib to catch warning upon import of BasePlottingTests / collection of tests
  pandas/tests/extension/base/plotting.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: Timestamp constructor silently ignoring arguments (GH#31930)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/timestamps.pyi
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimes.py
  pandas/io/pickle.py
  pandas/tests/io/test_pickle.py
  pandas/tests/scalar/timestamp/test_constructors.py
  pandas/tseries/holiday.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: fix boolean column indexer for single-column EA-backed blocks
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_indexing.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: reject datetimes landing on the NaT sentinel (GH#66510) (#66520)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/parsers.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/strptime.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/scalar/timestamp/methods/test_replace.py
  pandas/tests/scalar/timestamp/test_constructors.py
  pandas/tests/tools/test_to_datetime.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

ENH: Add limit_distance parameter to index interpolation
  pandas/core/generic.py
  pandas/core/internals/blocks.py
  pandas/core/missing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: use theme text color for tutorial data cards
  doc/source/_static/css/getting_started.css
Due: none

TST: cover divmod/rdivmod on NA (GH#66493)
  pandas/conftest.py
  pandas/tests/scalar/test_na_scalar.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: MultiIndex.isin raising TypeError on iterator elements
  pandas/core/indexes/multi.py
  pandas/tests/indexes/multi/test_isin.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Use `pytest.raises` instead of `xfail` for str and categorical
  pandas/tests/extension/test_categorical.py
  pandas/tests/extension/test_string.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

ruff format
  pandas/tests/dtypes/test_dtypes.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: free cLabel and item on the scaleNanosecToUnit error path (GH#66489)
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
Due: none

BUG: online ewm ignoring decay for single-column frames
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/window/ewm.py
  pandas/core/window/online.py
  pandas/tests/window/test_online.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Use `pytest.raises` instead of `xfail`/`skip` for: - ArrowDtypes binary and str - Numpy object dtype - JSONDtype - IntervalDtype
  pandas/tests/extension/json/test_json.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_interval.py
  pandas/tests/extension/test_numpy.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: position-dependent integer inference in maybe_convert_objects (#66519)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/lib.pyx
  pandas/tests/dtypes/test_inference.py
  pandas/tests/series/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

BUG: Timestamp ignored the nanosecond keyword for non-datetime input
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

DOC: fill in issue references
  doc/source/whatsnew/v3.1.0.rst
  pandas/tests/scalar/timestamp/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

DEPR: PeriodIndex.is_full
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/indexes/period.py
  pandas/tests/indexes/period/methods/test_is_full.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items
