Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

unwanted-patterns-doesnt-use-pandas-warnings:
  name: Check that warning classes for deprecations use pandas' warning classes
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="doesnt_use_pandas_warnings"

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

validate-errors-locations:
  name: Validate errors locations
  description: Validate errors are in appropriate locations.
  entry: python scripts/validate_exception_location.py
  language: python

check-test-naming:
  name: check that test names start with 'test'
  entry: python -m scripts.check_test_naming
  language: python

sort-whatsnew-items:
  name: sort whatsnew entries alphabetically
  entry: python -m scripts.sort_whatsnew_note
  language: python

Backport PR #64035: BUG: don't mark pyarrow-string to numpy array as read-only unnecessarily
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/dtypes/astype.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/copy_view/test_array.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

add some missing aliases
  doc/source/reference/aliases.rst
  pandas/api/typing/aliases.py
  pandas/tests/api/test_api.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

add comments
  pandas/tests/io/test_html.py
  pandas/tests/io/xml/test_xml.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Inline last templating
  pandas/io/formats/format.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Backport PR #64035 on branch 3.0.x (BUG: don't mark pyarrow-string to numpy array as read-only unnecessarily) (#64096)
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/dtypes/astype.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/copy_view/test_array.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

CI: Add dedicated Python 3.14 jobs (#64048)
  .github/workflows/unit-tests.yml
  ci/deps/actions-314.yaml
  pandas/tests/computation/test_eval.py
  pandas/tests/io/test_html.py
  pandas/tests/io/xml/test_xml.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, pg8000-not-installed-CI, check-test-naming

Fixed is_re_compile failure
  pandas/core/dtypes/inference.py
  pandas/tests/dtypes/test_inference.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Backport PR #64048: CI: Add dedicated Python 3.14 jobs
  .github/workflows/unit-tests.yml
  ci/deps/actions-314.yaml
  pandas/tests/computation/test_eval.py
  pandas/tests/io/test_html.py
  pandas/tests/io/xml/test_xml.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, pg8000-not-installed-CI, check-test-naming

Backport PR #64048 on branch 3.0.x (CI: Add dedicated Python 3.14 jobs) (#64100)
  .github/workflows/unit-tests.yml
  ci/deps/actions-314.yaml
  pandas/tests/computation/test_eval.py
  pandas/tests/io/test_html.py
  pandas/tests/io/xml/test_xml.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, pg8000-not-installed-CI, check-test-naming

Remove another validate_pep8
  scripts/tests/test_validate_docstrings.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

Apply suggestion from @rhshadrach
  pandas/io/stata.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

CI: Use pytest-cython 0.4.0rc1 with editable install for doctests (#63870)
  .github/workflows/code-checks.yml
  environment.yml
  pandas/_libs/lib.pyx
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/conftest.py
  requirements-dev.txt
Due: inconsistent-namespace-usage, pip-to-conda, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: Fix spelling mistakes and incomplete sentences in Timestamp docstrings (#63955)
  pandas/_libs/tslibs/parsing.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimes.py
  pandas/core/indexes/datetimes.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tslibs/test_parsing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

DOC: Cleanup leftover docstring templating, remove flake8 validation of docstrings (#64097)
  doc/source/development/contributing_docstring.rst
  environment.yml
  pandas/core/accessor.py
  pandas/core/arrays/base.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/sparse/array.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/period.py
  pandas/core/ops/__init__.py
  pandas/core/ops/docstrings.py
  pandas/core/resample.py
  pandas/core/series.py
  pandas/core/shared_docs.py
  pandas/io/formats/format.py
  pandas/io/formats/info.py
  pandas/io/stata.py
  pandas/tests/util/test_doc.py
  pandas/util/_decorators.py
  requirements-dev.txt
  scripts/tests/test_validate_docstrings.py
  scripts/validate_docstrings.py
  scripts/validate_unwanted_patterns.py
Due: inconsistent-namespace-usage, incorrect-backticks, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

fix: prevent segfault when num_values is larger than index_array size
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/indexers/objects.py
  pandas/tests/window/test_pairwise.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ENH: Nearest_in_time fill for time series data #64074
  doc/source/whatsnew/v3.1.0.rst
  pandas/_typing.py
  pandas/core/arrays/base.py
  pandas/core/generic.py
  pandas/core/missing.py
  pandas/tests/series/methods/test_interpolate.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: fix regression in DataFrame construction from list of dicts with missing value as key
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/internals/construction.py
  pandas/tests/frame/constructors/test_from_records.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Add whatsnew entry and PR reference in test
  doc/source/whatsnew/v3.1.0.rst
  pandas/tests/io/excel/test_readers.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

DOC: fix Index.to_frame name parameter description
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

fixup test for no infer_string
  doc/source/whatsnew/v3.0.1.rst
  pandas/tests/frame/constructors/test_from_records.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

also fix dict of dict case
  pandas/core/internals/construction.py
  pandas/tests/frame/test_constructors.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

add whatsnew for 3.0.1
  doc/source/whatsnew/v3.0.1.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC/BLD: use correct version number for linkcode in case of re-build of docs
  doc/source/conf.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

fixup test for no infer_string
  pandas/tests/frame/constructors/test_from_records.py
  pandas/tests/frame/test_constructors.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Fix tests in pandas/tests/arithmetic/test_datetime64.py with tm.assert_index_equal
  pandas/tests/arithmetic/test_datetime64.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: fix regression in DataFrame construction from list of dicts with missing value as key (#64104)
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/internals/construction.py
  pandas/tests/frame/constructors/test_from_records.py
  pandas/tests/frame/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Backport PR #64104: BUG: fix regression in DataFrame construction from list of dicts with missing value as key
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/internals/construction.py
  pandas/tests/frame/constructors/test_from_records.py
  pandas/tests/frame/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

add some missing aliases for typing (#64098)
  doc/source/reference/aliases.rst
  doc/source/whatsnew/v3.0.1.rst
  pandas/api/typing/aliases.py
  pandas/tests/api/test_api.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: prevent segfault with mismatching lengths in variable rolling window correlation and covariance (#64101)
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/indexers/objects.py
  pandas/tests/window/test_pairwise.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Backport PR #64101: BUG: prevent segfault with mismatching lengths in variable rolling window correlation and covariance
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/indexers/objects.py
  pandas/tests/window/test_pairwise.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Backport PR #64098: add some missing aliases for typing
  doc/source/reference/aliases.rst
  doc/source/whatsnew/v3.0.1.rst
  pandas/api/typing/aliases.py
  pandas/tests/api/test_api.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Update versionadded
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Backport PR #64104 on branch 3.0.x (BUG: fix regression in DataFrame construction from list of dicts with missing value as key) (#64108)
  doc/source/whatsnew/v3.0.1.rst
  pandas/core/internals/construction.py
  pandas/tests/frame/constructors/test_from_records.py
  pandas/tests/frame/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
