Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python scripts/validate_min_versions_in_sync.py
  language: python

REGR: memory_usage showing unnecessary FutureWarning
  doc/source/whatsnew/v1.5.3.rst
  pandas/core/frame.py
  pandas/tests/io/formats/test_info.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

DOC: recommend git grep instead of grep
  doc/source/development/contributing_codebase.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

BUG: Series[object].astype(td64_unsupported)
  pandas/core/dtypes/astype.py
  pandas/tests/frame/methods/test_astype.py
  pandas/tests/reshape/merge/test_merge.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

wip
  pandas/_libs/tslib.pyx
  pandas/tests/tools/test_to_datetime.py
Due: cython-casting, np-testing-array-equal

Fix test
  pandas/tests/io/formats/test_info.py
Due: np-testing-array-equal

DOC: fix RT02 errors in pd.io.formats.style #49968 (#49983)
  pandas/io/formats/style.py
Due: use-io-common-urlopen

add functions and docs for to_sql if exists
  pandas/io/sql.py
Due: use-io-common-urlopen

VIS: Add xlabel/ylabel to `plot.hist()` (#49794)
  doc/source/whatsnew/v2.0.0.rst
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/hist.py
  pandas/tests/plotting/test_series.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-io-common-urlopen

add test for to_sql truncate
  pandas/tests/io/test_sql.py
Due: np-testing-array-equal

Bug: Incorrect IntervalIndex.is_overlapping (#49933)
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/intervaltree.pxi.in
  pandas/tests/indexes/interval/test_interval.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal

DEPR: remove some more Int/UInt/Float64Index from tests
  pandas/tests/arithmetic/test_timedelta64.py
  pandas/tests/dtypes/test_inference.py
  pandas/tests/dtypes/test_missing.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/groupby/test_min_max.py
  pandas/tests/groupby/test_pipe.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_index_new.py
  pandas/tests/indexes/test_indexing.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/indexing/test_floats.py
  pandas/tests/io/pytables/test_put.py
  pandas/tests/series/test_ufunc.py
  pandas/tests/test_downstream.py
Due: np-testing-array-equal

Update code paths
  pandas/core/dtypes/cast.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/io/orc.py
  pandas/io/parquet.py
  pandas/io/parsers/readers.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

fix failed tests
  pandas/tests/groupby/test_grouping.py
  pandas/tests/io/pytables/test_put.py
Due: np-testing-array-equal

fix failed code check
  pandas/tests/io/pytables/test_put.py
Due: np-testing-array-equal

mamba cleanups and documentation
  Dockerfile
  ci/dockerfiles/Dockerfile.mamba-all
  ci/dockerfiles/Dockerfile.mamba-minimal
  doc/source/development/contributing_environment.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

Fix refactor in period
  pandas/core/indexes/period.py
  pandas/tests/indexes/period/test_indexing.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Lighter parameterization
  pandas/tests/indexes/period/test_indexing.py
Due: np-testing-array-equal

BUG: Series[object].astype(td64_unsupported) (#50070)
  pandas/core/dtypes/astype.py
  pandas/tests/frame/methods/test_astype.py
  pandas/tests/reshape/merge/test_merge.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

DEPR: enforce concat with bool dtype return object
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/dtypes/concat.py
  pandas/tests/reshape/concat/test_empty.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

ExtensionBlock.fillna to dispatch
  asv_bench/benchmarks/series_methods.py
  pandas/core/internals/blocks.py
Due: seed-check-asv, use-pd_array-in-core, use-io-common-urlopen

raise NotImplementedError for MultiIndex
  pandas/core/indexes/base.py
  pandas/tests/indexes/multi/test_analytics.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

whatsnew
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

Update start/end parameter documentation for BusinessHour and CustomBusinessHour to mention allowed input types of time and list of str/time
  pandas/_libs/tslibs/offsets.pyx
Due: cython-casting

docs: fixing PR check failure
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core, use-io-common-urlopen

special case interval dtype
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core, use-io-common-urlopen

docs: resolving PR comments
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core, use-io-common-urlopen

test: Add test for groupby aggregatation with nested dictionary
  pandas/tests/groupby/aggregate/test_aggregate.py
Due: np-testing-array-equal

xfail xarray test
  pandas/tests/test_downstream.py
Due: np-testing-array-equal

more minimalism
  ci/dockerfiles/Dockerfile.alpine
  ci/dockerfiles/Dockerfile.pip-minimal
  ci/dockerfiles/requirements-minimal.txt
Due: none

DEPR: enforce concat with bool dtype return object (#50077)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/dtypes/concat.py
  pandas/tests/reshape/concat/test_empty.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

tst: updating tests to be clear on intent, and to be better written
  pandas/tests/extension/base/groupby.py
Due: np-testing-array-equal, invalid-ea-testing

BUG: SeriesGroupBy.nunique raises when grouping with an empty categorical
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_nunique.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

BUG: DatetimeArray.astype(Sparse)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/test_datetimes.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

GH ref
  doc/source/whatsnew/v2.0.0.rst
  pandas/tests/arrays/test_datetimes.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal

Add additional examples to pd.offsets.BusinessHour and CustomBusinessHour
  pandas/_libs/tslibs/offsets.pyx
Due: cython-casting

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
