Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

DOC: rephrase whatsnew
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: minor wording tweak in whatsnew
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: fix alphabetical order in whatsnew Indexing section
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: Add explanation for ~ (not) operator in boolean indexing
  doc/source/user_guide/indexing.rst
Due: incorrect-backticks

BUG: Raise ValueError for non-string columns in read_json orient='table' (GH19129)
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/json/_table_schema.py
  pandas/tests/io/json/test_json_table_schema.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ENH: Add an option to prevent stripping extra whitespaces in pd.read_html
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/html.py
  pandas/tests/io/test_html.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

dev: get rid of unnecessary .. versionadded:: 1.5.0
  pandas/io/html.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

pre-commit changes BUG:(GH19129)
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/json/_table_schema.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, sort-whatsnew-items

DOC: Move HDFStore.put fix back to v3.1.0 whatsnew
  doc/source/whatsnew/v3.0.2.rst
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

FIX: regression in bdate_range for end on weekend (#64834)
  doc/source/whatsnew/v3.0.2.rst
  pandas/core/arrays/datetimes.py
  pandas/tests/indexes/datetimes/test_date_range.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: fix HDFStore.select scope resolution with list-of-conditions on Python 3.12+
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_append.py
  pandas/tests/io/pytables/test_select.py
  pandas/tests/io/pytables/test_store.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Fix formatting in test_to_timedelta.py
  pandas/tests/tools/test_to_timedelta.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

EA attribute specifying whether copy=False is ignored
  pandas/tests/extension/decimal/array.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Backport PR #64386: BUG: fix sort_index AssertionError with RangeIndex and level parameter
  doc/source/whatsnew/v3.0.2.rst
  pandas/core/indexes/range.py
  pandas/tests/frame/methods/test_sort_index.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TST: fix test_frame_select regex for Python 3.14 datetime error message
  pandas/tests/io/pytables/test_select.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: fix mypy type errors and adjust weekend handling in bdate_range (#64834)
  pandas/core/arrays/datetimes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Fix formatting of bug fix entry in v3.1.0 release notes
  doc/source/whatsnew/v3.1.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DEPR: deprecate convert_dates and keep_default_dates in read_json
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/json/_json.py
  pandas/tests/io/json/test_deprecated_kwargs.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/json/test_readlines.py
  pandas/tests/io/test_gcs.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

okwarning in 0.18.0 whatsnew
  doc/source/whatsnew/v0.18.0.rst
Due: incorrect-backticks

Exclude deprecated startingMonth from numpydoc validation
  doc/source/conf.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

DEPR: Rename startingMonth to starting_month on offset classes
  doc/source/reference/offset_frequency.rst
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/fields.pyx
  pandas/_libs/tslibs/offsets.pyi
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/conftest.py
  pandas/core/arrays/datetimes.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arithmetic/test_period.py
  pandas/tests/indexes/datetimes/test_date_range.py
  pandas/tests/io/generate_legacy_storage_files.py
  pandas/tests/resample/test_period_index.py
  pandas/tests/scalar/period/test_arithmetic.py
  pandas/tests/scalar/period/test_period.py
  pandas/tests/tseries/offsets/test_business_halfyear.py
  pandas/tests/tseries/offsets/test_business_quarter.py
  pandas/tests/tseries/offsets/test_common.py
  pandas/tests/tseries/offsets/test_fiscal.py
  pandas/tests/tseries/offsets/test_halfyear.py
  pandas/tests/tseries/offsets/test_offsets.py
  pandas/tests/tseries/offsets/test_quarter.py
  pandas/tests/tslibs/test_libfrequencies.py
  pandas/tests/tslibs/test_to_offset.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DEPR: Series.__setitem__ with array key and Series value not aligning by index
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/series.py
  pandas/tests/series/indexing/test_getitem.py
  pandas/tests/series/indexing/test_setitem.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DEPR: deprecate dropna keyword and io.hdf.dropna_table option in HDFStore
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/generic.py
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_append.py
  pandas/tests/io/pytables/test_store.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DEPR: deprecate io.hdf.dropna_table option via config.deprecate_option
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_append.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

DOC: update io.rst to use DataFrame.dropna instead of deprecated dropna kwarg
  doc/source/user_guide/io.rst
Due: incorrect-backticks

Fix CI: update extension tests and downstream seaborn test
  pandas/tests/extension/base/groupby.py
  pandas/tests/test_downstream.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Fix doc build: add :okwarning: to ipython blocks and update value_counts doctest
  doc/source/user_guide/cookbook.rst
  doc/source/user_guide/groupby.rst
  doc/source/whatsnew/v0.14.0.rst
  doc/source/whatsnew/v0.18.1.rst
  doc/source/whatsnew/v1.1.0.rst
  pandas/core/frame.py
  pandas/core/groupby/generic.py
  pandas/core/series.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DEPR: Deprecate as_index argument in groupby
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/core/series.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/aggregate/test_numba.py
  pandas/tests/groupby/aggregate/test_other.py
  pandas/tests/groupby/conftest.py
  pandas/tests/groupby/methods/test_describe.py
  pandas/tests/groupby/methods/test_nth.py
  pandas/tests/groupby/methods/test_size.py
  pandas/tests/groupby/methods/test_value_counts.py
  pandas/tests/groupby/test_all_methods.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_counting.py
  pandas/tests/groupby/test_cumulative.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_groupby_dropna.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/groupby/test_indexing.py
  pandas/tests/groupby/test_numba.py
  pandas/tests/groupby/test_reductions.py
  pandas/tests/groupby/transform/test_numba.py
  pandas/tests/groupby/transform/test_transform.py
  pandas/tests/window/test_groupby.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Warn on any explicit as_index usage, not just False
  doc/source/whatsnew/v1.1.0.rst
  pandas/core/frame.py
  pandas/core/groupby/groupby.py
  pandas/core/series.py
  pandas/tests/extension/base/groupby.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/aggregate/test_numba.py
  pandas/tests/groupby/methods/test_describe.py
  pandas/tests/groupby/methods/test_nth.py
  pandas/tests/groupby/methods/test_size.py
  pandas/tests/groupby/methods/test_value_counts.py
  pandas/tests/groupby/test_all_methods.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_cumulative.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_groupby_dropna.py
  pandas/tests/groupby/test_reductions.py
  pandas/tests/groupby/transform/test_numba.py
  pandas/tests/groupby/transform/test_transform.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

DEPR: Index.slice_locs
  doc/source/reference/indexing.rst
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/multi.py
  pandas/tests/indexes/datetimes/test_indexing.py
  pandas/tests/indexes/interval/test_indexing.py
  pandas/tests/indexes/multi/test_indexing.py
  pandas/tests/indexes/numeric/test_indexing.py
  pandas/tests/indexes/string/test_indexing.py
  pandas/tests/indexes/test_indexing.py
  pandas/tests/indexes/timedeltas/test_indexing.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Fix mypy arg-type error in SparseArray.from_indices
  pandas/core/arrays/sparse/array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Fix typing errors and runtime failures in SparseArray deprecation
  pandas/core/arrays/sparse/array.py
  pandas/core/reshape/encoding.py
  pandas/tests/arrays/sparse/test_constructors.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

DEPR: deprecate SparseArray sparse_index parameter, add from_indices
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/core/reshape/encoding.py
  pandas/tests/arrays/sparse/test_arithmetics.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/arrays/sparse/test_constructors.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Fix SparseArray.from_indices dtype on 32-bit platforms
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

DEPR: warn on any explicit sparse_index keyword usage, including None
  pandas/core/arrays/sparse/array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DEPR: Series.combine with non-Series other
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/series.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/extension/base/methods.py
  pandas/tests/extension/base/ops.py
  pandas/tests/extension/test_categorical.py
  pandas/tests/series/methods/test_combine.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DEPR: warn when NA matches NA in merge
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge.py
  pandas/tests/reshape/merge/test_merge_antijoin.py
  pandas/tests/reshape/merge/test_merge_asof.py
  pandas/tests/reshape/merge/test_multi.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items
