Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - tomli
  - pyyaml
  pass_filenames: false

validate-errors-locations:
  name: Validate errors locations
  description: Validate errors are in appropriate locations.
  entry: python scripts/validate_exception_location.py
  language: python

check-test-naming:
  name: check that test names start with 'test'
  entry: python -m scripts.check_test_naming
  language: python

sort-whatsnew-items:
  name: sort whatsnew entries alphabetically
  entry: python -m scripts.sort_whatsnew_note
  language: python

BUG: Fix inconsistency when read_csv reads MultiIndex with empty values (#59560)
  doc/source/whatsnew/v3.0.0.rst
  pandas/io/parsers/base_parser.py
  pandas/tests/io/parser/test_header.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TST: apply Ruff auto-fix
  pandas/io/parsers/base_parser.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Decorate period_range with set_module('pandas')
  pandas/core/indexes/period.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Added assert to test that the module string is set for period_range
  pandas/tests/api/test_api.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

whatsnew
  doc/source/whatsnew/v3.0.0.rst
Due: incorrect-backticks, sort-whatsnew-items

BUG: arithmetic with numpy-nullable vs pyarrow
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/arrays/masked.py
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

API: Disallow DataFrame other for Series flex ops
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/series.py
  pandas/tests/series/test_arithmetic.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: Add guide links to relevant API docs
  doc/source/reference/frame.rst
  doc/source/reference/general_functions.rst
  doc/source/reference/groupby.rst
  doc/source/reference/indexing.rst
  doc/source/reference/io.rst
  doc/source/reference/missing_value.rst
  doc/source/reference/plotting.rst
  doc/source/reference/resampling.rst
  doc/source/reference/series.rst
  doc/source/reference/style.rst
  doc/source/reference/window.rst
Due: incorrect-backticks, title-capitalization

Fix formatting after latest merge from main
  pandas/tests/io/formats/test_to_csv.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

TST: Replace ensure_clean_store with temp_file in test_time_series.py
  pandas/tests/io/pytables/test_time_series.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

fix ArrowDtype.itemsize
  pandas/core/dtypes/dtypes.py
  pandas/tests/dtypes/test_dtypes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

BUG: fix regex numeric group replacement in PyArrow string arrays
  pandas/core/arrays/_arrow_string_mixins.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

refactor(parser): use integer parsing functions from stdlib
  pandas/_libs/include/pandas/parser/tokenizer.h
  pandas/_libs/parsers.pyx
  pandas/_libs/src/parser/tokenizer.c
Due: none

replaced ensure_clean with pytest fixture in test_sas.py
  pandas/tests/io/sas/test_sas.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

DOC: Inline docstrings in window/rolling.py
  pandas/core/window/rolling.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

STY: Fix long lines in docstrings
  pandas/core/window/rolling.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Update frame.py
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Update tests and code: multiple fixes and adjustments across pandas test files
  pandas/tests/extension/json/array.py
  pandas/tests/frame/methods/test_drop.py
  pandas/tests/groupby/test_groupby_dropna.py
  pandas/tests/window/test_expanding.py
  pandas/tests/window/test_rolling.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

fix: dataframe conditional where axis=1 failing on _NoDefault object is not suscriptable
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/internals/managers.py
  pandas/tests/series/indexing/test_where.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Replace @doc decorator with inline docstrings in core/window/expanding.py
  pandas/core/window/expanding.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Replace @Appender and @Substitution decorator with inline docstrings in core/window/expanding.py
  pandas/core/window/expanding.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

fix the validation errors
  pandas/core/window/expanding.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Replace dynamic docstring decorators with static docstrings in pandas\core\generic.py
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Update pandas/core/indexes/multi.py
  pandas/core/indexes/multi.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

STY: fix unindentation issues
  doc/source/development/internals.rst.backup
  pandas/core/window/rolling.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

remove-doc-decorators-pandas\core\generic.py
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Replace @Appender with inline docstring for DataFrame.groupby
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

STY: fix period and indentation issues
  pandas/core/window/rolling.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Replace the @doc placeholders with text
  pandas/io/stata.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Removed usages of doc decorator: -Removed doc import -Removed @doc
  pandas/io/stata.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

"MAINT: Restore internals.rst from backup"
  doc/source/development/internals.rst
Due: incorrect-backticks, title-capitalization

STY: fix slight indentation errors
  pandas/core/window/rolling.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

ENH: to_excel engine_kwargs for header autofilter and header bold (xlsxwriter/openpyxl); tests. Closes #62651
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_xlsxwriter.py
  pandas/io/formats/excel.py
  pandas/tests/io/excel/test_autofilter_openpyxl.py
  pandas/tests/io/excel/test_autofilter_xlsxwriter.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

STY: fix leftover indentation errors
  pandas/core/window/rolling.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

STY: fix indentation again
  pandas/core/window/rolling.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
