Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-bare-pytest-raises:
  name: Check for use of bare pytest raises
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="bare_pytest_raises"

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - tomli
  - pyyaml
  pass_filenames: false

whatsnew
  doc/source/whatsnew/v2.3.0.rst
Due: incorrect-backticks, sort-whatsnew-items

ENH: Add groupby(...).agg_index
  pandas/core/groupby/base.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_api.py
  pandas/tests/groupby/test_groupby.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DEP: Loosely pin Cython to 3.0
  asv_bench/asv.conf.json
  environment.yml
  pyproject.toml
  requirements-dev.txt
  setup.py
Due: inconsistent-namespace-usage, pip-to-conda, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing

add StringEngine for string dtype indexes
  pandas/_libs/hashtable_class_helper.pxi.in
  pandas/_libs/index.pyi
  pandas/_libs/index.pyx
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: fix EX03 errors in docstrings - pandas.errors: SettingWithCopyWarning, SpecificationError, UndefinedVariableError (#56989)
  ci/code_checks.sh
  pandas/errors/__init__.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, pandas-errors-documented

DOC: Change 2.3.0 to 3.0.0 (#56823)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v3.0.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: Add release notes for 2.2.1 (#56982)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v2.2.1.rst
Due: incorrect-backticks, sort-whatsnew-items

Backport PR #56982: DOC: Add release notes for 2.2.1
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v2.2.1.rst
Due: incorrect-backticks, sort-whatsnew-items

ensure str
  pandas/_libs/index.pyx
Due: none

mypy
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: Remove old versions from doc dropdown
  web/pandas/versions.json
Due: none

Fix ci not raises on error (#56970)
  ci/code_checks.sh
Due: none

Fixing test for deprecated dims, moving to sizes
  pandas/tests/generic/test_to_xarray.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Pre commit fix
  doc/source/whatsnew/v2.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

fix mypy incompatible type
  pandas/core/internals/blocks.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

subclass IndexEngine
  pandas/_libs/index.pyx
Due: none

remove enter on begin of import
  pandas/__init__.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations

fix tests
  pandas/tests/test_common.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

BUG: df.iloc not working with NamedTuples
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/indexing.py
  pandas/tests/frame/indexing/test_indexing.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

use RecordBatchReader.read_all to get table
  pandas/tests/frame/test_arrow_interface.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

update to match class implementation
  pandas/_libs/index.pyi
Due: none

CI/DOC: Enforce PR02 in CI (#56971)
  ci/code_checks.sh
Due: none

STY: Enable B904 (#56941)
  asv_bench/benchmarks/algos/isin.py
  asv_bench/benchmarks/array.py
  asv_bench/benchmarks/strings.py
  pandas/compat/_optional.py
  pandas/core/array_algos/datetimelike_accumulations.py
  pandas/core/array_algos/masked_accumulations.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/core/dtypes/cast.py
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/core/interchange/column.py
  pandas/core/reshape/encoding.py
  pandas/core/sorting.py
  pandas/core/tools/datetimes.py
  pandas/io/formats/style_render.py
  pandas/io/formats/xml.py
  pandas/io/parsers/arrow_parser_wrapper.py
  pandas/io/parsers/python_parser.py
  pandas/io/xml.py
  pandas/tests/indexes/datetimes/test_constructors.py
  pandas/tests/test_common.py
  pyproject.toml
  web/pandas_web.py
Due: inconsistent-namespace-usage, seed-check-asv, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming

success
  pandas/tests/extension/test_arrow.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

inline
  pandas/core/arrays/arrow/array.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Use Python Timedelta C-API where applicable
  pandas/_libs/tslibs/timedeltas.pyx
Due: none

fix typo
  pandas/_libs/tslibs/timedeltas.pyx
Due: none

mention both mirror methods
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

Remove SKIP summary from CI logs
  ci/run_tests.sh
Due: none

isort fixup
  pandas/_libs/tslibs/timedeltas.pyx
Due: none

Backport PR #56982 on branch 2.2.x (DOC: Add release notes for 2.2.1) (#56998)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v2.2.1.rst
Due: incorrect-backticks, sort-whatsnew-items

add multiplication
  pandas/_libs/tslibs/timedeltas.pyx
Due: none

CI: pyarrow nightly failures (#57005)
  pandas/tests/frame/test_arrow_interface.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
