Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, inconsistent-namespace-usage, no-os-remove, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

no-os-remove:
  name: Check code for instances of os.remove
  entry: os\.remove
  language: pygrep

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-bare-pytest-raises:
  name: Check for use of bare pytest raises
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="bare_pytest_raises"

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

Update deprecation-tracking-bot.yml
  .github/workflows/deprecation-tracking-bot.yml
Due: none

ENH: Histogram axis labels
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/hist.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fix test failures
  pandas/tests/plotting/test_hist_method.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

lint fixup
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

remove xfail
  pandas/tests/groupby/transform/test_numba.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

ENH: implement PandasArray.interpolate
  pandas/core/arrays/numpy_.py
  pandas/core/internals/blocks.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

ex1.py added
  ex1.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

fix Series.apply(..., by_row)
  pandas/core/apply.py
  pandas/core/series.py
  pandas/tests/apply/test_series_apply.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

PERF: Series.str.split(expand=True) for pyarrow-backed
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/strings/accessor.py
Due: flake8-rst, inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

gh ref
  doc/source/whatsnew/v2.1.0.rst
Due: flake8-rst, incorrect-backticks

fix mypy
  pandas/core/apply.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

ex1.py added.
  ex1.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

deleting ex1.py
  ex1.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module

DEPR: positional params in (DataFrame|Series).apply
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/apply.py
  pandas/core/frame.py
  pandas/core/series.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/apply/test_series_apply.py
  pandas/tests/apply/test_str.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

add gh number
  doc/source/whatsnew/v2.1.0.rst
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/apply/test_series_apply.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

add *, to frame_apply
  pandas/core/apply.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fix rst backticks
  doc/source/whatsnew/v2.1.0.rst
Due: flake8-rst, incorrect-backticks

Updates
  .github/workflows/deprecation-tracking-bot.yml
Due: none

TYP: Fix typing issues, mainly Something => IndexLabel (#53469)
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Implement DTA/TDA.interpolate
  pandas/core/arrays/datetimelike.py
  pandas/core/internals/blocks.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

correct mypy error attr-defined
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/dtypes.pyx
Due: cython-casting

fix DataFrame.apply doc string
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DEPR: deprecate param obj in GroupBy.get_group
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/groupby/groupby.py
Due: flake8-rst, inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

correct get_group docs
  pandas/core/groupby/groupby.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

make warning conditional
  pandas/core/groupby/groupby.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

remove redundant line
  pandas/core/groupby/groupby.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

remove wrongly added test
  pandas/tests/apply/test_series_apply.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

Update README.md
  README.md
Due: none

Corrected minor typos in the paragraph below 'Formatting the Display'
  doc/source/user_guide/style.ipynb
Due: none

fix Series.apply(..., by_row), v2.
  pandas/core/apply.py
  pandas/core/series.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/apply/test_series_apply.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

add gh number
  pandas/tests/apply/test_frame_apply.py
Due: inconsistent-namespace-usage, no-os-remove, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

fix codespell
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

ENH: Series.explode to support pyarrow-backed list types
  doc/source/whatsnew/v2.1.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/core/series.py
  pandas/tests/series/methods/test_explode.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

gh refs
  doc/source/whatsnew/v2.1.0.rst
  pandas/tests/series/methods/test_explode.py
Due: flake8-rst, inconsistent-namespace-usage, no-os-remove, incorrect-backticks, np-testing-array-equal, unwanted-patterns-bare-pytest-raises, check-test-naming

Add point to wrap conditionals in parens.
  pandas/core/indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Fixing error in whatsnew documentation
  doc/source/whatsnew/v2.1.0.rst
Due: flake8-rst, incorrect-backticks

Corrected minor typos in the paragraph below 'Formatting the Display' (#53598)
  doc/source/user_guide/style.ipynb
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-os-remove: any of: ^pandas/tests/ and \.py$ and not ((?x)^
pandas/tests/io/pytables/test_store\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
