Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

TYP: enable mypy checks for low-hanging _libs stubs (#65629)
  pandas/_libs/interval.pyi
  pandas/_libs/missing.pyi
  pandas/_libs/ops_dispatch.pyi
  pandas/_libs/properties.pyi
  pandas/_libs/sparse.pyi
  pandas/_libs/testing.pyi
  pandas/_libs/window/indexers.pyi
  pandas/core/indexes/interval.py
  pyproject.toml
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

PERF: use Index._id for axis-identity checks in concat fast paths (#65658)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/indexes/api.py
  pandas/core/internals/construction.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, sort-whatsnew-items

DOC: clarify pandas.unique return type (#65638)
  pandas/core/algorithms.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: spell out low_memory split-value hazard in read_csv/read_table (#65636)
  pandas/io/parsers/readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: document default axis=0 on DataFrame reductions (#65634)
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

CI: Run zizmorcore/zizmor-action for security issues
  .github/workflows/security.yml
Due: none

Remove whitespace
  .github/workflows/security.yml
Due: none

Add cocurrency, only run on repo_owner
  .github/workflows/security.yml
Due: none

TST: Speed up test_read_excel_skiprows_callable_all
  pandas/tests/io/excel/test_readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

PERF: limit ADBC has_table metadata depth
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

fix: validate C function returns and validate type ranges at FFI boundary
  test_ffi_safety.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

do same for test_read_with_bad_dimension_skiprows_callable_all
  pandas/tests/io/excel/test_openpyxl.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Added index value before reshaping data
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Handle datetimetz Arrow interval conversion
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/dtypes/dtypes.py
  pandas/tests/arrays/interval/test_interval_pyarrow.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TST: Use temp_file fixture instead of tmp_path
  pandas/tests/io/test_parquet.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

Add ArrowExtensionArray.view fast path
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/arrow/array.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, sort-whatsnew-items

BUG: Round-trip CategoricalIndex through HDF5 (GH#33909, GH#16118)
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_categorical.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: fix to_hdf with DateOffset freq and read_hdf with legacy freq bytes
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/offsets.pyx
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_time_series.py
  pandas/tests/tseries/offsets/test_offsets.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: read_hdf converting literal 'nan' string in Index to NaN (GH#9604)
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_round_trip.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

make NatType a superclass of Timestamp and Timedelta
  pandas/_libs/tslibs/nattype.pyi
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timestamps.pyi
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/period.py
  pandas/core/dtypes/cast.py
  pandas/tests/copy_view/test_indexing.py
  pandas/tests/indexes/string/test_indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Use Index() instead of list() as it fails in test_datetime_object_multiindex
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: link try pandas from getting started
  doc/source/getting_started/index.rst
Due: incorrect-backticks

BUG: validate melt output column names
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/reshape/melt.py
  pandas/tests/reshape/test_melt.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ERR: raise ValueError for non-boolean numeric_only in reductions (GH#53098)
  pandas/core/generic.py
  pandas/core/resample.py
  pandas/tests/reductions/test_stat_reductions.py
  pandas/tests/resample/test_resample_api.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

TST: Replace UUID byte fallback with pytest.xfail for upstream bug
  pandas/tests/io/test_parquet.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: Refactor dynamic xfail to use request.node.add_marker
  pandas/tests/io/test_parquet.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

DEPR: %n directive in Period.strftime, use %N instead (#65432)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/period.pyx
  pandas/tests/scalar/period/test_period.py
  pandas/tests/series/accessors/test_dt_accessor.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

TST: Shorten xfail reason string to pass ruff line length
  pandas/tests/io/test_parquet.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

DOC: Add constructor parameters to BYearEnd docstring GH#52431
  pandas/_libs/tslibs/offsets.pyx
Due: none

forgot to update environment for mypy 2.1.0
  environment.yml
  requirements-dev.txt
Due: pip-to-conda

Reverted changes, applied reviewer suggestion
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Fix case preservation for excel number formats
  pandas/io/formats/css.py
  pandas/tests/io/formats/test_css.py
  pandas/tests/io/formats/test_to_excel.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

apply review
  pandas/_testing/asserters.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

edits for format via ruff
  pandas/core/generic.py
  pandas/tests/frame/methods/test_dropna.py
  pandas/tests/generic/test_frame.py
  pandas/tests/indexing/multiindex/test_indexing_slow.py
  pandas/tests/plotting/test_series.py
  pandas/tests/series/accessors/test_str_accessor.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Fix missing blank in error message in astype.py
  pandas/core/dtypes/astype.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

fix: Template fix: Replace C99-style // comment with /* */ (C89 compatibility, line 91) in pandas-dev/pandas:pandas/_libs/src/datetime/pd_datetime.c (#template_pandas-dev_pandas_c89-compat_91)
  fix.c
Due: none

BUG: Fix CoW alias corruption in DataFrame.eval (#65664)
  pandas/core/computation/eval.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

TYP: Silence Pyright attribute access warning for copy method
  pandas/core/computation/eval.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Fix the mypy error about the unused ignore comment
  pandas/core/computation/eval.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

API/BUG: support for operations with custom objects / object dtype
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_.py
  pandas/tests/arithmetic/test_string.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming
