Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

split macos tests in 2
  ci/azure/posix.yml
Due: none

skip if no numba
  pandas/tests/groupby/test_timegrouper.py
Due: none

PERF: groupby.pad/backfill follow-up
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
Due: use-pd_array-in-core

REF: share GroupBy.count
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core

rework initial conditional join concept. condition provided through on arg, etc.
  pandas/core/frame.py
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge_conditional.py
Due: use-pd_array-in-core

overrid int64; failing in 32bit
  pandas/tests/groupby/test_groupby.py
Due: none

formatting
  pandas/core/frame.py
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge_conditional.py
Due: use-pd_array-in-core

DOC: 1.3.3 release date
  doc/source/whatsnew/v1.3.3.rst
Due: flake8-rst

change split point between division of tests
  ci/azure/posix.yml
  ci/azure/windows.yml
Due: none

DOC: 1.3.3 release date (#43520)
  doc/source/whatsnew/v1.3.3.rst
Due: flake8-rst

Backport PR #43520: DOC: 1.3.3 release date
  doc/source/whatsnew/v1.3.3.rst
Due: flake8-rst

DEPR: index argument to SparseArray
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_array.py
Due: flake8-rst, use-pd_array-in-core

PERF: avoid rebuilding blknos
  pandas/_libs/internals.pyx
  pandas/core/internals/managers.py
Due: use-pd_array-in-core

CLN: remove sparse op helper unused
  pandas/_libs/sparse_op_helper.pxi.in
Due: none

Fix docstring validation error
  pandas/core/arrays/sparse/array.py
Due: use-pd_array-in-core

CLN: remove sparse op helper unused (#43525)
  pandas/_libs/sparse_op_helper.pxi.in
Due: none

TST: pytest.mark.single for test_unique_bad_unicode
  pandas/tests/base/test_unique.py
Due: none

test
  pandas/tests/reshape/merge/test_merge_conditional.py
Due: none

BUG/PERF: sparse min/max don't densify
  asv_bench/benchmarks/sparse.py
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_array.py
Due: flake8-rst, use-pd_array-in-core

Update whatsnew
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

Update benchmark
  asv_bench/benchmarks/sparse.py
Due: none

Update comment
  pandas/core/arrays/sparse/array.py
Due: use-pd_array-in-core

Update pr number
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

Modify: add several dtypes
  pandas/tests/io/test_parquet.py
Due: none

Backport PR #43520: DOC: 1.3.3 release date (#43521)
  doc/source/whatsnew/v1.3.3.rst
Due: flake8-rst

DOC: Modify pandas.ExcelWriter default engine in docstring (#43359) Correction after after pull review
  pandas/io/excel/_base.py
Due: none

DOC: Modify pandas.ExcelWriter default engine in docstring (#43359) Correction to pass test * engine for xlsx : xlsxwriter instead of openpyxl * correction to pass the doctest
  pandas/io/excel/_base.py
Due: none

pass None if common_dtype is object
  pandas/core/frame.py
Due: use-pd_array-in-core

DOC: added missing value in column D for better understanding fillna with second dataframe
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

add note about column D
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

remove moved code
  pandas/core/aggregation.py
Due: use-pd_array-in-core

check for sets when checking for missing columns
  pandas/core/apply.py
Due: use-pd_array-in-core

added new test for checking non one dimensional values passed in take
  pandas/core/indexes/base.py
  pandas/tests/indexes/test_indexing.py
Due: use-pd_array-in-core

DOC: Start v1.3.4 release notes
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.3.3.rst
  doc/source/whatsnew/v1.3.4.rst
Due: flake8-rst

DOC: Start v1.3.4 release notes (#43530)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.3.3.rst
  doc/source/whatsnew/v1.3.4.rst
Due: flake8-rst

Backport PR #43530: DOC: Start v1.3.4 release notes
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.3.3.rst
  doc/source/whatsnew/v1.3.4.rst
Due: flake8-rst

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
