Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

unwanted-patterns-doesnt-use-pandas-warnings:
  name: Check that warning classes for deprecations use pandas' warning classes
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="doesnt_use_pandas_warnings"

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

validate-errors-locations:
  name: Validate errors locations
  description: Validate errors are in appropriate locations.
  entry: python scripts/validate_exception_location.py
  language: python

check-test-naming:
  name: check that test names start with 'test'
  entry: python -m scripts.check_test_naming
  language: python

sort-whatsnew-items:
  name: sort whatsnew entries alphabetically
  entry: python -m scripts.sort_whatsnew_note
  language: python

BUG: pivot_table with margins=True and dict aggfunc containing a list of functions
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/reshape/pivot.py
  pandas/tests/reshape/test_pivot.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: Fix read_csv 'quoting' docstring formatting (#65813)
  pandas/io/parsers/readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: Fix Ruff E501 line length issue in read_csv quoting docstring
  pandas/io/parsers/readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: Add list and struct Arrow accessors to Series docs table (#64910)
  doc/source/reference/series.rst
Due: incorrect-backticks, title-capitalization

DOC: Add default namespace xpath example to read_xml (#63668)
  pandas/io/xml.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: Clarify forward-looking rolling window behavior with offset strings (#65050)
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: Remove list and struct from autosummary to fix Sphinx build (#64910)
  doc/source/reference/series.rst
Due: incorrect-backticks, title-capitalization

BUG: preserve compiled regex flags in str.match (GH#66138)
  pandas/core/strings/accessor.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

TST: add regression tests for compiled regex flags (GH#66138)
  pandas/tests/strings/test_find_replace.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: encode real np.uint64 scalars in large-uint64 JSON tests
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/json/test_ujson.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: pyarrow read_csv na_filter=False now raises after GH#66053
  pandas/tests/io/parser/common/test_inf.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: expect na_filter=False ValueError for pyarrow read_csv inf tests
  pandas/tests/io/parser/common/test_inf.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TYP: silence spurious pyright NaTType widening in generate_daily_offset_range
  pandas/core/arrays/_ranges.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

TST: fix EncodingWarning in interval hash cross-process test
  pandas/tests/util/test_hashing.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: Timedelta(np.str_) raising TypeError (GH#48974) (#66181)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/tools/test_to_timedelta.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

TST: skip interval hash cross-process test on WASM
  pandas/tests/util/test_hashing.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: array_equivalent raising/wrong on float16 and byte-swapped dtypes (#66160)
  pandas/core/dtypes/missing.py
  pandas/tests/dtypes/test_missing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: idxmin/idxmax with skipna=False returned wrong results (GH-56903) (#65910)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/groupby.pyx
  pandas/tests/frame/test_reductions.py
  pandas/tests/groupby/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

DEPR: fillna with incompatible value casting (#64959)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/core/internals/blocks.py
  pandas/io/formats/xml.py
  pandas/tests/frame/methods/test_fillna.py
  pandas/tests/frame/methods/test_reindex.py
  pandas/tests/indexes/datetimes/methods/test_fillna.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/indexes/period/methods/test_fillna.py
  pandas/tests/indexes/timedeltas/methods/test_fillna.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/series/methods/test_fillna.py
  pandas/util/_doctools.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: Fix read_csv 'quoting' docstring formatting (#65813) (#66188)
  pandas/io/parsers/readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

ENH: add default ExtensionArray.round (closes #49387) (#65507)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/base.py
  pandas/core/arrays/datetimelike.py
  pandas/core/internals/blocks.py
  pandas/tests/extension/base/methods.py
  pandas/tests/extension/test_datetime.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TST: simplify GH#65011 date_range regression test
  pandas/tests/indexes/datetimes/test_date_range.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

DOC: Add list and struct Arrow accessors to Series docs table (#64910) (#66189)
  doc/source/reference/series.rst
Due: incorrect-backticks, title-capitalization

DOC: fix incorrect HDFStore.put/append parameter docs (GH#60920) (#66184)
  pandas/io/pytables.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

PERF: speed up DataFrame.diff for contiguous numeric data (#64864)
  doc/source/whatsnew/v3.1.0.rst
  pandas/_libs/algos.pyx
Due: incorrect-backticks, sort-whatsnew-items

BUG: read_hdf fails to round-trip CategoricalIndex edge cases (GH#65576) (#66165)
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_categorical.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

BUG: HDFStore.remove with combined large "in" filter and condition deleted wrong rows (GH#17567) (#66162)
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_store.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

PERF: Optimize string column serialization in interchange protocol
  pandas/core/interchange/column.py
Due: unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Backport PR #66169 on branch 3.0.x (CI: Fix pyarrow-nightly job (stale nightly wheel + feather deprecations)) (#66186)
  pandas/io/feather_format.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

fix: handle np.uint64 wrapping in Series.to_json()
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
  pandas/tests/io/json/test_pandas.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: Fix dataframe alignment triggering split path
  pandas/core/indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

CI: Scope forkserver launch method to ASV CI task (GH#66193)
  environment.yml
  pixi.toml
  requirements-dev.txt
Due: pip-to-conda

fix: correct formating of empty frozensets
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/formats/printing.py
  pandas/tests/io/formats/test_printing.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: Fix dataframe alignment triggering split path correctly
  pandas/core/indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

fix: BUG: Incorrect formatting of empty `frozenset` in object Ser
  asv_bench/benchmarks/timeseries.py
Due: inconsistent-namespace-usage, seed-check-asv, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings

CI: Scope forkserver launch method to ASV CI task (GH#66193) (#66196)
  environment.yml
  pixi.toml
  requirements-dev.txt
Due: pip-to-conda

PERF: Optimize apply_raw by replacing np.apply_along_axis with 2D list-comprehension fast path
  pandas/core/apply.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

BUG: Case not preserved for quoted string literals in CSS properties (#64153)
  doc/source/whatsnew/v3.1.0.rst
  pandas/io/formats/css.py
  pandas/tests/io/formats/test_css.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: Fix dataframe alignment fastpath bug (#66105, #66106)
  pandas/core/indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
