Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip_to_conda, flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-comprehensions>=3.1.0]
    -   id: flake8
        name: flake8 (cython)
        types: [cython]
        args: [--append-config=flake8/cython.cfg]
    -   id: flake8
        name: flake8 (cython template)
        files: \.pxi\.in$
        types:
          - file
        args: [--append-config=flake8/cython-template.cfg]
-   repo: https://github.com/PyCQA/isort
    rev: 5.6.3
    hooks:
    -   id: isort
        name: isort (python)
    -   id: isort
        name: isort (cython)
        types: [cython]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.6.0
    hooks:
      - id: rst-backticks
-   repo: local
    hooks:
    -   id: pip_to_conda
        name: Generate pip dependency from conda
        description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
        language: python
        entry: python -m scripts.generate_pip_deps_from_conda
        files: ^(environment.yml|requirements-dev.txt)$
        pass_filenames: false
        additional_dependencies: [pyyaml]
    -   id: flake8-rst
        name: flake8-rst
        description: Run flake8 on code snippets in docstrings or RST files
        language: python
        entry: flake8-rst
        types: [rst]
        args: [--filename=*.rst]
        additional_dependencies: [flake8-rst==0.7.0, flake8==3.7.9]
    -   id: incorrect-sphinx-directives
        name: Check for incorrect Sphinx directives
        language: pygrep
        entry: |
            (?x)
            # Check for cases of e.g. .. warning: instead of .. warning::
            \.\.\ (
                autosummary|contents|currentmodule|deprecated|
                function|image|important|include|ipython|literalinclude|
                math|module|note|raw|seealso|toctree|versionadded|
                versionchanged|warning
            ):[^:]
        files: \.(py|pyx|rst)$
    -   id: non-standard-imports
        name: Check for non-standard imports
        language: pygrep
        entry: |
            (?x)
            # Check for imports from pandas.core.common instead of `import pandas.core.common as com`
            from\ pandas\.core\.common\ import|
            from\ pandas\.core\ import\ common|

            # Check for imports from collections.abc instead of `from collections import abc`
            from\ collections\.abc\ import|

            from\ numpy\ import\ nan
        types: [python]
    -   id: non-standard-imports-in-tests
        name: Check for non-standard imports in test suite
        language: pygrep
        entry: |
            (?x)
            # Check for imports from pandas._testing instead of `import pandas._testing as tm`
            from\ pandas\._testing\ import|
            from\ pandas\ import\ _testing\ as\ tm|

            # No direct imports from conftest
            conftest\ import|
            import\ conftest
        types: [python]
        files: ^pandas/tests/
    -   id: incorrect-code-directives
        name: Check for incorrect code block or IPython directives
        language: pygrep
        entry: (\.\. code-block ::|\.\. ipython ::)
        files: \.(py|pyx|rst)$
-   repo: https://github.com/asottile/yesqa
    rev: v1.2.2
    hooks:
    -   id: yesqa
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: end-of-file-fixer
        exclude: ^LICENSES/|\.(html|csv|txt|svg|py)$
    -   id: trailing-whitespace
        exclude: \.(html|svg)$

Move resorting to algos
  pandas/core/algorithms.py
  pandas/core/indexes/base.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST: split up test_concat.py #37243
  pandas/tests/reshape/concat/test_concat.py
  pandas/tests/reshape/concat/test_empty.py
  pandas/tests/reshape/concat/test_series.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST: split up test_concat.py #37243
  pandas/tests/reshape/concat/test_append_common.py
  pandas/tests/reshape/concat/test_categorical.py
  pandas/tests/reshape/concat/test_concat.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Add test and improve doc
  pandas/core/algorithms.py
  pandas/tests/test_algos.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

lint fixup
  pandas/tests/indexes/categorical/test_map.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

CLN: Fix unwanted pattern in unittest
  pandas/tests/series/test_constructors.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

checkpoint tests passing
  pandas/core/arrays/datetimelike.py
  pandas/core/nanops.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

CLN: Fix unwanted pattern in unittest (#37404)
  pandas/tests/series/test_constructors.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Add test for invalid scipy arg
  pandas/tests/window/test_window.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Raise warning with nan
  pandas/core/reshape/merge.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Delete statement
  pandas/core/reshape/merge.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Run black
  pandas/core/reshape/merge.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Fix pattern issues
  pandas/tests/indexes/test_setops.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Add check
  pandas/core/indexes/base.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST/CI: fix 32bit dtype tests #36579, #32709
  pandas/tests/arrays/floating/test_function.py
  pandas/tests/base/test_misc.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/io/parser/test_c_parser_only.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST: Different tests were collected between gw0 and gw1 (#37382)
  pandas/tests/computation/test_eval.py
  pandas/tests/frame/apply/test_frame_transform.py
  pandas/tests/series/apply/test_series_transform.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Finishing touches to window.rst
  doc/source/user_guide/basics.rst
  doc/source/user_guide/window.rst
  doc/source/whatsnew/v0.15.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

fix some references
  doc/source/user_guide/window.rst
  doc/source/whatsnew/v0.14.0.rst
  doc/source/whatsnew/v0.20.0.rst
  doc/source/whatsnew/v0.6.1.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

CLN/TST: roll_sum/mean/var/skew/kurt: simplification for non-monotonic indices (#36933)
  pandas/_libs/window/aggregations.pyx
  pandas/tests/window/test_rolling.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

BUG: Fix inconsistent ordering between left and right in merge
  doc/source/whatsnew/v1.2.0.rst
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Rename function after related pr was merged
  pandas/_libs/window/aggregations.pyx
Due: incorrect-sphinx-directives, incorrect-code-directives

TST/REF: method specific test file for pipe
  pandas/tests/generic/methods/test_pipe.py
  pandas/tests/generic/test_generic.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST: split up test_concat.py #37243
  pandas/tests/reshape/concat/test_concat.py
  pandas/tests/reshape/concat/test_invalid.py
  pandas/tests/reshape/concat/test_sort.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

test added
  pandas/tests/window/test_rolling.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Fix pattern
  pandas/tests/reshape/merge/test_merge.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

pep8 resolved
  pandas/tests/window/test_rolling.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Add autogenerated doc references
  doc/redirects.csv
  doc/source/reference/arrays.rst
  doc/source/reference/indexing.rst
  doc/source/reference/series.rst
  doc/source/user_guide/timeseries.rst
  doc/source/whatsnew/v1.2.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

Fix whitespace
  pandas/_libs/tslibs/nattype.pyx
Due: incorrect-sphinx-directives, incorrect-code-directives

Add proposed change to whatsnew
  doc/source/whatsnew/v1.2.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

ENH: Support day_of_year over dayofyear (#9606)
  doc/source/whatsnew/v1.2.0.rst
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/period.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
  pandas/tests/generic/test_finalize.py
  pandas/tests/indexes/datetimes/test_scalar_compat.py
  pandas/tests/indexes/period/test_period.py
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

CLN: Deprecate dayofweek/hello day_of_week (#9606)
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/period.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
  pandas/tests/generic/test_finalize.py
  pandas/tests/indexes/datetimes/test_scalar_compat.py
  pandas/tests/indexes/period/test_period.py
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

CLN: Resolve comments from @arw2019
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/generic/test_finalize.py
  pandas/tests/indexes/datetimes/test_scalar_compat.py
  pandas/tests/indexes/period/test_period.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST/CI: xfail 32-bit tests #36579, #32709
  pandas/tests/arrays/floating/test_function.py
  pandas/tests/io/formats/test_info.py
  pandas/tests/reshape/test_pivot.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST: split up test_concat.py #37243
  pandas/tests/reshape/concat/test_concat.py
  pandas/tests/reshape/concat/test_dataframe.py
  pandas/tests/reshape/concat/test_datetimes.py
  pandas/tests/reshape/concat/test_empty.py
  pandas/tests/reshape/concat/test_index.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Categorical
  ci/code_checks.sh
  pandas/tests/arrays/categorical/test_constructors.py
  pandas/tests/arrays/categorical/test_indexing.py
  pandas/tests/arrays/categorical/test_operators.py
  pandas/tests/extension/test_categorical.py
  pandas/tests/frame/indexing/test_categorical.py
  pandas/tests/frame/methods/test_sort_values.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/indexes/categorical/test_category.py
  pandas/tests/internals/test_internals.py
  pandas/tests/reshape/concat/test_append_common.py
  pandas/tests/reshape/merge/test_merge.py
  pandas/tests/reshape/test_pivot.py
  pandas/tests/reshape/test_union_categoricals.py
  pandas/tests/series/methods/test_value_counts.py
  pandas/tests/series/test_constructors.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives
