Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

Fix SA01 errors
  ci/code_checks.sh
  pandas/core/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Import `WASM` var via public API where possible
  pandas/tests/apply/test_str.py
  pandas/tests/arithmetic/test_timedelta64.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Remove upper-pin from `pydantic`
  .github/workflows/unit-tests.yml
Due: none

Better skip messages via `pytest.skipif` decorator
  pandas/tests/indexes/datetimes/methods/test_normalize.py
  pandas/tests/io/parser/common/test_file_buffer_url.py
  pandas/tests/io/parser/test_c_parser_only.py
  pandas/tests/io/test_common.py
  pandas/tests/io/xml/test_xml.py
  pandas/tests/scalar/timestamp/methods/test_replace.py
  pandas/tests/scalar/timestamp/methods/test_timestamp_method.py
  pandas/tests/scalar/timestamp/test_formats.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tslibs/test_parsing.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Unpin `pytest` for Pyodide job
  .github/workflows/unit-tests.yml
Due: none

troubleshoot
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

DOC: Fix SA01 Errors (#58556)
  ci/code_checks.sh
  pandas/core/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Add reason attr when using boolean to skip test
  pandas/tests/indexes/datetimes/methods/test_normalize.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Don't xfail, skip tests that bring `OverflowError`s
  pandas/tests/indexes/datetimes/methods/test_resolution.py
  pandas/tests/tseries/offsets/test_common.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

DOC: Improve convert_dtypes's docstring
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

update exp instead of object cast
  pandas/tests/indexes/datetimes/test_constructors.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Skip timedelta test that runs well only on 64-bit
  pandas/tests/tools/test_to_timedelta.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

revert accidental
  pandas/tests/arithmetic/test_timedelta64.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Skip tests that use `np.timedelta64`
  pandas/tests/io/sas/test_sas7bdat.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Make summary 1 line
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

DOC: Improve convert_dtypes's docstring (#58558)
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

Improve error msg
  pandas/core/apply.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: add PR07,RT03,SA01 for pandas.Index.join
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove PR07,RT03,SA01 for pandas.Index.join
  ci/code_checks.sh
Due: none

DOC: add PR01,RT03 for pandas.Index.ravel
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove PR01,RT03 for pandas.Index.ravel
  ci/code_checks.sh
Due: none

DOC: add PR01,SA01 for pandas.Index.str and pandas.Series.str
  pandas/core/strings/accessor.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove PR01,SA01 for pandas.Index.str and pandas.Series.str
  ci/code_checks.sh
Due: none

Add test
  pandas/tests/apply/test_invalid_arg.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

DOC: add GL08 for pandas.Index.names
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove GL08 for pandas.Index.names
  ci/code_checks.sh
Due: none

DOC: add PR01,RT03,SA01 for pandas.DataFrame.std
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove PR01,RT03,SA01 for pandas.DataFrame.std
  ci/code_checks.sh
Due: none

DOC: add RT03 for pandas.DataFrame.sum
  ci/code_checks.sh
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: add Series.std for pandas.DataFrame.std
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: add SA01 for pandas.DataFrame.to_markdown
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove SA01 for pandas.DataFrame.to_markdown
  ci/code_checks.sh
Due: none

whatsnew
  doc/source/whatsnew/v3.0.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: add PR01,RT03,SA01 for pandas.DataFrame.var
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove PR01,RT03,SA01 for pandas.DataFrame.var
  ci/code_checks.sh
Due: none
