Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  unwanted-patterns-doesnt-use-pandas-warnings: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

Restore DEMO_G.csv
  pandas/tests/io/sas/data/DEMO_G.csv
Due: none

TST: use rolling.apply as the per-window oracle
  doc/source/whatsnew/v3.2.0.rst
  pandas/tests/window/test_rolling_skew_kurt.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items

BUG: spurious fragmentation PerformanceWarning from wide dict/list agg (GH#61628)
  doc/source/whatsnew/v3.2.0.rst
  pandas/core/apply.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/resample/test_resample_api.py
  pandas/tests/window/test_api.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: shorten GH#61628 whatsnew entry
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

BUG: widen the axis=1 reduction accumulator the way nanops does (GH#51474)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: move whatsnew entry to v3.2.0
  doc/source/whatsnew/v3.1.0.rst
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

BUG: DataFrame axis=1 reductions accumulated in each block's own dtype (GH#51474)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: address review of the axis=1 reduction accumulation dtype (GH#51474)
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

CLN: trim the whatsnew entry and comments for the axis=1 reduction dtype
  doc/source/whatsnew/v3.1.0.rst
  pandas/core/frame.py
  pandas/tests/frame/test_reductions.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

CLN: stamp the PR number over the placeholder issue references
  pandas/core/frame.py
  pandas/tests/frame/test_reductions.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

Address review comments
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: keep the API-change note in v3.1.0, add a v3.2.0 bug-fix entry
  doc/source/whatsnew/v3.1.0.rst
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: accurate dtype wording in axis=1 reduction whatsnew entries
  doc/source/whatsnew/v3.1.0.rst
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: keep GH#51474 whatsnew entries in v3.2.0 only
  doc/source/whatsnew/v3.1.0.rst
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: GH#51474 API note belongs in v3.1.0, where the change shipped
  doc/source/whatsnew/v3.1.0.rst
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: drop v3.2.0 entry for GH#68641, a fix for a 3.1 regression
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

PERF: Don't use bottleneck in certain ops where its slower
  doc/source/whatsnew/v3.2.0.rst
  pandas/core/nanops.py
  pandas/tests/test_nanops.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

GH#
  doc/source/whatsnew/v3.2.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DEPR: also warn on negative float min_count and in ArrowExtensionArray
  pandas/core/arrays/arrow/array.py
  pandas/tests/reductions/test_reductions.py
  pandas/util/_validators.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming

TST: DataFrame op with EA array retains EA dtype (GH#28527) (#70918)
  pandas/tests/frame/test_arithmetic.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: plotting a series with a multiplied nanosecond freq (GH#20575) (#70913)
  pandas/tests/plotting/test_datetimelike.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: groupby .plot.line draws one line per group (GH#14486) (#70914)
  pandas/tests/plotting/test_groupby.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: np.allclose on masked arrays without missing values (GH#37915) (#70912)
  pandas/tests/arrays/masked/test_function.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: read_sql_query chunks consumed on another thread (GH#19457) (#70908)
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: tz-aware irregular plot year tick labels (GH#15754) (#70907)
  pandas/tests/plotting/test_datetimelike.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: np.asarray of Int64 without NAs gives int64 (GH#32989) (#70923)
  pandas/tests/base/test_conversion.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: reindex points on CategoricalIndex of intervals keeps target labels (GH#17132) (#70910)
  pandas/tests/indexing/interval/test_interval.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: from_dict orient='index' with single-element tuple keys (GH#9751) (#70906)
  pandas/tests/frame/constructors/test_from_dict.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: setitem with MultiIndex sub-frame keeps mixed dtypes (GH#13433) (#70909)
  pandas/tests/frame/indexing/test_coercion.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

ENH: sniff sep=None with the C engine in read_csv (GH#9645) (#69786)
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v3.2.0.rst
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/common/test_read_errors.py
  pandas/tests/io/parser/test_c_parser_only.py
  pandas/tests/io/parser/test_parallel_read.py
  pandas/tests/io/parser/test_unsupported.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Backport PR #70903 on branch 3.1.x (DOC: correct convert_dtypes docstring to not mention smallest dtype) (#70939)
  pandas/core/generic.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

ENH: convert date and datetime formatted columns when reading SAS XPORT files
  doc/source/whatsnew/v3.2.0.rst
  pandas/io/sas/sas7bdat.py
  pandas/io/sas/sas_dates.py
  pandas/io/sas/sas_xport.py
  pandas/tests/io/sas/data/dates.xpt
  pandas/tests/io/sas/test_xport.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TYP: silence pyright reportReturnType in validate_min_count
  pandas/util/_validators.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations

DOC: Require pandas-review self-review for AI-assisted PRs
  .claude/skills/pandas-review/SKILL.md
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  doc/source/development/contributing.rst
Due: incorrect-backticks, title-capitalization

TST: pivot_table keeps unobserved categories with sum and observed=False (GH#28372) (#70926)
  pandas/tests/reshape/test_pivot.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: crosstab with categorical level and builtin/string aggfunc (GH#47147) (#70922)
  pandas/tests/reshape/test_crosstab.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: merge on differently named indexes keeps the index name (GH#16249) (#70916)
  pandas/tests/reshape/merge/test_merge.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

TST: add regression tests for all-NaN MultiIndex level (GH#26846) (#70934)
  pandas/tests/groupby/test_groupby.py
  pandas/tests/indexes/multi/test_setops.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming

BUG: Correctly pass colLabels and rowLabels for plotting.table (#69921)
  doc/source/whatsnew/v3.2.0.rst
  pandas/plotting/_misc.py
  pandas/tests/plotting/test_misc.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

PERF: parse month-name date strings without dateutil (GH#65381)
  asv_bench/benchmarks/tslibs/timestamp.py
  doc/source/whatsnew/v3.2.0.rst
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/tslibs/test_parsing.py
Due: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, unwanted-patterns-nodefault-used-not-only-for-typing, unwanted-patterns-doesnt-use-pandas-warnings, check-test-naming, sort-whatsnew-items
