Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-bare-pytest-raises:
  name: Check for use of bare pytest raises
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="bare_pytest_raises"

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - tomli
  - pyyaml
  pass_filenames: false

A typo in user guide doc (#58686)
  doc/source/user_guide/merging.rst
Due: incorrect-backticks

DOC: add PR07 for pandas.Index (#58682)
  ci/code_checks.sh
  pandas/core/indexes/base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: add RT03,SA01 for pandas.IntervalIndex.set_closed and pandas.arrays.IntervalArray.set_closed (#58683)
  ci/code_checks.sh
  pandas/core/arrays/interval.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: add GL08 for pandas.IntervalIndex.left
  pandas/core/indexes/interval.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove GL08 for pandas.IntervalIndex.left
  ci/code_checks.sh
Due: none

DOC: fix example for iv_idx.left
  pandas/core/indexes/interval.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: add SA01 for pandas.SparseDtype
  pandas/core/dtypes/dtypes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove SA01 for pandas.SparseDtype
  ci/code_checks.sh
Due: none

STY: Enable all sphinx-lint rules
  .pre-commit-config.yaml
  doc/source/development/maintaining.rst
  doc/source/whatsnew/v0.15.0.rst
  doc/source/whatsnew/v0.15.2.rst
  doc/source/whatsnew/v0.24.0.rst
  doc/source/whatsnew/v0.25.0.rst
  doc/source/whatsnew/v1.1.4.rst
Due: incorrect-backticks, title-capitalization

DOC: Fix SA01 for pandas.SparseDtype (#58688)
  ci/code_checks.sh
  pandas/core/dtypes/dtypes.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: Add GL08 for pandas.intervalIndex.left (#58687)
  ci/code_checks.sh
  pandas/core/indexes/interval.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

bug-DatetimeIndex-is_year_start-breaks-on-freq-BusinessMonthStart
  pandas/_libs/tslibs/fields.pyx
  pandas/tests/indexes/datetimes/test_scalar_compat.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

correct def get_start_end_field
  pandas/_libs/tslibs/fields.pyx
  pandas/tests/indexes/datetimes/test_scalar_compat.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

TST: Test searchsorted for monotonic decreasing index
  pandas/tests/indexes/test_common.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

TST: Fix test failures for test_api_read_sql_duplicate_columns and test_multi_thread_string_io_read_csv
  pandas/tests/io/parser/test_multi_thread.py
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Fix line length
  pandas/tests/io/test_sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

xfail if pyarrow version < 16
  pandas/tests/io/parser/test_multi_thread.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

check name
  pandas/tests/io/parser/test_multi_thread.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

DEPR: Change stacklevel to 2 in DataFrame(mgr) deprecation
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

rename file
  web/pandas/pdeps/0014-string-dtype.md
Due: none

expand Missing value semantics section
  web/pandas/pdeps/0014-string-dtype.md
Due: none

Document Remote Code Execution risk for Dataframe.query and computation.eval
  pandas/core/computation/eval.py
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: add RT03 for pandas.Series.case_when
  pandas/core/series.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove RT03 for pandas.Series.case_when
  ci/code_checks.sh
Due: none

DOC: add RT03,SA01 for pandas.Series.str.translate
  pandas/core/strings/accessor.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: remove RT03,SA01 for pandas.Series.str.translate
  ci/code_checks.sh
Due: none

DOC: add SA01,ES01 for pandas.Timestamp.round
  pandas/_libs/tslibs/timestamps.pyx
Due: none

DOC: remove SA01,ES01 for pandas.Timestamp.round
  ci/code_checks.sh
Due: none

DOC: add SA01,ES01 for pandas.Timestamp.to_pydatetime
  pandas/_libs/tslibs/timestamps.pyx
Due: none

DOC: remove SA01,ES01 for pandas.Timestamp.to_pydatetime
  ci/code_checks.sh
Due: none

expand Naming subsection with storage+na_value proposal
  web/pandas/pdeps/0014-string-dtype.md
Due: none

Expand Backward compatibility section + add proposal for deprecation
  web/pandas/pdeps/0014-string-dtype.md
Due: none

DOC: fixed PR02 for pandas.tseries.offsets.YearBegin
  pandas/_libs/tslibs/offsets.pyx
Due: none

DOC: remove PR02 for pandas.tseries.offsets.YearBegin
  ci/code_checks.sh
Due: none

update timeline
  web/pandas/pdeps/0014-string-dtype.md
Due: none

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
