Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

precommit
  pandas/core/dtypes/cast.py
Due: use-pd_array-in-core

lsof check globally again
  pandas/conftest.py
  pandas/tests/plotting/conftest.py
Due: none

REF: Implement EA._mode, de-special-case categorical/dtlike
  pandas/core/algorithms.py
  pandas/core/arrays/base.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/series.py
  pandas/tests/series/test_reductions.py
  pandas/tests/test_algos.py
Due: use-pd_array-in-core

mypy fixup
  pandas/core/algorithms.py
  pandas/core/arrays/base.py
  pandas/core/arrays/datetimelike.py
Due: use-pd_array-in-core

Fixups
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

Use == to avoid utf-80/81
  pandas/_testing/__init__.py
Due: none

Clear cache in another matplotlib test
  pandas/tests/io/formats/style/test_matplotlib.py
Due: none

Need to rename deps file
  ci/deps/actions-38-locale_clipboard.yaml
  ci/deps/actions-38-locale_slow.yaml
Due: none

DOC: to_hdf() method docstring updated with dropna and index
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

DOC: Fixed docstring order for to_hdf() method
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

BUG: DataFrame(nested_object_ndarray) match DataFrame(nested_pandas_array) GH#43986
  pandas/core/apply.py
  pandas/core/frame.py
  pandas/tests/frame/test_constructors.py
Due: use-pd_array-in-core

Just use '' for default locale
  .github/workflows/posix.yml
  pandas/_testing/__init__.py
Due: none

Just focus on the locals we're migrating
  pandas/_testing/__init__.py
Due: none

CLN: Remove unused db setup_env.sh commands
  ci/setup_env.sh
Due: none

CI: Remove always true azure posix command
  ci/azure/posix.yml
Due: none

xfail non working cases
  pandas/tests/frame/methods/test_between_time.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/tools/test_to_datetime.py
Due: none

move non-keyword deprecation to generic
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/tests/groupby/test_any_all.py
Due: use-pd_array-in-core, no-bool-in-core-generic

allow_duplicates lib.no_default
  pandas/core/frame.py
Due: use-pd_array-in-core

correct deprecation decorators
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/tests/groupby/test_any_all.py
Due: use-pd_array-in-core, no-bool-in-core-generic

TST: implement deserialization tests for older schema versions
  pandas/tests/io/json/test_json_table_schema.py
Due: none

DEPR: Deprecate set and dict as indexers
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/core/indexing.py
  pandas/core/series.py
  pandas/tests/frame/indexing/test_getitem.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/indexing/multiindex/test_loc.py
  pandas/tests/series/indexing/test_getitem.py
  pandas/tests/series/indexing/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

update flake repo url and flake version
  .pre-commit-config.yaml
Due: sync-flake8-versions

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
