Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python scripts/validate_min_versions_in_sync.py
  language: python
  additional_dependencies:
  - tomli

validate-errors-locations:
  name: Validate errors locations
  description: Validate errors are in appropriate locations.
  entry: python scripts/validate_exception_location.py
  language: python

Remove unnecessary function
  pandas/core/indexes/base.py
  pandas/core/indexes/extension.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Make strict-data-files opt out
  pandas/conftest.py
  pyproject.toml
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations

DOC: Add drop to MultiIndex docs
  doc/source/reference/indexing.rst
Due: flake8-rst, incorrect-backticks, title-capitalization

Skip test
  pandas/tests/arrays/period/test_arrow_compat.py
Due: np-testing-array-equal

Fixed backwards condition
  pandas/conftest.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations

debug CI
  pandas/_libs/tslibs/parsing.pyx
Due: cython-casting

added back in changes
  pandas/core/ops/__init__.py
  pandas/tests/frame/methods/test_compare.py
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/frame/test_nonunique_indexes.py
  pandas/tests/series/test_arithmetic.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations

updated whatsnew note
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

CI: Enable pytest -W:::pandas on some builds
  .github/workflows/macos-windows.yml
  .github/workflows/ubuntu.yml
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/core/arrays/masked.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/indexes/datetimes/methods/test_astype.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/io/pytables/test_round_trip.py
  pandas/tests/tslibs/test_parsing.py
Due: cython-casting, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

add ci/deps/actions-311-dev.txt
  .github/workflows/python-dev.yml
  ci/deps/actions-311-dev.txt
Due: none

Fix docstring
  pandas/core/indexes/multi.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

temporarily pin numpy
  ci/deps/actions-310-numpydev.yaml
  ci/deps/actions-310.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/actions-pypy-38.yaml
  ci/deps/circle-38-arm64.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions, pg8000-not-installed-CI

pin in asv.conf too
  asv_bench/asv.conf.json
Due: none

Revert "pin in asv.conf too"
  asv_bench/asv.conf.json
Due: none

use exact pin
  asv_bench/asv.conf.json
Due: none

docs: infer_datetime_format() deprecated
  doc/source/user_guide/io.rst
Due: flake8-rst, incorrect-backticks

PERF: faster infer_dtype when nupy dtype
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/lib.pyx
Due: flake8-rst, cython-casting, incorrect-backticks

Actually fix
  ci/test_wheels.py
  pandas/conftest.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations

add gh-number
  doc/source/whatsnew/v2.0.0.rst
Due: flake8-rst, incorrect-backticks

CI: Temporarily pin numpy (#50356)
  asv_bench/asv.conf.json
  ci/deps/actions-310-numpydev.yaml
  ci/deps/actions-310.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/actions-pypy-38.yaml
  ci/deps/circle-38-arm64.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions, pg8000-not-installed-CI

Backport PR #50356: CI temporarily pin numpy
  asv_bench/asv.conf.json
  ci/deps/actions-310-numpydev.yaml
  ci/deps/actions-310.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/actions-pypy-38.yaml
  ci/deps/circle-38-arm64.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions, pg8000-not-installed-CI

:truck: rename
  .github/workflows/python-dev.yml
  ci/deps/requirements-minimal.txt
Due: none

Maybe fix all
  pandas/conftest.py
  pandas/tests/io/test_pickle.py
  pandas/tests/test_common.py
Due: np-testing-array-equal, use-io-common-urlopen, no-return-exception, validate-errors-locations

Fix link to JSON Table Schema
  pandas/io/json/_table_schema.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

docs: changes in deprecation msg
  doc/source/user_guide/io.rst
Due: flake8-rst, incorrect-backticks

BUG: str dtype ignored for column with dot I
  pandas/io/parsers/python_parser.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fix Union type
  pandas/io/html.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

added copy on write for droplevel
  pandas/core/generic.py
  pandas/tests/copy_view/test_methods.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

Fix link to JSON Table Schema (#50363)
  pandas/io/json/_table_schema.py
Due: use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

TYP: keyword-only NDFrame.fillna (#50345)
  pandas/core/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations

wip
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/tslibs/strptime.pyx
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/tools/test_to_datetime.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal

test for round
  doc/source/whatsnew/v2.0.0.rst
  pandas/tests/scalar/timestamp/test_unary_ops.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal

Adjust options for other wheel builds
  .github/workflows/wheels.yml
  ci/test_wheels.py
  ci/test_wheels_windows.bat
Due: none

BUG: out-of-bounds pydatetime with errors='coerce' and non-ISO format coerces all elements to NaT (#50265)
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/tslibs/strptime.pyx
  pandas/core/tools/datetimes.py
  pandas/tests/tools/test_to_datetime.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

cleanup
  pandas/core/frame.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

cleanup
  pandas/core/internals/array_manager.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
