Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, check-test-naming, sort-whatsnew-items

inconsistent-namespace-usage:
  name: Check for inconsistent use of pandas namespace
  entry: python scripts/check_for_inconsistent_pandas_namespace.py
  language: python

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

unwanted-patterns-private-function-across-module:
  name: Check for use of private functions across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_function_across_module"

unwanted-patterns-private-import-across-module:
  name: Check for import of private attributes across modules
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="private_import_across_module"

unwanted-patterns-nodefault-used-not-only-for-typing:
  name: Check that `pandas._libs.lib.NoDefault` is used only for typing
  language: python
  entry: python scripts/validate_unwanted_patterns.py --validation-type="nodefault_used_not_only_for_typing"

no-return-exception:
  name: Use raise instead of return for exceptions
  language: pygrep
  entry: return [A-Za-z]+(Error|Exit|Interrupt|Exception|Iteration)

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python -m scripts.validate_min_versions_in_sync
  language: python
  additional_dependencies:
  - tomli
  - pyyaml
  pass_filenames: false

validate-errors-locations:
  name: Validate errors locations
  description: Validate errors are in appropriate locations.
  entry: python scripts/validate_exception_location.py
  language: python

check-test-naming:
  name: check that test names start with 'test'
  entry: python -m scripts.check_test_naming
  language: python

sort-whatsnew-items:
  name: sort whatsnew entries alphabetically
  entry: python -m scripts.sort_whatsnew_note
  language: python

WEB: Restore website width and improve table of contents style (#61593)
  web/pandas/static/css/pandas.css
Due: none

Fix: GH-61477
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/reshape/concat.py
  pandas/tests/frame/test_query_eval.py
  scripts/check_for_inconsistent_pandas_namespace.py
  scripts/check_test_naming.py
  scripts/generate_pip_deps_from_conda.py
  scripts/pandas_errors_documented.py
  scripts/sort_whatsnew_note.py
  scripts/tests/test_check_test_naming.py
  scripts/tests/test_inconsistent_namespace_check.py
  scripts/tests/test_validate_docstrings.py
  scripts/validate_docstrings.py
  scripts/validate_exception_location.py
  scripts/validate_min_versions_in_sync.py
  scripts/validate_rst_title_capitalization.py
  scripts/validate_unwanted_patterns.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

WEB: remove "String data type" from "Roadmap points pending a PDEP" section. (#61601)
  web/pandas/about/roadmap.md
Due: none

fix typing
  pandas/io/parsers/readers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

fix(devcontainer): add commented option platform linux/amd64 to docker-compose for M chip Mac compatibility
  .devcontainer.json
  docker-compose.yml
Due: none

fix remote path
  pandas/io/common.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

adding Qt development tools for m chip macs
  Dockerfile
Due: none

update docstring, fix error msg
  pandas/io/common.py
  pandas/tests/io/parser/common/test_file_buffer_url.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

Fix explode to preserve datetime unit in Series and DataFrame; update related tests
  pandas/core/frame.py
  pandas/tests/series/methods/test_explode.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

Fix line length errors in test_explode.py to pass pre-commit checks
  pandas/tests/series/methods/test_explode.py
Due: inconsistent-namespace-usage, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Fix import sorting in pandas/core/frame.py via isort
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Update parquet.py
  pandas/io/parquet.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Update pyproject.toml
  pyproject.toml
Due: none

BUG: Revert SQLAlchemy minimum version back to 1.4.36
  ci/deps/actions-310-minimum_versions.yaml
  ci/deps/actions-310.yaml
  ci/deps/actions-311-downstream_compat.yaml
  ci/deps/actions-311.yaml
  ci/deps/actions-312.yaml
  doc/source/getting_started/install.rst
  environment.yml
  pandas/compat/_optional.py
  pyproject.toml
  requirements-dev.txt
Due: inconsistent-namespace-usage, incorrect-backticks, pip-to-conda, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations

Merge against master
  doc/source/whatsnew/v2.3.0.rst
Due: incorrect-backticks, sort-whatsnew-items

DOC: Added docstrings to min, max, and reso (#61238)
  ci/code_checks.sh
  pandas/_libs/tslibs/timestamps.pyx
Due: none

BUG: OverflowError when fillna on DataFrame with a pd.Timestamp (#61208) (#61216)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_fillna.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

PERF: future_stack=True with non-MulitIndex columns (#58817)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/reshape/reshape.py
  pandas/tests/extension/base/reshaping.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BUG: Handle overlapping line and scatter on the same plot (#61244)
  doc/source/whatsnew/v3.0.0.rst
  pandas/plotting/_matplotlib/core.py
  pandas/plotting/_matplotlib/timeseries.py
  pandas/tests/plotting/frame/test_frame.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: Add documentation for `groupby.ewm()` (#61283)
  doc/source/reference/groupby.rst
  pandas/core/groupby/groupby.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

Bug: Save original index and remap after function completes (#61116)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/methods/selectn.py
  pandas/tests/frame/methods/test_nlargest.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

BLD: Try installing older Cython for windows free threading build (#61249)
  pyproject.toml
  scripts/cibw_before_build_windows.sh
Due: none

ENH(string dtype): fallback for HDF5 with UTF-8 surrogates (#60993)
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_store.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

DOC Update the awkward-pandas GitHub link (#61241)
  web/pandas/community/ecosystem.md
Due: none

DOC: Updated link for OVH server benchmark visualization (#61108)
  web/pandas/community/benchmarks.md
Due: none

DOC: copyedit _base.py (#61299)
  pandas/io/excel/_base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

API: Rename `arg` to `func` in `Series.map` (#61264)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/series.py
  pandas/tests/series/methods/test_map.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

ENH: Support `Series[bool]` as indexer for `iloc.__getitem__` (#61162)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/indexing.py
  pandas/tests/indexing/test_iloc.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

Changed term non-null to NA (#61257)
  pandas/io/formats/info.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

BUG: Fix pyarrow categoricals not working for pivot and multiindex (#61193)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/arrays/categorical.py
  pandas/tests/reshape/test_pivot.py
  pandas/tests/test_multilevel.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

DOC: Update the last ArcticDB link in ecosystem.md (#61258)
  web/pandas/community/ecosystem.md
Due: none

DOC: Add documentation for `groupby.expanding()` (#61274)
  doc/source/reference/groupby.rst
  pandas/core/groupby/groupby.py
Due: inconsistent-namespace-usage, incorrect-backticks, title-capitalization, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations

WEB: Removed Coiled as a sponsor, and update past sponsors list (#61278)
  web/pandas/config.yml
  web/pandas/static/img/partners/coiled.svg
Due: none

BUG: Improve ImportError message to suggest importing dependencies directly for full error details (#61084)
  pandas/__init__.py
  pandas/tests/test_downstream.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

CI Use released numpy for Windows wheels testing (#61248)
  pyproject.toml
  scripts/cibw_before_test_windows.sh
Due: none

STY: Bump pre-commit checks (#61246)
  .pre-commit-config.yaml
  asv_bench/benchmarks/frame_methods.py
  environment.yml
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/core/apply.py
  pandas/core/arrays/string_arrow.py
  pandas/core/generic.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/internals/blocks.py
  pandas/core/internals/construction.py
  pandas/core/internals/managers.py
  pandas/io/formats/format.py
  pandas/io/formats/style_render.py
  pandas/io/pytables.py
  pandas/io/sql.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/dtypes/cast/test_maybe_box_native.py
  pandas/tests/io/parser/test_na_values.py
  pandas/tests/series/accessors/test_cat_accessor.py
  pandas/tests/series/test_constructors.py
  pyproject.toml
  requirements-dev.txt
  setup.py
Due: inconsistent-namespace-usage, seed-check-asv, pip-to-conda, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

BUG: Fix #61222: Keep index name when resampling with pyarrow dtype (#61229)
  doc/source/whatsnew/v3.0.0.rst
  pandas/core/resample.py
  pandas/tests/resample/test_datetime_index.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming, sort-whatsnew-items

TYP: Add ignores for numpy 2.2 updates (#61265)
  pandas/core/algorithms.py
  pandas/core/array_algos/quantile.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/arrow/_arrow_utils.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/base.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/sparse/scipy_sparse.py
  pandas/core/arrays/timedeltas.py
  pandas/core/base.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/core/indexers/objects.py
  pandas/core/indexes/interval.py
  pandas/core/internals/blocks.py
  pandas/core/internals/construction.py
  pandas/core/missing.py
  pandas/core/reshape/encoding.py
  pandas/core/reshape/merge.py
  pandas/core/sorting.py
  pandas/io/formats/format.py
  pandas/io/parsers/python_parser.py
  pandas/plotting/_matplotlib/style.py
  pandas/tests/dtypes/test_missing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, no-return-exception, validate-errors-locations, check-test-naming

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)
