Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

typing of callable for apply methods in styler (#43148)
  pandas/io/formats/style.py
Due: none

BUG: check is_named_tuple for objects that are not subclass of tuple #40682
  pandas/core/dtypes/inference.py
  pandas/tests/io/test_sql.py
Due: use-pd_array-in-core

Updated list of active maintainers #43254
  web/pandas/config.yml
Due: none

fix import
  pandas/tests/io/test_sql.py
Due: none

add options
  pandas/core/config_init.py
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
Due: use-pd_array-in-core

Changing Test Case and updating whatsnew
  doc/source/whatsnew/v1.3.3.rst
  pandas/tests/series/methods/test_tz_localize.py
Due: flake8-rst

Update v1.4.0.rst
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

add docs
  pandas/io/formats/style.py
Due: none

import compat
  pandas/tests/io/test_sql.py
Due: none

Changing Test Case and updating whatsnew
  pandas/tests/series/methods/test_tz_localize.py
Due: none

TST: added tests for to_json when called on complex data (GH41174)
  pandas/tests/io/json/test_pandas.py
Due: none

Add type info
  pandas/_libs/algos.pyi
Due: none

Backport PR #43172: BUG: Pass index data correctly in groupby.transform/agg w/ engine=numba (#43250)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_numba.py
  pandas/tests/groupby/transform/test_numba.py
Due: flake8-rst, use-pd_array-in-core

Bug in RangeIndex.where raising AssertionError when result is not from RangeIndex (#43251)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/ranges/test_setops.py
Due: flake8-rst, use-pd_array-in-core

Backport PR #43251: Bug in RangeIndex.where raising AssertionError when result is not from RangeIndex
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/ranges/test_setops.py
Due: flake8-rst, use-pd_array-in-core

Fix regression ignoring arrays in dtype check
  pandas/core/reshape/merge.py
Due: use-pd_array-in-core

remove tswast
  web/pandas/config.yml
Due: none

Remove aiobotocore pin again
  ci/deps/actions-39.yaml
  ci/deps/azure-windows-38.yaml
  ci/deps/azure-windows-39.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

updating whatsnew
  doc/source/whatsnew/v1.3.3.rst
Due: flake8-rst

WEB: Updated list of active maintainers #43254 (#43255)
  web/pandas/config.yml
Due: none

BUG: rolling.corr with MultiIndex columns
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/window/common.py
  pandas/tests/window/test_rolling.py
Due: flake8-rst, use-pd_array-in-core

my fixes to the code
  pandas/core/generic.py
  pandas/io/formats/style.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/apply/test_frame_transform.py
  pandas/tests/frame/methods/test_at_time.py
  pandas/tests/frame/methods/test_between_time.py
  pandas/tests/frame/methods/test_set_axis.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/window/test_rolling.py
Due: use-pd_array-in-core, no-bool-in-core-generic

DEPR: Passing in a string column label for DataFrame.ewm(times=...)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/window/ewm.py
  pandas/tests/window/test_ewm.py
Due: flake8-rst, use-pd_array-in-core

CLN: Pre Numba 0.46.0 compat
  pandas/core/util/numba_.py
  pandas/tests/frame/test_ufunc.py
  pandas/tests/groupby/aggregate/test_numba.py
  pandas/tests/groupby/transform/test_numba.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_online.py
Due: use-pd_array-in-core

TYP: nanops
  pandas/core/nanops.py
Due: use-pd_array-in-core

ENH: Add Arrow CSV Reader (#43072)
  asv_bench/benchmarks/io/csv.py
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/parsers/arrow_parser_wrapper.py
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/common/test_chunksize.py
  pandas/tests/io/parser/common/test_common_basic.py
  pandas/tests/io/parser/common/test_data_list.py
  pandas/tests/io/parser/common/test_decimal.py
  pandas/tests/io/parser/common/test_file_buffer_url.py
  pandas/tests/io/parser/common/test_float.py
  pandas/tests/io/parser/common/test_index.py
  pandas/tests/io/parser/common/test_inf.py
  pandas/tests/io/parser/common/test_ints.py
  pandas/tests/io/parser/common/test_iterator.py
  pandas/tests/io/parser/common/test_read_errors.py
  pandas/tests/io/parser/common/test_verbose.py
  pandas/tests/io/parser/conftest.py
  pandas/tests/io/parser/dtypes/test_categorical.py
  pandas/tests/io/parser/dtypes/test_dtypes_basic.py
  pandas/tests/io/parser/dtypes/test_empty.py
  pandas/tests/io/parser/test_comment.py
  pandas/tests/io/parser/test_compression.py
  pandas/tests/io/parser/test_converters.py
  pandas/tests/io/parser/test_dialect.py
  pandas/tests/io/parser/test_encoding.py
  pandas/tests/io/parser/test_header.py
  pandas/tests/io/parser/test_index_col.py
  pandas/tests/io/parser/test_mangle_dupes.py
  pandas/tests/io/parser/test_multi_thread.py
  pandas/tests/io/parser/test_na_values.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/io/parser/test_quoting.py
  pandas/tests/io/parser/test_skiprows.py
  pandas/tests/io/parser/test_unsupported.py
  pandas/tests/io/parser/usecols/test_parse_dates.py
  pandas/tests/io/parser/usecols/test_usecols_basic.py
Due: flake8-rst

add PR number
  doc/source/whatsnew/v1.4.0.rst
  pandas/tests/window/test_ewm.py
Due: flake8-rst

Technically not mean
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

TST: unhoused test_offsets fn to custom business hour (#27045) (#43218)
  pandas/tests/tseries/offsets/test_custom_business_hour.py
  pandas/tests/tseries/offsets/test_offsets.py
Due: none

checked the extra dataframe imports. hopefully, its fixed now
  pandas/core/arrays/datetimes.py
  pandas/core/generic.py
  pandas/core/reshape/pivot.py
  pandas/io/formats/style.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/frame/methods/test_between_time.py
Due: use-pd_array-in-core, no-bool-in-core-generic

updating whatsnew
  doc/source/whatsnew/v1.3.3.rst
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

updated docstring for inclusive
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

add tests
  pandas/core/config_init.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_format.py
  pandas/tests/io/formats/style/test_style.py
Due: use-pd_array-in-core

Backport PR #43251: Bug in RangeIndex.where raising AssertionError when result is not from RangeIndex (#43259)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/ranges/test_setops.py
Due: flake8-rst, use-pd_array-in-core

PERF: to_datetime with uint
  asv_bench/benchmarks/inference.py
  pandas/_libs/tslib.pyx
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
