Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python scripts/validate_min_versions_in_sync.py
  language: python

lint
  doc/source/user_guide/style.ipynb
  pandas/__init__.py
  pandas/core/api.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/arrow/dtype.py
Due: use-pd_array-in-core, use-io-common-urlopen

add checker dtype
  pandas/core/arrays/arrow/floating.py
  pandas/core/arrays/arrow/numeric.py
Due: use-pd_array-in-core, use-io-common-urlopen

restore style from main
  doc/source/user_guide/style.ipynb
Due: none

lint
  doc/source/user_guide/style.ipynb
  pandas/core/arrays/arrow/floating.py
  pandas/core/arrays/arrow/numeric.py
Due: use-pd_array-in-core, use-io-common-urlopen

lint
  pandas/core/arrays/arrow/floating.py
Due: use-pd_array-in-core, use-io-common-urlopen

undo ipynb
  doc/source/user_guide/style.ipynb
Due: none

Backport PR #46981: CI: Move MacOS build from Azure to GHA (#47007)
  .github/workflows/macos-windows.yml
  azure-pipelines.yml
  ci/azure/posix.yml
  ci/setup_env.sh
Due: none

rolling type
  pandas/core/window/rolling.py
Due: use-pd_array-in-core, use-io-common-urlopen

add empty cases
  pandas/core/window/rolling.py
Due: use-pd_array-in-core, use-io-common-urlopen

Backport PR #47020: CI: Move 32 bit Linux build to GHA
  .github/workflows/32-bit-linux.yml
  .github/workflows/python-dev.yml
  README.md
  azure-pipelines.yml
  doc/source/development/contributing_codebase.rst
  pandas/conftest.py
  pandas/tests/io/conftest.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_online.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, title-capitalization, use-io-common-urlopen

add test
  pandas/tests/window/test_rolling.py
Due: np-testing-array-equal

Code review: removed __main__ in asv bench
  asv_bench/benchmarks/tslibs/strftime.py
Due: seed-check-asv

code review: whatsnew
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst, incorrect-backticks

Code review: added asserts to ensure basic_format and basic_format_day are exclusive
  pandas/_libs/tslib.pyx
Due: cython-casting

Backport PR #47015: CI: Ensure no-use-pep517 with no-build-isolation with new pip version
  ci/setup_env.sh
Due: none

Backport PR #47020: CI: Move 32 bit Linux build to GHA (#47029)
  .github/workflows/32-bit-linux.yml
  .github/workflows/python-dev.yml
  README.md
  azure-pipelines.yml
  doc/source/development/contributing_codebase.rst
  pandas/conftest.py
  pandas/tests/io/conftest.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_online.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, title-capitalization, use-io-common-urlopen

Code review: inline comment style
  pandas/io/excel/_odswriter.py
Due: use-io-common-urlopen

Attempt to improve SQL ASV (not tested)
  asv_bench/benchmarks/io/sql.py
Due: seed-check-asv

Backport PR #47015: CI: Ensure no-use-pep517 with no-build-isolation with new pip version (#47031)
  ci/setup_env.sh
Due: none

CI: Start Testing on Python 3.11
  .github/workflows/python-dev.yml
Due: none

install numpy from github repo
  .github/workflows/python-dev.yml
Due: none

Fix all tests, with both MultiIndex -> Index and np.nan -> None conversions resolved
  pandas/io/html.py
  pandas/tests/io/test_html.py
Due: np-testing-array-equal, use-io-common-urlopen

Fixed SQL ASV Bench.
  asv_bench/benchmarks/io/sql.py
Due: seed-check-asv

Add other dtype attributes
  pandas/core/arrays/arrow/dtype.py
Due: use-pd_array-in-core, use-io-common-urlopen

fix doctest
  pandas/core/generic.py
Due: use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

Black
  asv_bench/benchmarks/io/sql.py
Due: seed-check-asv

add helper function
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/interval.pyx
  pandas/_libs/intervaltree.pxi.in
  pandas/core/arrays/arrow/_arrow_utils.py
  pandas/core/arrays/interval.py
  pandas/core/dtypes/dtypes.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/interval.py
  pandas/tests/dtypes/test_dtypes.py
Due: flake8-rst, cython-casting, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

interval
  pandas/_libs/interval.pyi
  pandas/_libs/interval.pyx
  pandas/core/indexes/datetimes.py
Due: cython-casting, use-pd_array-in-core, use-io-common-urlopen

use aggregation
  pandas/core/window/rolling.py
  pandas/tests/window/test_rolling.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

DOC: Fix a typo in documentation for qyear
  pandas/_libs/tslibs/period.pyx
Due: cython-casting

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
