Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, cython-casting, incorrect-backticks, seed-check-asv, np-testing-array-equal, invalid-ea-testing, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

cython-casting:
  name: Check Cython casting is `<type>obj`, not `<type> obj`
  language: pygrep
  entry: '[a-zA-Z0-9*]> '

incorrect-backticks:
  name: Check for backticks incorrectly rendering because of missing spaces
  language: pygrep
  entry: '[a-zA-Z0-9]\`\`?[a-zA-Z0-9]'

seed-check-asv:
  name: Check for unnecessary random seeds in asv benchmarks
  language: pygrep
  entry: np\.random\.seed

np-testing-array-equal:
  name: Check for usage of numpy testing or array_equal
  language: pygrep
  entry: (numpy|np)(\.testing|\.array_equal)

invalid-ea-testing:
  name: Check for invalid EA testing
  language: pygrep
  entry: tm\.assert_(series|frame)_equal

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml
  - toml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

use-io-common-urlopen:
  name: Use pandas.io.common.urlopen instead of urllib.request.urlopen
  language: python
  entry: python scripts/use_io_common_urlopen.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

pandas-errors-documented:
  name: Ensure pandas errors are documented in doc/source/reference/testing.rst
  entry: python scripts/pandas_errors_documented.py
  language: python

pg8000-not-installed-CI:
  name: Check for pg8000 not installed on CI for test_pg8000_sqlalchemy_passthrough_error
  language: pygrep
  entry: pg8000

validate-min-versions-in-sync:
  name: Check minimum version of dependencies are aligned
  entry: python scripts/validate_min_versions_in_sync.py
  language: python

add
  doc/source/whatsnew/v1.6.0.rst
  pandas/io/formats/format.py
Due: flake8-rst, incorrect-backticks, use-io-common-urlopen

BUG: Add note in whatsnew for DataFrame.at behavior change
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst, incorrect-backticks

add
  pandas/core/dtypes/common.py
  pandas/core/frame.py
Due: use-pd_array-in-core, use-io-common-urlopen

fix error in pre-commit checks also move my new test to the bottom of the class since it was not put in the right place before
  pandas/tests/indexing/test_at.py
Due: np-testing-array-equal

DEPR: Deprecate positional arguments in pivot (#48301)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/reshape/pivot.py
  pandas/tests/reshape/test_pivot.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Backport PR #48301: DEPR: Deprecate positional arguments in pivot
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/reshape/pivot.py
  pandas/tests/reshape/test_pivot.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

Backport PR #48301 on branch 1.5.x (DEPR: Deprecate positional arguments in pivot) (#48326)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/reshape/pivot.py
  pandas/tests/reshape/test_pivot.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

add test for inconsistent dataframe representation for empty inputs
  pandas/tests/groupby/test_apply.py
Due: np-testing-array-equal

precomit
  pandas/tests/groupby/test_apply.py
Due: np-testing-array-equal

add tests for dataframe returned for alternative agg method call
  pandas/tests/apply/test_frame_apply.py
Due: np-testing-array-equal

Update to `jupyterlite==0.1.0b12`
  environment.yml
Due: pip-to-conda, sync-flake8-versions

Update requirements-dev.txt
  requirements-dev.txt
Due: pip-to-conda

add test for empty input construct
  pandas/tests/frame/test_constructors.py
Due: np-testing-array-equal

precommit
  pandas/tests/frame/test_constructors.py
Due: np-testing-array-equal

Backport PR #48214 on branch 1.5.x (WEB: Removing links to pdf version of the docs from web and docs) (#48242)
  doc/source/index.rst.template
  web/pandas/index.html
Due: none

Backport PR #48159 on branch 1.5.x (TST: Fix interchange/plotting/groupby test warnings) (#48279)
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/interchange/from_dataframe.py
  pandas/plotting/_matplotlib/core.py
  pandas/plotting/_matplotlib/hist.py
  pandas/plotting/_matplotlib/misc.py
  pandas/tests/groupby/test_counting.py
  pandas/tests/groupby/test_function.py
  pandas/tests/io/sas/test_sas7bdat.py
  pandas/tests/plotting/frame/test_hist_box_by.py
Due: np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen

merge conflicts regarding insert function and type specifications
  pandas/io/sql.py
Due: use-io-common-urlopen

removing whitespace in l1109
  pandas/io/sql.py
Due: use-io-common-urlopen

add encoding constant for whole documentation -- incl. explicit not found references
  pandas/io/sas/sas_constants.py
Due: use-io-common-urlopen

remove typing annotation and assert error message
  pandas/tests/io/sas/test_sas7bdat.py
Due: np-testing-array-equal

rewrite test: no type hinting + context manager call
  pandas/tests/io/sas/test_sas7bdat.py
Due: np-testing-array-equal

ENH: allow user to infer SAS file encoding; use detected encoding; add correct encoding names
  pandas/io/sas/sas7bdat.py
  pandas/io/sas/sas_constants.py
  pandas/tests/io/sas/test_sas7bdat.py
Due: np-testing-array-equal, use-io-common-urlopen

include initial release documentation
  doc/source/whatsnew/v1.4.4.rst
Due: flake8-rst, incorrect-backticks

moved release note to 1.6.0
  doc/source/whatsnew/v1.4.4.rst
  doc/source/whatsnew/v1.6.0.rst
Due: flake8-rst, incorrect-backticks

TST: add tests for using .at() with DateTime indexes (#48286)
  pandas/tests/indexing/test_at.py
Due: np-testing-array-equal

added testcase
  pandas/tests/frame/methods/test_astype.py
Due: np-testing-array-equal

BUG: read_html(extract_links=all) with no header
  pandas/io/html.py
  pandas/tests/io/test_html.py
Due: np-testing-array-equal, use-io-common-urlopen

ENH: Add axis parameter to add_prefix and add_suffix (#48085)
  doc/source/whatsnew/v1.6.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_add_prefix_suffix.py
  pandas/tests/series/methods/test_add_prefix_suffix.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic

Run GC in file leak check (#48294)
  pandas/util/_test_decorators.py
Due: use-io-common-urlopen

Use fixture
  pandas/tests/frame/methods/test_reindex.py
Due: np-testing-array-equal

SAS7BDAT parser: Improve subheader lookup performance
  pandas/io/sas/sas.pyx
  pandas/io/sas/sas7bdat.py
Due: cython-casting, use-io-common-urlopen

Fix ssize_t type
  pandas/io/sas/sas.pyx
Due: cython-casting

Update _sas.pyi
  pandas/io/sas/_sas.pyi
Due: none

Add whatsnew and tests
  doc/source/whatsnew/v1.6.0.rst
  pandas/tests/indexes/multi/test_duplicates.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal

Add gh ref
  doc/source/whatsnew/v1.6.0.rst
  pandas/tests/indexes/multi/test_duplicates.py
Due: flake8-rst, incorrect-backticks, np-testing-array-equal

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  cython-casting: any of: (\.pyx|\.pxi.in)$, but not: ^LICENSES/|\.(html|csv|svg)$
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  np-testing-array-equal: any of: ^pandas/tests/ and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  invalid-ea-testing: any of: ^pandas/tests/extension/base and \.py$ and not (^pandas/tests/extension/base/base\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
