Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

BUG: RecursionError when attempting to replace "np.nan" values under main branch (#45725)
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

Fixes from pre-commit [automated commit]
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

BUG: Series.mask with small int dtypes raising
  pandas/core/array_algos/putmask.py
  pandas/core/dtypes/cast.py
  pandas/core/internals/blocks.py
  pandas/tests/series/indexing/test_setitem.py
Due: use-pd_array-in-core

Xfail for flaky macos pyarrow parquet thing
  ci/azure/posix.yml
  pandas/tests/io/test_common.py
  pandas/tests/io/test_fsspec.py
  pandas/tests/io/test_parquet.py
Due: none

Xfail for flaky macos pyarrow parquet thing
  pandas/tests/io/test_common.py
Due: none

BUG: RecursionError when attempting to replace np.nan values (#45725)
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/series/methods/test_replace.py
Due: none

BUG: RecursionError when attempting to replace np.nan values (#45725)
  pandas/tests/frame/methods/test_replace.py
Due: none

32bit compat
  pandas/tests/series/indexing/test_setitem.py
Due: none

implement isetitem
  pandas/core/frame.py
  pandas/core/indexing.py
Due: use-pd_array-in-core

Address more pyarrow compat
  pandas/tests/io/test_common.py
  pandas/tests/io/test_parquet.py
Due: none

Escape the brackets
  pandas/tests/io/test_common.py
Due: none

Updated doc string
  pandas/core/frame.py
  pandas/core/series.py
Due: use-pd_array-in-core

Backport PR #45679: BUG: Do not error on other dbapi2 connections
  doc/source/whatsnew/v1.4.1.rst
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: flake8-rst

Backport PR #45581: CI: Fix actions-310 testing 3.9 instead of 3.10
  ci/deps/actions-310.yaml
  pandas/tests/io/test_fsspec.py
  pandas/tests/io/test_parquet.py
  pandas/tests/io/test_user_agent.py
Due: none

DOC: minor fix to 1.4.1 release notes
  doc/source/whatsnew/v1.4.1.rst
Due: flake8-rst

Backport PR #45679: BUG: Do not error on other dbapi2 connections (#45754)
  doc/source/whatsnew/v1.4.1.rst
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: flake8-rst

DOC: move pydata-sphinx-theme to the conda packages section
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

Backport PR #45581: CI: Fix actions-310 testing 3.9 instead of 3.10 (#45755)
  ci/deps/actions-310.yaml
  pandas/tests/io/test_fsspec.py
  pandas/tests/io/test_parquet.py
  pandas/tests/io/test_user_agent.py
Due: none

DOC: minor tidy of 1.4.1 release notes
  doc/source/whatsnew/v1.4.1.rst
Due: flake8-rst

RFT: Change variable names and comment #38672
  pandas/core/groupby/generic.py
Due: use-pd_array-in-core

Backport PR #45756: DOC: minor fix to 1.4.1 release notes
  doc/source/whatsnew/v1.4.1.rst
Due: flake8-rst

Backport PR #45757: DOC: move pydata-sphinx-theme to the conda packages section
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

Backport PR #45651: CI/TST: Skip another s3 test that can crash GHA worker
  .github/workflows/posix.yml
  pandas/tests/base/test_unique.py
  pandas/tests/io/parser/test_network.py
  pandas/tests/io/test_fsspec.py
  pandas/tests/io/test_parquet.py
  pandas/tests/io/test_user_agent.py
Due: none

Improve test names and organization
  pandas/tests/reshape/test_from_dummies.py
Due: none

Show DataFrames used in docstring examples
  pandas/core/reshape/encoding.py
Due: use-pd_array-in-core

add
  pandas/tests/groupby/test_categorical.py
Due: none
