Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: inconsistent-namespace-usage, incorrect-backticks, seed-check-asv, pip-to-conda, title-capitalization, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, pandas-errors-documented, pg8000-not-installed-CI, validate-min-versions-in-sync, validate-errors-locations, future-annotations, check-test-naming, sort-whatsnew-items

Path conditions:
  inconsistent-namespace-usage: any of: \.py$ and not (^pandas/core/interchange/) and not (^LICENSES/|\.(html|csv|svg)$)
  incorrect-backticks: any of: ^doc/source/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  seed-check-asv: any of: ^asv_bench/benchmarks and not (^asv_bench/benchmarks/pandas_vb_common\.py) and not (^LICENSES/|\.(html|csv|svg)$)
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-bare-pytest-raises: any of: ^pandas/tests/ and \.py$ and not (^pandas/tests/extension/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-function-across-module: any of: \.py$ and not (^(asv_bench|pandas/tests|doc)/) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-private-import-across-module: any of: \.py$ and not ((?x)
^(asv_bench|pandas/tests|doc)/
|scripts/validate_min_versions_in_sync\.py$
) and not (^LICENSES/|\.(html|csv|svg)$)
  unwanted-patterns-nodefault-used-not-only-for-typing: any of: \.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  use-io-common-urlopen: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  no-return-exception: any of: ^pandas/ and \.py$ and not (^pandas/tests/) and not (^LICENSES/|\.(html|csv|svg)$)
  pandas-errors-documented: any of: ^pandas/errors/__init__.py$, but not: ^LICENSES/|\.(html|csv|svg)$
  pg8000-not-installed-CI: any of: ^ci/deps and \.(yaml|yml)$ and not (^LICENSES/|\.(html|csv|svg)$)
  validate-min-versions-in-sync: any of: ^(ci/deps/actions-.*-minimum_versions\.yaml|pandas/compat/_optional\.py)$, but not: ^LICENSES/|\.(html|csv|svg)$
  validate-errors-locations: any of: ^pandas/ and \.py$ and not (^(pandas/_libs/|pandas/tests/|pandas/errors/__init__.py$|pandas/_version.py)) and not (^LICENSES/|\.(html|csv|svg)$)
  future-annotations: any of: ^pandas/ and \.py$ and not ((?x)
/(__init__\.py)|(api\.py)|(_version\.py)|(testing\.py)|(conftest\.py)$
|/tests/
|/_testing/
) and not (^LICENSES/|\.(html|csv|svg)$)
  check-test-naming: any of: ^pandas/tests and \.py$ and not (^LICENSES/|\.(html|csv|svg)$)
  sort-whatsnew-items: any of: ^doc/source/whatsnew/v and \.rst$ and not (^doc/source/whatsnew/v(0|1|2\.0\.0)) and not (^LICENSES/|\.(html|csv|svg)$)

TST: fix test_complibs on mac (#57652)
  pandas/tests/io/pytables/test_file_handling.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Some hacks
  pandas/_libs/buffer.pyx
Due: none

CLN: Enforce deprecation of using alias for builtin/NumPy funcs (#57444) * CLN: Enforce deprecation of using alias for builtin/NumPy funcs
  scripts/handle_outliers.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing

Fix indexer
  pandas/core/indexes/range.py
  pandas/tests/indexes/ranges/test_join.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

add name
  pandas/core/indexes/range.py
  pandas/tests/frame/methods/test_reindex.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Skip for type self, undo test
  pandas/core/indexes/range.py
  pandas/tests/frame/methods/test_reindex.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

REF: simplify pytables _set_tz (#57654)
  pandas/io/pytables.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

Use intp
  pandas/tests/indexes/ranges/test_range.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

Fixing bug_ 57596
  doc/source/whatsnew/v2.2.1.rst
  pandas/core/indexing.py
Due: inconsistent-namespace-usage, incorrect-backticks, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, sort-whatsnew-items

removing comments in rst file
  doc/source/whatsnew/v2.2.1.rst
Due: incorrect-backticks, sort-whatsnew-items

FIX: fix default argument of duplicated
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fixing bugs
  pandas/core/indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fixing doc bug
  doc/source/whatsnew/v2.2.1.rst
Due: incorrect-backticks, sort-whatsnew-items

Update pandas/io/feather_format.py
  pandas/io/feather_format.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

capitalize the letter p in error message
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/strptime.pyx
  pandas/core/tools/datetimes.py
  pandas/tests/indexes/datetimes/test_constructors.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tslibs/test_array_to_datetime.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

DOC: add note on duplicate indices on parameter other (#55509)
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

DOC: RT03 fix for read_sql_query, read_feather (#57649)
  ci/code_checks.sh
  pandas/io/feather_format.py
  pandas/io/sql.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CLN: unify error message when parsing datetimes with mixed time zones with utc=False (#57653)
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/strptime.pyx
  pandas/core/tools/datetimes.py
  pandas/tests/indexes/datetimes/test_constructors.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tslibs/test_array_to_datetime.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Doc: resolve GL08 for pandas.Timedelta.microseconds, unit & value (#57616)
  ci/code_checks.sh
  pandas/_libs/tslibs/timedeltas.pyx
Due: none

CLN: replace unnecessary `freq_to_period_freqstr` with `PeriodDtype` constructor (#56550)
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/core/arrays/period.py
  pandas/core/generic.py
  pandas/core/indexes/datetimelike.py
  pandas/core/resample.py
  pandas/io/json/_table_schema.py
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tseries/frequencies.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-bool-in-core-generic, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

BUG: interchange protocol with nullable datatypes a non-null validity provides nonsense results
  pandas/core/interchange/column.py
  pandas/tests/interchange/test_impl.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

whatsnew
  doc/source/whatsnew/v2.2.1.rst
Due: incorrect-backticks, sort-whatsnew-items

:label: typing
  pandas/core/interchange/column.py
Due: unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

ENH: Report how far off the formatting is
  pandas/io/excel/_base.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

fixing the bug
  pandas/core/indexing.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

FIX: Message
  pandas/tests/io/excel/test_writers.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

ENH: Report how far off the formatting is (#57667)
  pandas/io/excel/_base.py
  pandas/tests/io/excel/test_writers.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

CLN: More numpy 2 stuff
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
Due: none

More
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
Due: none

correct get_reso_from_freqstr, fix tests for Resolution
  pandas/_libs/tslibs/dtypes.pyx
  pandas/tests/tslibs/test_resolution.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-nodefault-used-not-only-for-typing, check-test-naming

fix warning
  pandas/_libs/src/vendored/ujson/python/objToJSON.c
Due: none

hack things green
  pandas/core/arrays/string_.py
  pandas/tests/extension/array_with_attr/array.py
  pandas/tests/extension/list/array.py
  pandas/tests/extension/test_common.py
  pandas/tests/frame/methods/test_select_dtypes.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming

Update drop duplicates documentation to specify method limitation
  pandas/core/frame.py
Due: inconsistent-namespace-usage, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations

CLN: Enforce deprecation of pinning name in SeriesGroupBy.agg
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_reductions.py
Due: inconsistent-namespace-usage, unwanted-patterns-bare-pytest-raises, unwanted-patterns-private-function-across-module, unwanted-patterns-private-import-across-module, unwanted-patterns-nodefault-used-not-only-for-typing, use-pd_array-in-core, use-io-common-urlopen, no-return-exception, validate-errors-locations, future-annotations, check-test-naming
