Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip_to_conda, flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

pip_to_conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python -m scripts.generate_pip_deps_from_conda
  pass_filenames: false
  additional_dependencies:
  - pyyaml

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

incorrect-sphinx-directives:
  name: Check for incorrect Sphinx directives
  language: pygrep
  ...

non-standard-imports:
  name: Check for non-standard imports
  language: pygrep
  entry: '(?x)
  
    # Check for imports from pandas.core.common instead of `import pandas.core.common as com`
  
    from\ pandas\.core\.common\ import|
  
    from\ pandas\.core\ import\ common|
  
  
  ...

non-standard-imports-in-tests:
  name: Check for non-standard imports in test suite
  language: pygrep
  entry: '(?x)
  
    # Check for imports from pandas._testing instead of `import pandas._testing as tm`
  
    from\ pandas\._testing\ import|
  
    from\ pandas\ import\ _testing\ as\ tm|
  
  
    # No direct imports from conftest
  
  ...

incorrect-code-directives:
  name: Check for incorrect code block or IPython directives
  language: pygrep
  entry: (\.\. code-block ::|\.\. ipython ::)

typing
  pandas/core/reshape/pivot.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

troubleshoot
  pandas/core/indexing.py
  pandas/tests/frame/indexing/test_indexing.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

review comments
  pandas/core/frame.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Explicit cast to int64
  pandas/tests/io/test_sql.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

revert mistaken refactor
  pandas/io/parsers.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

typing
  pandas/io/parsers.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

REF: ArrowParserWrapper.read
  pandas/io/parsers.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

REF: simplify casting (#38404)
  pandas/core/arrays/sparse/array.py
  pandas/core/construction.py
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

CLN: remove internal usage of integer_array() (#38289)
  pandas/core/arrays/__init__.py
  pandas/core/arrays/integer.py
  pandas/tests/arrays/integer/conftest.py
  pandas/tests/arrays/integer/test_arithmetic.py
  pandas/tests/arrays/integer/test_construction.py
  pandas/tests/arrays/integer/test_dtypes.py
  pandas/tests/arrays/integer/test_function.py
  pandas/tests/arrays/integer/test_repr.py
  pandas/tests/arrays/test_array.py
  pandas/tests/base/test_conversion.py
  pandas/tests/extension/test_integer.py
  pandas/tests/frame/methods/test_astype.py
  pandas/tests/frame/methods/test_get_numeric_data.py
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/reshape/concat/test_concat.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

REF: de-duplicate get_indexer methods (#38372)
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/core/indexes/extension.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/multi.py
  pandas/core/indexes/period.py
  pandas/core/indexes/range.py
  pandas/tests/indexes/categorical/test_indexing.py
  pandas/tests/indexes/common.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

REF: implement sanitize_masked_array (#38398)
  pandas/core/construction.py
  pandas/core/frame.py
  pandas/core/internals/construction.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Remove accidental check_dtype=False
  pandas/tests/io/test_sql.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

ENH: Add MultiIndex.dtypes (#37073)
  doc/source/reference/indexing.rst
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/indexes/multi.py
  pandas/tests/indexes/multi/test_get_set.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

REF: simplify internals.construction (#38400)
  pandas/core/internals/construction.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

CL: debut sql tests
  ci/deps/actions-38-slow.yaml
Due: none

Change caching key to handing callers from Rolling or Expanding
  pandas/core/generic.py
  pandas/core/window/expanding.py
  pandas/core/window/numba_.py
  pandas/core/window/rolling.py
  pandas/tests/window/test_numba.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

CLN: Implement multiindex handling for get_op_result_name (#38323)
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/ops/common.py
  pandas/tests/indexes/multi/test_setops.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Test expanding table
  pandas/tests/window/test_numba.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

add end and end_day origin for resample
  doc/source/whatsnew/v1.2.0.rst
  pandas/core/generic.py
  pandas/core/groupby/grouper.py
  pandas/core/resample.py
  pandas/tests/resample/test_datetime_index.py
  pandas/tests/resample/test_resample_api.py
  test.ipynb
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Delete test.ipynb
  test.ipynb
Due: none

fix
  pandas/core/resample.py
  pandas/tests/resample/test_resample_api.py
  test.ipynb
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

update
  doc/source/whatsnew/v1.2.0.rst
  pandas/core/resample.py
  pandas/tests/resample/test_datetime_index.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

fix
  pandas/tests/resample/test_resample_api.py
  test.ipynb
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Update v1.3.0.rst
  doc/source/whatsnew/v1.3.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

update version
  pandas/core/generic.py
  pandas/core/groupby/grouper.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

BUG: read_csv not recognizing numbers appropriately when decimal is set
  doc/source/whatsnew/v1.3.0.rst
  pandas/io/parsers.py
  pandas/tests/io/parser/test_python_parser_only.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Add corner case
  pandas/io/parsers.py
  pandas/tests/io/parser/test_python_parser_only.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Add another corner case
  pandas/io/parsers.py
  pandas/tests/io/parser/test_python_parser_only.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Run black
  pandas/tests/io/parser/test_python_parser_only.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Fix pep8 issue
  pandas/io/parsers.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Add gh refernce
  pandas/core/generic.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Fix pep8
  pandas/io/parsers.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Path conditions:
  pip_to_conda: any of: ^(environment.yml|requirements-dev.txt)$
  flake8-rst: any of: \.rst$
  incorrect-sphinx-directives: any of: \.(py|pyx|rst)$
  non-standard-imports: any of: \.py$
  non-standard-imports-in-tests: any of: ^pandas/tests/ and \.py$
  incorrect-code-directives: any of: \.(py|pyx|rst)$
