Repository pandas-dev/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip_to_conda, flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

pip_to_conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python -m scripts.generate_pip_deps_from_conda
  pass_filenames: false
  additional_dependencies:
  - pyyaml

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

incorrect-sphinx-directives:
  name: Check for incorrect Sphinx directives
  language: pygrep
  ...

non-standard-imports:
  name: Check for non-standard imports
  language: pygrep
  entry: '(?x)
  
    # Check for imports from pandas.core.common instead of `import pandas.core.common as com`
  
    from\ pandas\.core\.common\ import|
  
    from\ pandas\.core\ import\ common|
  
  
  ...

non-standard-imports-in-tests:
  name: Check for non-standard imports in test suite
  language: pygrep
  entry: '(?x)
  
    # Check for imports from pandas._testing instead of `import pandas._testing as tm`
  
    from\ pandas\._testing\ import|
  
    from\ pandas\ import\ _testing\ as\ tm|
  
  
    # No direct imports from conftest
  
  ...

incorrect-code-directives:
  name: Check for incorrect code block or IPython directives
  language: pygrep
  entry: (\.\. code-block ::|\.\. ipython ::)

BUG: skip_blank_lines ignored by read_fwf
  pandas/tests/io/parser/test_read_fwf.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

BUG: skip_blank_lines ignored by read_fwf
  doc/source/whatsnew/v1.2.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

BUG: DataFrame.all(bool_only=True) inconsistency with object dtype
  doc/source/whatsnew/v1.2.0.rst
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/internals/test_internals.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

REF: avoid try/except in Block.where
  pandas/core/internals/blocks.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Add test in different file
  pandas/tests/reshape/concat/test_concat.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Fix pattern
  pandas/tests/reshape/concat/test_concat.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

replaced filter usage
  pandas/io/parsers.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Move whatsnew and remove pass
  doc/source/whatsnew/v1.1.5.rst
  doc/source/whatsnew/v1.2.0.rst
  pandas/core/indexing.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TST: split up tests/plotting/test_frame.py into subdir & modules #34769 (#37655)
  pandas/tests/plotting/frame/__init__.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/frame/test_frame_color.py
  pandas/tests/plotting/frame/test_frame_groupby.py
  pandas/tests/plotting/frame/test_frame_subplots.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

whitespace fixup
  doc/source/development/test_writing.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

ENH: Add 'end' option in resample's origin
  pandas/tests/resample/test_resample_api.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

CLN: remove unreachable in interpolate_with_fill (#37791)
  pandas/core/internals/blocks.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

CLN: remove no-longer-reachable Block.replace code (#37789)
  pandas/core/internals/blocks.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

REF: implement Block._putmask_simple for non-casting putmask (#37788)
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/series/methods/test_replace.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Update resample.py
  pandas/core/resample.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

TYP: fix mypy ignored error in pandas/tests/io/test_fsspec.py (#37797)
  pandas/tests/io/test_fsspec.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

BUG: adding Timedelta to DatetimeIndex raising incorrectly (#37780)
  doc/source/whatsnew/v1.1.5.rst
  pandas/core/arrays/datetimelike.py
  pandas/tests/indexes/datetimes/test_misc.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Backport PR #37780: BUG: adding Timedelta to DatetimeIndex raising incorrectly
  doc/source/whatsnew/v1.1.5.rst
  pandas/core/arrays/datetimelike.py
  pandas/tests/indexes/datetimes/test_misc.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

BUG: Groupby head/tail with axis=1 fails (#37778)
  doc/source/whatsnew/v1.2.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_nth.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

CLN: _get_daily_rule (#37775)
  pandas/core/arrays/datetimelike.py
  pandas/tseries/frequencies.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

Update test_resample_api.py
  pandas/tests/resample/test_resample_api.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

TST/REF: collect Index setop, indexing tests (#37773)
  pandas/tests/indexes/common.py
  pandas/tests/indexes/numeric/test_indexing.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/test_indexing.py
  pandas/tests/indexes/test_numeric.py
  pandas/tests/indexes/test_setops.py
Due: incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

whatsnew
  doc/source/whatsnew/v1.2.0.rst
Due: flake8-rst, incorrect-sphinx-directives, incorrect-code-directives

CLN: remove unused min_count argument in libgroupby.group_nth (#37747)
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

comment
  pandas/core/internals/blocks.py
Due: incorrect-sphinx-directives, non-standard-imports, incorrect-code-directives

API: consistently raise TypeError for invalid-typed fill_value (#37733)
  doc/source/whatsnew/v1.2.0.rst
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/interval.py
  pandas/core/indexes/multi.py
  pandas/tests/arrays/categorical/test_take.py
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/arrays/test_period.py
  pandas/tests/extension/test_interval.py
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/indexes/categorical/test_category.py
  pandas/tests/indexes/categorical/test_reindex.py
  pandas/tests/indexes/interval/test_interval.py
  pandas/tests/indexing/test_categorical.py
  pandas/tests/series/methods/test_shift.py
Due: flake8-rst, incorrect-sphinx-directives, non-standard-imports, non-standard-imports-in-tests, incorrect-code-directives

Path conditions:
  pip_to_conda: any of: ^(environment.yml|requirements-dev.txt)$
  flake8-rst: any of: \.rst$
  incorrect-sphinx-directives: any of: \.(py|pyx|rst)$
  non-standard-imports: any of: \.py$
  non-standard-imports-in-tests: any of: ^pandas/tests/ and \.py$
  incorrect-code-directives: any of: \.(py|pyx|rst)$
